[2019-01-20 18:35] SamaneYaghoobi commented on #354
@dcvz Thanks a lot,
But still, this issue should be open, because there isn't any screenshot of the example app in README.

[2019-01-20 18:47] dnish opened #401 "iOS Notification doesn't show the current title"
Hey,
just created a new empty RN project with the lastest version of react-native-track-player. If I start playing a song, the control notification stays empty. It doesn't show any information about the current track. Also I'm not able to control any buttons there. Did I forget something within the configurations?

Device: iPhone 6s - iOS 12 (real device)

[2019-01-20 19:45] Guichaguri commented on #354
I've added three Android screenshots in 86672450fa9cd2677487415e8aaf0adb35714778. @dcvz can you add iOS ones?

[2019-01-20 19:51] Guichaguri commented on #221
Expo is not supported at the moment.

[2019-01-20 19:51] #221 closed

[2019-01-20 19:53] #218 closed

[2019-01-20 22:21] #400 closed, assigned to nobody

[2019-01-20 23:53] ntk860 commented on #342
@dcvz it worse, but this time its happening on the simulator and device. The status says the its playing but it takes a long time to calculate the duration and play the audio.

[2019-01-21 00:46] ntk860 opened #402 "Version 1.1.0 Not Showing player on locked screen"
@dcvz I am testing version 1.1.0 and its not showing the functionalities of the player on locked screen, any suggestion ?

[2019-01-21 06:24] shiroze opened #403 "ios Error symbol(s) not found for architecture x86_64"
How to solve this problem ? I use this on new project to test run my default program and it show error

Here is my PodFile to resolve symbol not found problem

![image](https://user-images.githubusercontent.com/6022114/51456205-6986ba00-1d7f-11e9-8a78-9c4a490405e6.png)

after 'Pod Install'

Here is the error.

![image](https://user-images.githubusercontent.com/6022114/51456257-9aff8580-1d7f-11e9-9

[2019-01-21 09:47] Guichaguri commented on #240
Seems like a duplicate of #364. I'll keep that one instead.

[2019-01-21 09:47] #240 closed

[2019-01-21 15:14] ntk860 commented on #402
IOS

[2019-01-21 15:14] ntk860 commented on #402
I haven't tried on Android yet

[2019-01-21 16:20] nezaidu commented on #172
lol, have the exact same situation as @smkhalsa

[2019-01-21 16:51] AChevallier commented on #369
It looks like the problem is only on android 8 and mostly on samsung device.
<img width="641" alt="screenshot 2019-01-21 at 17 48 53" src="https://user-images.githubusercontent.com/10862109/51488157-1889bc80-1da5-11e9-89de-8bafe6482b97.png">

[2019-01-21 17:54] moonstruck commented on #402
@ntk860 Real device?

[2019-01-21 18:02] SamaneYaghoobi commented on #354
@Guichaguri That's great! Thank you :)

[2019-01-21 22:47] ataravati opened #404 "Adding a track without playing it"
Is there any way to add a track to the queue without playing it? What I want to achieve is adding tracks one at a time to the queue and then playing them only when the play method is called.

[2019-01-21 23:56] ataravati opened #405 "Error when playing in the background"
I get the following error when playing in the background. (Platform iOS, I haven't tried it in Android).

[2019-01-21 23:58] ntk860 commented on #402
@moonstruck Yes, real device

[2019-01-22 00:10] curiousdustin opened #406 "[ios] 1.1.1 playback-queue-ended No longer includes track or position."
It is useful to know what track ended when the queue exhausted.

Track and position used to always come through. It seems the normal case no longer includes this data.

Can you please add this back in?

_**From RNTrackPlayer.swift:**_
[code]

[2019-01-22 01:44] BrettStatman commented on #310
Also finding this as a problem!

Track player v1.0.2
iOS 12.0.1

After calling `TrackPlayer.seekTo`, I find that the lock screen progress and value of `TrackPlayer.getPosition` are incorrect.

[2019-01-22 02:58] ataravati commented on #121
@Guichaguri Any updates on this? This is the only reason I switched from react-native-sound to this library. If it loads the entire file before playing it, it's not actually streaming.

[2019-01-22 03:04] ataravati commented on #342
@dcvz I'm having the same issue. Changing the buffer settings doesn't help. It looks like the entire file is loaded before being played.

[2019-01-22 03:20] ataravati commented on #342
@dcvz By the way, it looks like `getBufferedPosition` always returns 0.

[2019-01-22 05:39] GH974 commented on #402
Hi, have you add this ?
`await TrackPlayer.updateOptions({
				stopWithApp: true,
				capabilities: [
					TrackPlayer.CAPABILITY_PLAY,
					TrackPlayer.CAPABILITY_PAUSE,
					TrackPlayer.CAPABILITY_SKIP_TO_NEXT,
					TrackPlayer.CAPABILITY_SKIP_TO_PREVIOUS,
				]
			});`

[2019-01-22 05:57] ntk860 commented on #402
@GH974 thats what I am doing!

[2019-01-22 09:09] AChevallier commented on #390
- What do you mean by "set the track to null"?
Sorry I got lost in my redux abrastraction :)

- Is it getCurrentTrack() that doesn't return null?
This function return null actually

- Is it the `playback-track-changed` that doesn't get fired?
 Indeed this event is not fired. And it's where I change my track in my redux.

So `reset()` set the track at null but doesn't fired `playback-track-changed`

[2019-01-22 19:00] curiousdustin opened #407 "[ios] 1.1.x duration changes as track loads."
In version 1.1.x on iOS, the full duration is no longer reported from the start of playing. Instead the duration changes as the track loads.

How can we display the full duration in our UI ?

[2019-01-22 19:41] curiousdustin commented on #407
I'm using code based on the ProgressComponent example.

I call `play()` in an unrelated script, and then I see the duration slowly growing in my ProgressComponent.

[2019-01-22 22:01] Guichaguri commented on #381
Are you still facing this issue in version 1.1.1?

[2019-01-23 00:14] curiousdustin commented on #226
I think I am getting this on 1.1.1.

`
    --------- beginning of crash
2019-01-22 17:11:09.838 19043-19080/? E/AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
    Process: fm.pinna.app, PID: 19043
    java.lang.IllegalStateException: Not allowed to start service Intent { cmp=fm.pinna.app/com.guichaguri.trackplayer.service.MusicService }: app is in background uid UidRecord{d74bafd u0a316 SVC

[2019-01-23 00:15] curiousdustin commented on #226
This is happening after the app has been sitting in the background for a bit. Android 8.0.0

[2019-01-23 00:32] curiousdustin commented on #391
I seem to be getting something very similar after the app has been waiting around in the background for a bit.

What else can I provide to try to find the cause, @Guichaguri ?

[2019-01-23 01:07] Guichaguri commented on #391
Any other logs? Are you facing this issue yourself or in production?

[2019-01-23 01:13] curiousdustin commented on #391
In a release build, but installed locally. Not public ally released.

Is there any specific setup or log filters I can use to make the logs more useful for you?

I can provide more info / logs tomorrow.

[2019-01-23 09:31] assafb81 opened #408 "Coding Question"

[2019-01-23 09:45] Guichaguri commented on #391
@curiousdustin In your `AndroidManifest.xml` file, add the property `android:debuggable="true"` into the `<application>` tag, that should make the release app visible from logcat, that should show debug logs, which would help me a lot.

[2019-01-23 09:46] Guichaguri commented on #379
For an easier update on your side, you can replace `registerHeadlessTask` with the `registerEventHandler` function instead.

This issue seems to be related to #343

[2019-01-23 11:34] #408 closed

[2019-01-23 18:43] curiousdustin commented on #391
So I determined the cause in my case.

I am using `stopWithApp: true`, and destroying the player when my main component unmounts on quitting the app.

However, I also had a "background" timer running using `react-native-background-timer`. The purpose of this was to be able to monitor the track progress and report it to analytics at regular intervals.

Part of what this timer did was call `TrackPla

[2019-01-23 21:31] maendamedia opened #409 "java.lang.NullPointerException in Android studio"
Today in installed version 1.1.1.
I'm not able to run this version on Android as it states:

`FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':react-native-track-player'.

Android studio states:

`Unsupported Modules Detected: Compilation is not supported for following modules: android. Unfortunately you can't have non-Gradle Java modules and An

[2019-01-24 00:58] Guichaguri commented on #409
[This stackoverflow thread](https://stackoverflow.com/questions/28668252/android-studio-error-unsupported-modules-detected-compilation-is-not-supported) might help you

[2019-01-24 12:02] gazedash commented on #373
Please specify the required Swift version. Xcode doesn't show helpful error messages.

[2019-01-24 12:30] gazedash opened #410 "It is unclear how to use Casting"
It is claimed that this library supports casting and in the readme casting refers to a WIP repository
https://github.com/react-native-kit/react-native-track-casting

Documentation in wiki (https://github.com/react-native-kit/react-native-track-player/wiki/Cast-Integration) doens't have any mentions about this repository.

So how do I add cast support in my React-Native application?

If the cast do

[2019-01-24 16:44] jpolo commented on #390
As the `reset()` method actually set the track to null. It should trigger the playback-track-changed event to be consistent.

[2019-01-24 16:49] gazedash opened #411 "Add to the documentation that this library needs Swift 4.2 in order to work on iOS"
https://github.com/react-native-kit/react-native-track-player/issues/400

This library doesn't work with Swift 4.1

[2019-01-24 16:51] gazedash commented on #383
Doesn't work with Swift 4.1

[2019-01-24 16:55] ntk860 commented on #411
you need 4.2

[2019-01-24 19:16] illestrater opened #412 "[Android] NullPointerException @ Track.toMediaMetadata"
Receiving this crash log in production log reports.
[code]
By the way, thank you for your recent updates w/ fixing crashes - my crash reports have gone down significantly! But, still receiving this one from time to time

[2019-01-24 22:19] Guichaguri commented on #412
Should be an easy fix, but seems related to the stuff you're playing. What types of URLs are you playing? It seems like it's becoming null at some point.

[2019-01-24 23:51] #390 closed

[2019-01-24 23:51] Guichaguri commented on #390
Let me know if 333ce49 fixes it for you.

[2019-01-24 23:53] #409 closed

[2019-01-25 17:09] visagegod commented on #389
Hi @Guichaguri, this is becoming a release blocker for me, I'm happy to dive into the Java code to build a fixing PR, do you have any advice on where to start?
Thanks

[2019-01-25 18:37] ntk860 commented on #411
its not the entire library, its only version 1.1.0, if you use version 1.0.0 you can use any previous swift version.

[2019-01-27 11:25] hoang-rio opened #413 "[iOS] Crash on ios 9"
Crash on iOS in first run with version 1.1.0 and 1.1.1 but 1.0.2 work

## Crash Log
[code]

[2019-01-27 16:33] ntk860 commented on #342
Something I am noticing about this issue is that, in version 1.1.1 its playing after the first couple of bytes are received, the problem is that sometimes its taking very long to receive the first bytes.

[2019-01-27 17:33] ntk860 commented on #407
on your ProgressComponent you can do something like this (on render method), it will calculate the position and duration as it buffers the song

```const position = formatTime(Math.floor(this.state.position));```
```const duration = formatTime(Math.floor(this.state.duration));```

where
[code]

[2019-01-27 18:05] minhtc commented on #407
I have just made a pull request to fix this issue.
https://github.com/HomieTech/react-native-track-player/commit/ef1050ad9cc48f3a037f2859eef2de9e97771828

[2019-01-27 18:15] ntk860 commented on #413
the latest version of Xcode comes with swift 4.2, try to setup your project to use swift 4.2

[2019-01-28 01:14] hoang-rio commented on #413
I saw swift 4.2 in my Xcode build setting. And i don't think this is problem of swift version. Because build successfull and all another iOS version work except iOS 9. I run my app in iOS 9.3 Simulator and it crashed

[2019-01-28 08:42] akomkov commented on #404
Same question here

[2019-01-28 09:31] kesha-antonov opened #415 "[Feature] Missing progress event when track is playing"
Hey! Can you add this please?

Same as here https://github.com/react-native-kit/react-native-track-player/wiki/Documentation#player

We need ```playback-progress```

[2019-01-28 15:58] ithustle commented on #381
Noup, but now I'm facing this error:
`ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve project :react-native-track-player.`

[2019-01-28 21:16] curiousdustin opened #417 "Samsung devices show skip buttons instead of jump buttons on lock screen."
On several Samsung devices I have tried, the lock screen shows skip buttons instead of jump buttons.

The Notification (swiping from top) shows the correct jump buttons, but the lock screen does not.

I have capabilities set like this:
[code]

[2019-01-28 21:55] curiousdustin commented on #417
I decided to try just letting the lock screen have skip buttons, but make them look like jump buttons.

No luck. Setting the various icon assets has no effect on either the lock screen or notification.

[2019-01-28 21:56] curiousdustin commented on #417
I'm also willing to just let the lock screen have these skip buttons, but code them to react like jump buttons. But, I'm not getting the skip events from these buttons either, they are just uselessly there...

[2019-01-28 22:14] curiousdustin commented on #417
I determined, I can get the events to fire if I enable the capabilities like this:

[code]

But, I really don't WANT those capabilities, just trying to get these Samsung devices to work. If I add these capabilities, but leave them out of the compact and notification capabilities, what exactly will this effect? Will the JUMP capabilities override the SEEK capabilities if possible?

[2019-01-28 23:38] Guichaguri commented on #417
It's really strange, we are providing the correct capabilities to the OS, but I think it's ignoring them.

The capabilities array tells the OS what your app is capable of, so a smartwatch can show a seek bar if you add the `CAPABILITY_SEEK_TO`. Notification and compact capabilities are only used by the notification itself.

This is not the first issue we have with Samsung devices, they seem to be

[2019-01-29 05:37] GH974 commented on #369
Hi, in android simulator before version 8.0 i can listen music, but from android 8.0 in simulator i can't listen. this player it work but i have not sound.

[2019-01-29 09:47] AChevallier commented on #390
@Guichaguri

It works!  Good job  !
Thank you

[2019-01-29 10:47] Guichaguri commented on #417
You can see it, that's just a hint for the OS that your app supports media and supports skipping. The OS might use that hint for anything it wants, such as showing custom media buttons. The hint may also be used by other devices, such as smartwatches or cars

[2019-01-29 10:52] minhtc commented on #404
store all yours tracks in a variable (e.g: ```const pending Tracks =[]``` ), then add to TrackPlayer when you actually need to play it.

[2019-01-29 10:53] minhtc commented on #406
added data : https://github.com/HomieTech/react-native-track-player/commit/814c3a75e0f34d03edac7a73af5faed6180a35e9

[2019-01-29 11:10] gazedash commented on #359
For me it is reverse: it is 0 on android, but works on iOS.

I have provided the duration for the track, I have awaited for player setup and add, and only then play.

[2019-01-29 11:32] gazedash opened #418 "seekTo android restarts the track"
Possibly related to https://github.com/react-native-kit/react-native-track-player/issues/348

The bug is reproduced on Nexus 5X API 28 x86 android virtual device emulator.
Possibly reproducible on real device(?)

Works on iOS fine though.

[2019-01-29 11:36] Guichaguri commented on #418
What track are you playing? Are you receiving `playback-error` events?

[2019-01-29 12:22] bardiarastin commented on #397
@Guichaguri setting ```compileOptions``` in ```build.gradle``` solved it, very thanks

[2019-01-29 12:24] gazedash commented on #418
@Guichaguri
I receive two playback-state events:
{state: 6}
{state: 3}

I am not an android expert but is this related to PlaybackStateCompat https://developer.android.com/reference/android/support/v4/media/session/PlaybackStateCompat ?
As I can see, there is multiple events tied to same int values. E.g. 3 is REPEAT_MODE_GROUP, STATE_PLAYING and ERROR_CODE_AUTHENTICATION_EXPIRED

[2019-01-29 12:44] Guichaguri commented on #418
It is, but you should be checking using our constants (e.g. `event.state === TrackPlayer.STATE_PLAYING`) instead, as the values will change depending on the version and the platform.

[2019-01-29 14:06] gazedash commented on #418
@Guichaguri I am able to reproduce this error on real device Android 4.4.2

[2019-01-29 14:26] ntk860 commented on #342
I think there is an improvement on this issue for version 1.1.1, after I call play the song starts buffering, and plays when its finish buffering. The problem now is that its taking so much time buffering, my guess is that its waiting until the all song gets buffered and them play it.

[2019-01-29 15:38] ataravati commented on #404
@minhtc That's not the point. The point is when you add a track, it shouldn't be automatically played. Adding a track to the player should only load the track and change the status to ready (or whatever the status should be). This is an obvious violation of SoC. Every function should be doing one and only one thing.

[2019-01-29 18:55] gazedash commented on #418
Maybe it is related to a bug where duration is 0?

[2019-01-29 23:38] Guichaguri commented on #404
Which platform are you facing this issue?

[2019-01-29 23:42] Guichaguri commented on #381
I'll need more information about your project setup to help you. I've just tried to install myself and it's running perfectly fine.

Does the [example](https://github.com/react-native-kit/react-native-track-player/tree/dev/example) app works for you? The module is already pre-installed there.

[2019-01-29 23:43] Guichaguri commented on #381
Also, make sure you're following strictly the [installation instructions](https://github.com/react-native-kit/react-native-track-player/wiki/Installation), and don't forget about the troubleshooting section.

[2019-01-29 23:51] ataravati commented on #404
@Guichaguri I'm having the issue in iOS. I haven't tried it in Android though. So, is this a bug or is it by design?

[2019-01-30 08:54] gazedash commented on #418
It does reproduce even with example tracks:
https://github.com/react-native-kit/react-native-track-player/blob/dev/example/react/data/playlist.json

[2019-01-30 09:44] minhtc commented on #387
checkout my commit to support this feature: https://github.com/HomieTech/react-native-track-player/commit/cc5272adbf6e0a7fe9b95d2f22bf980521187af8

[2019-01-30 13:35] helloagain-dev opened #419 "Running code while streaming in background"
I want to stream an icecast radio stream which works fine.
However, I also want to update the title/artist and cover regularly.
I can fetch this data from a REST API.

How can I run code that fetches this data every 10 seconds (or so) and updates the Player regularly?
Can I put a long-running task that does the fetch into ``TrackPlayer.registerPlaybackService``?

[2019-01-30 15:08] curiousdustin commented on #419
Maybe not exactly what you want, but I'm using this to periodically check the state and progress of the player.

https://github.com/ocetnik/react-native-background-timer

[2019-01-30 15:13] helloagain-dev commented on #419
That seems to be exactly what I want.
I can start this when I the user hits play and it will continue running every few seconds as long as the stream is active? In the callback I can access ``TrackPlayer``?
Do you have some sample code where you run this together with ``react-native-track-player``?
All the other solutions I found, only run once every 15 minutes or so and are used to do background

[2019-01-30 15:20] curiousdustin commented on #419
NOTE: On android if you try to access the player after it has been destroyed, this causes some errors. I haven't worked out all the kinks on my implementation yet, but in general this has been working for me so far.

[code]

[2019-01-30 16:21] minhtc commented on #401
this commit will fix your issue: https://github.com/HomieTech/react-native-track-player/commit/2c1b3d679e438b7a45a28e4687ce90b03e84980e

[2019-01-30 16:25] minhtc commented on #402
The newest version remove all the commands after song loaded, that's why the notification control doesn't showing up.
apply this commit will fix the issue: https://github.com/HomieTech/react-native-track-player/commit/2c1b3d679e438b7a45a28e4687ce90b03e84980e

[2019-01-30 16:28] minhtc commented on #404
apply this commit will fix your issue: https://github.com/HomieTech/react-native-track-player/commit/49c53f88270273c027d225e9a0c78dc149e8c11f

[2019-01-30 18:59] curiousdustin commented on #419
I am still struggling with this actually. If the app is backgrounded for a bit. Android decides to kill the player because it is idle. At this point any code that attempts to run `TrackPlayer` methods will cause the app to crash with the following error. This includes the `setupPlayer()` method.

[code]

[2019-01-30 19:01] curiousdustin commented on #419
I should clarify, this is if the player has been setup, but not played anything yet, then the app is backgrounded.

[2019-01-30 19:05] curiousdustin commented on #419
I will try getting around this by only running my background code while the player is in its playing state.

[2019-01-30 19:21] dcvz commented on #402
This has been fixed in 30bf388e05a1b1ca8d3b43f2f7e988b306de6439 (#dev) and it will go out in a new npm version later today.

Thank you for reporting the issue ya'll ☀️

[2019-01-30 19:43] dcvz commented on #359
@alikazemkhanloo could you try with this commit? 4c0483332779995e98e5f9164ad3c7d548f46615

[2019-01-30 19:44] dcvz commented on #342
Looking into this now, will keep ya'll posted

[2019-01-30 20:14] dcvz commented on #342
Could someone who is getting this issue please try this commit? 73cf52bd2135d2c7ff472c97a4ab92809b6c47a8

[2019-01-30 20:40] dcvz commented on #404
@Guichaguri I believe on Android we also have it to where adding the first track automatically plays it, no?

[2019-01-30 20:42] dcvz commented on #406
This has been resolved in 4c0483332779995e98e5f9164ad3c7d548f46615 and will be in a new version on npm soon

[2019-01-30 20:43] dcvz commented on #411
Sorry for the problems @gazedash. It's now part of the setup section in the wiki :)

[2019-01-30 20:43] #411 closed

[2019-01-30 20:44] dcvz commented on #383
The project has been updated to Swift 4.2. Please set your Xcode project to use that ☀️

[2019-01-30 20:44] #383 closed

[2019-01-30 20:44] dcvz commented on #309
Is this still an issue @curiousdustin ?

[2019-01-30 20:48] dcvz commented on #401
This has been fixed in v1.1.2

[2019-01-30 20:48] #401 closed

[2019-01-30 20:49] curiousdustin commented on #309
Which version would you like me to test?

[2019-01-30 20:50] dcvz commented on #309
1.1.2 on npm @curiousdustin  💃

[2019-01-30 21:34] Guichaguri commented on #404
@dcvz In Android, it's a boolean property that defines if it will play or not that can be changed through `play()` or `pause()`

[code]

[code]

[2019-01-30 21:35] curiousdustin commented on #419
In my case, I determined that I only need to run my background timer while the player is in the playing state. So I start and stop that timer/interval as needed. For now this seems to have avoided all the crashing cases I was running into.

However, now you made me curious.

When you say the "playback service" is the perfect place to add more code, are you saying there is a way to put more functio

[2019-01-30 21:39] ataravati commented on #404
@Guichaguri that's exactly what I believe should change. `TrackPlayer.add(...);` should only add the track and set the status to "ready".

[2019-01-30 21:40] ntk860 commented on #342
@dcvz I think its working now, some songs that I am playing are still taking a considerable amount of time buffering, and I think it has to do with kbps of the songs I am playing. What do you think is the best format to use ? WAV, MP3 or OGG ?

[2019-01-30 21:44] Guichaguri commented on #419
You're right, you can run any type of code there. One interesting use-case is for recording analytics data.

There is no event for destroying the service as of yet. Although in you can achieve your goal by registering an interval in `playback-track-changed` and then unregistering it in `playback-queue-ended`.

[code]

I haven't tested something like this, but it should work.

[2019-01-30 21:46] Guichaguri commented on #419
React Native shares the same Javascript context for both the service and the app itself. When the app is closed and the service is destroyed, it should also destroy the context, stopping the timer.

[2019-01-30 21:53] curiousdustin commented on #419
Perfect, I will give this a shot and see if I can do it this way instead of using a separate library.

[2019-01-30 22:12] curiousdustin commented on #309
So much better 👍

Thank you all once again for all your work on this player! 🥇

[2019-01-30 22:13] #309 closed

[2019-01-30 22:13] ataravati commented on #342
@dcvz @ntk860 No, it's still not working. `getBufferedPosition()` always returns 0. Also, changing the `setupOptions` (`minBuffer`, `playBuffer`,...) doesn't have any impact.

[2019-01-30 23:04] ntk860 commented on #342
@ataravati minBuffer, platBuffer is only for android. getBufferedPosition() is returning 0 after the song starts playing ?

[2019-01-30 23:08] ataravati commented on #342
@ntk860 It doesn't say that in the documentation. Are you sure you're not confusing with the build preferences (https://github.com/react-native-kit/react-native-track-player/wiki/Build-Preferences)?

Yes, it returns 0 before and after the song starts playing.

[2019-01-30 23:57] dnish opened #420 "Event "playback-track-changed" fires twice"
Hey,
thank you for updating and maintaining the library. I've detected a new issue after upgrading from 1.0.2 to 1.1.2: The "playback-track-changed" fires twice. This is my event listener:

[code]

The problem is, that I always get "0" and the current value. So if I play the track with id 5, the events fires twice, with id 0 and id 5 (0 is a string). The same for all other track ids. Any idea what

[2019-01-31 00:01] ntk860 commented on #342
@ataravati I am sorry, in my use case I don't need to use getBufferredPosition(). When I said its working I was saying that the delay disappeared and the buffering is considerable short.

@dcvz I tried playing a wav file and the buffering is much less compared with a mp3. Thank God I am still beta testing, and that was the issue that was holding me back to release to production.

[2019-01-31 00:05] dnish commented on #420
Okay, got the issue. The events fires twice when we load a new playlist into the player. We had to change the if condition to:

[code]

[2019-01-31 00:05] #420 closed

[2019-01-31 02:34] ntk860 commented on #402
@dcvz I will thank you!

[2019-01-31 07:12] GH974 opened #421 "playback-error not work"
Hi, i have tested last version of plugin 1.1.2
and event playback-error is not called if network connection stopped.

APP => IOS
and if app played and i have refresh app with cmd - R, plugin don't stop music.

And i receive paused event playback-state, while this music is playing

[2019-01-31 07:17] helloagain-dev commented on #419
I did try @Guichaguri's proposal, but the `setInterval` function is not called anymore as soon as I put the App to the background (via Home button).

[2019-01-31 07:51] helloagain-dev commented on #419
`react-native-background-timer` seems to work great.
But I now struggle with updating the Metadata of the notification without stopping the player and queuing the same stream again which would lead to a small pause. Is there any way with the current API to update the artist, title and artwork while the song is playing?

[2019-01-31 09:41] moonstruck commented on #419
@helloagain-dev Possibly updating metadata on the fly is not available yet. There's two open pull request in this regard. https://github.com/react-native-kit/react-native-track-player/pull/384 and https://github.com/react-native-kit/react-native-track-player/pull/384

[2019-01-31 10:44] dcvz commented on #404
I will fix this shortly 💃 I'll keep ya'll posted.

[2019-01-31 10:45] dcvz commented on #404
I'm going to set it to "adding a track when there's no tracks in queue will not automatically start". You'll have to then call `play()`. /cc @Guichaguri

[2019-01-31 10:49] dcvz commented on #404
This is now fixed in: 31fd540278e463d0b9051fcc09886b71dd26ed8c

[2019-01-31 11:38] dnish opened #422 "Disable autoplay when adding new songs"
Hey,
just having a new issue when I try to load a new playlist. I'm adding tracks of a playlist like this:

[code]

The problem is that I always here a short part of the first song before the player skips to the requested one. It seems that <code>TrackPlayer.add</code> automatically starts playback, and so the player begins with the first song. Any idea how I can disable this autoplay behavior?

[2019-01-31 14:19] Guichaguri commented on #418
That seems to be it. I'll take a look later today

[2019-01-31 14:20] Guichaguri commented on #422
Duplicate of #404

[2019-01-31 14:20] #422 closed

[2019-01-31 17:04] ataravati commented on #404
It works now. Thanks!

[2019-01-31 18:23] dnish commented on #401
@dcvz Yes, it works on 1.1.2. But if I use the latest version on GitHub (due to issue #422) it stops working, still an empty notification widget.

[2019-01-31 18:41] dnish opened #423 "Destroying player doesn't destroy events"
If I destroy and re-create the player two or several times, the events fire twice or more. So for example, I'm using this event handler:

[code]

If I click on "next" on the notification widget, the event is fired several times. I'm using the <code>.destroy()</code> method to destroy the player. It doesn't happen on first initialization.

Tested on iOS 12 and iPhone XS.

[2019-01-31 18:53] dnish commented on #423
Mhh possible that's an issue how we handle the creation of the player. We did it before like this:

[code]
It seems that <code>updateOptions</code> creates multiple events. If we change the code like this, the events are only fired once:

[code]

So <code>setupPlayer</code> and <code>updateOptions</code> are only called once during runtime. If I got it right, <code>updateOptions</code> could be ca

[2019-01-31 20:40] Guichaguri commented on #423
How are you registering the events? Can you show the code of that part?

[2019-01-31 20:42] dnish commented on #423
Hey,
yeah, we register the events once within the <code>player_service.js</code>

[code]

[2019-02-01 01:20] alexolefirenko opened #424 "updateOptions breaks down event system"
Hello. Tested on iOS simulator and iPhone X.
The problem is when I call `updateOptions` fn and put there an object that consists a `capabilities` property (I need to disable or enable arrows it depends on queue) the handlers for remote events when I click from notification center fires multiple time and it depends on how much times I call `updateOptions` and updated properties use this one fn... I

[2019-02-01 06:19] jariwalabhavesh commented on #300
@Guichaguri : any update on this??

[2019-02-01 10:11] Guichaguri commented on #300
I'm pretty sure that's the expected behavior. You should also only initialize the player when you actually need to use it, so that isn't supposed be a problem in the first place.

[2019-02-01 10:13] Guichaguri commented on #423
That seems to be the same issue as #424.

[2019-02-01 10:21] #418 closed

[2019-02-01 12:23] dnish opened #426 "[iOS] Notification widget closes and changes buttons"
Hey,
just recognized a new issue when using our app in production mode. If I click the next and previous button several times, the notification widget closes and reopens after a second again. After that, I can control the music playback normally, but sometimes it happens, that some buttons are not available anymore. So for example, this track is on position number 6 within the playlist, but the pr

[2019-02-01 12:36] dnish commented on #426
If I reset the player several times and load new tracks into the player, this happens:

![img_0800](https://user-images.githubusercontent.com/7636313/52123447-682e7a80-2626-11e9-894f-aee3380fd908.PNG)

After loading the same playlist again, all buttons are available again.

[2019-02-01 18:45] moonstruck commented on #300
@jariwalabhavesh Are using calling setupPlayer on App start?

[2019-02-04 04:57] jariwalabhavesh commented on #300
@moonstruck : Yes because I need to keep it initialized due to a feature which allows to play audio from anywhere in the app and also it will stay minimized while you navigate to other pages(like youtube video is working). So I can't initialize it all the time. Still, I will look and try to figure out some logic over initialization and get back here for more update.

[2019-02-04 08:44] hmaamoun opened #428 "Customizing The Background Controls"
Hello,

How can we customize the background player notification panel on Android? Right now it's just a grey box with a play button!

[2019-02-04 08:59] AChevallier commented on #369
I still get the errors quite often mostly on android 8.
What could be the next step ?

[2019-02-04 09:03] GH974 commented on #369
Hi, if i have add crashlytics on the app, I could have the errors ?

[2019-02-04 09:43] AChevallier commented on #369
I use sentry and ,unfortunately , i don't get the error in sentry. It appears only on the Google Play Console :/

I got 140 ANR in 7days and 11 anr within 24h.

[2019-02-04 09:46] Guichaguri commented on #428
You have to set which capabilities you want to support. See [updateOptions](https://github.com/react-native-kit/react-native-track-player/wiki/Documentation#updateoptionsdata).

[2019-02-04 09:46] #428 closed

[2019-02-04 09:47] Guichaguri commented on #300
Keep in mind that you can run `setupPlayer` more than once. It will resolve immediately when the player is already initialized.

[2019-02-04 14:01] GH974 commented on #369
yes me too.
I suppose it's a warning error, and not fatal error.
because it's impossible to reproduce the crash

[2019-02-04 17:54] AChevallier commented on #369
That's really weird...
But if it's an  ANR, it should crash the app, no ?
I will try to reproduce by using my app (if i can).

[2019-02-04 18:20] moonstruck commented on #300
@jariwalabhavesh Cool! That's what we are doing too. :)

[2019-02-04 20:35] xgustavoh opened #429 "[Android] Infinite Loading - AAC"
During a test I came across an infinite loading error.
The same did not report error through existing events. But when you look at the Android Log (**_adb logcat -d_**), the following error is encountered:

` 2324 16587 W SoftAAC2: aacDecoder_DecodeFrame decoderErr = 0x4002`
` 2324 16587 W SoftAAC2: AAC decoder returned error 0x4002, substituting silence`

Note: When you "Stop" and "Play" again, i

[2019-02-04 22:00] Guichaguri commented on #429
This looks like an ExoPlayer issue. Can you send the track that you're trying to play?

[2019-02-04 23:48] xgustavoh commented on #429
Track 1: https://live.hunter.fm/live
Track 2: https://live.hunter.fm/mobile

[2019-02-05 10:23] mubashiralisiddiqui opened #430 "error while creating release apk"
### **using react native version "0.58.3",**
O.S Ubuntu
![error releasapk](https://user-images.githubusercontent.com/16689214/52266841-42bcac00-2959-11e9-9cef-755d171c6da5.png)

I am unable to make a release apk for my project
here is
my build.gradle top level

buildscript {
    ext {
        buildToolsVersion = "28.0.2"
        minSdkVersion = 21
        compileSdkVersion = 28
        targetSdkVe

[2019-02-05 13:06] gazedash opened #431 "Caching doesn't work on android"
I run example application, play audio file (mp3), wait until it is buffered to 100%, switch to next track and back and it loads again.

Also, it doesn't work if I buffer track completely, close app, run app again without Wi-FI or mobile access.

How to make caching work?

[2019-02-05 13:09] dnish opened #432 "iOS Notification doesn't work with current GitHub version"
When I use the latest commit here on GitHub, the iOS notification widget doesn't work like issue #401. Still works fine in 1.1.2.

[2019-02-05 21:46] illestrater commented on #369
I've been periodically merging your commits to my own fork which helped fix some other crashes, but then the ANR started appearing. Here's my commit with the changes that were added:

https://github.com/illestrater/react-native-track-player/commit/08291e961307ea7eff02aec87b789b8a3e35f5d7

FYI, I've forked so that I could add a live audio levels meter to my app

[2019-02-05 21:55] Guichaguri commented on #369
Unfortunately, that commit doesn't have anything suspicious...

As I don't know how to reproduce the issue, I'll start changing a few things and we'll see if that fixes the issue.

[2019-02-06 01:04] curiousdustin opened #433 "[Android] Multiple listeners after app re-launch."
I am using `stopWithApp: true`

When I launch my app the first time, `TrackPlayer.registerPlaybackService()` gets called with the function to add listeners.

If I close my app while audio is playing, it does stop as expected. However, it appears the listeners do NOT get removed.

When I re-launch my app, `TrackPlayer.registerPlaybackService()` is NOT called again, but it seems the function that ad

[2019-02-06 01:04] curiousdustin commented on #433
Possibly related to #423

[2019-02-06 13:26] petermm commented on #432
think this is by design
"An app does not receive remote control events until it begins playing audio." - see https://developer.apple.com/documentation/mediaplayer/handling_external_player_events_notifications

Once you play() the remote commands pops up in the notification center..

[2019-02-06 14:54] timmywil opened #434 "[Question] Streams with 'chunked' transfer encoding cannot be played"
The exact same stream transferred with the chunked [Transfer Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding) does not play/is silent, but if sent over unchunked and with a content-length header, it plays.

I'm not necessarily suggesting that react-native-track-player support this. I'd just like to hear your thoughts on how difficult it might be to support. My

[2019-02-06 16:05] curiousdustin commented on #433
I have re-created this in the example, with only logging added to detect it.

**index.js**
[code]

**service.js**
[code]

**Filtered Output:**
react-native run-android --variant=release
App builds, installs, and runs. Lands on initial screen
[code]
Select *Playlist Example*
[code]
Press Play
Audio plays after a couple seconds
[code]
While audio plays, press Android multitasking menu button.
Close

[2019-02-06 16:14] curiousdustin commented on #433
As a further test I added this, which DID resolved the issue.

**service.js**
[code]

My gut tells me this is a hack and probably has other issues... But, I guess I will do this for now.

[2019-02-06 16:40] curiousdustin commented on #433
Semi-related, can someone clarify if we need to use `destroy()` at all if we are using `stopWithApp: true`, and also do NOT have a stop button on our notifications?

[2019-02-06 20:14] curiousdustin commented on #404
This also fixes some strange behavior if you are trying to start a track from a certain point such as:
[code]
Without this fix, sometimes this ends up with the track paused at the position, instead of playing.

[2019-02-06 21:49] #404 closed

[2019-02-06 22:07] Guichaguri commented on #433
No, the module will self-destroy when you have `stopWithApp` set to true.

---

It seems the Javascript Context remains in memory even after the app is closed and no services are running, that's why it registers the event twice.

To fix it, I think we'll have to implement a `playback-destroy` event that runs when the service stops. Here are some options I can think of:
* Make it an internal event,

[2019-02-06 22:15] Guichaguri commented on #434
Which platform have you tested this?

[2019-02-06 23:24] timmywil commented on #434
We've just rolled an update to a lib and it started working. I have no idea what was going on.

[2019-02-06 23:24] #434 closed

[2019-02-06 23:46] BrettStatman commented on #433
I am also finding this to be an issue in 1.1.2. Going to try the workaround presented above.

Additionally, I'm finding that on Android only, the `playback-queue-ended'` event is being triggered when the player events are registered.

[2019-02-07 03:38] curiousdustin commented on #433
So many options! 😬

I’m honestly not sure what would be best overall. But this option seems logical to me.

```Store all event listener references being created by the service and remove them using the playback-destroy event. If an event listener is added asynchronously, it wouldn't be removed.```

If I understand correctly, any listeners added in the service function, would be automatically remov

[2019-02-07 03:42] curiousdustin commented on #433
This made me think of another option, that perhaps would only need documented instead of any real change.

I can’t test this until tomorrow, but would it work to have the user (developer) keep track of references to all the listeners added in the service function, and remove them all manually (if they exist) right before adding them?

I didn’t think to do this until I looked at the docs for adding

[2019-02-07 11:44] dnish commented on #432
@petermm Yeah I know, but the song is playing.

[2019-02-07 12:56] nezaidu opened #435 "iOS local files are not working"
My fix (AudioPlayer.swift)
![image](https://user-images.githubusercontent.com/3225817/52415990-379c8400-2af1-11e9-9db4-b1222b628b68.png)

[code]

[2019-02-07 22:40] maendamedia opened #436 "Android release build failed"
Today i tried to build a release version with RNTP  "react-native-track-player": "1.0.2",
and RN 16.6.3, but it keeps failing with this message:

[code]

Any idea?

[2019-02-08 08:37] maendamedia commented on #436
Also on version 1.1.x it failed

[2019-02-08 10:14] AChevallier commented on #387
Small update, indeed the problem is only on iOS.
What is our chance to get this functionality ? Because it's an annoying issue for podcasts.

[2019-02-08 11:10] brenwell commented on #387
I looked into this and had to modify the https://github.com/delannoyk/AudioPlayer library to get it working

This fork was made by my father and though it is quite behind on the Android side it has the functionality added for iOS I believe https://github.com/robertblackwell/react-native-track-player

[2019-02-08 16:47] maendamedia commented on #436
Anyone an idea? I cannot build a release at the moment

[2019-02-08 19:18] sirajulm opened #437 "Unable to install from podspec"
Hi,
I'm trying to integrate track-player to my swift application but getting the below error.

Could not find any branch with the package `version`.
Currently I could manually edit the podspec and use the tags instead, but which would be overriden once I update the track-player node module.

[code]

[2019-02-09 00:51] Guichaguri commented on #436
Can you tell a bit more about your setup? Which SDK components and versions have you installed? Are you compiling from which operating system? Are you using any other modules?

[2019-02-09 15:33] Aornn opened #438 "Installation impossible Android"
Hi ! i try to implement this module to my android app (create with CRNA) but i have an error

`Execution failed for task ':app:transformClassesWithDexBuilderForDebug'.`
`> com.android.build.api.transform.TransformException: com.android.builder.dexing.DexArchiveBuilderException: com.android.builder.dexing.DexArchiveBuilderException: Failed to process /Users/ronan/Documents/perso/APP/android/app/bui

[2019-02-09 16:33] rzakirov commented on #435
There is problem when local file has no extension. Its ok for Android but iOS cannt play. After download and save file with extension (.mp3) it is playing well

[2019-02-09 16:55] gHashTag opened #439 "metadata(artist, title) from internet radio stream"
Is it possible to get metadata(artist, title) from internet radio stream?

[2019-02-09 18:50] moonstruck commented on #439
A [pull request](https://github.com/react-native-kit/react-native-track-player/pull/384) available in this regard.

[2019-02-11 07:59] GH974 commented on #101
hi, i have this issue in ios after stop, can't play. I a have got this message.
Given track ID was not found in queue.

[2019-02-11 16:24] jakobereksen opened #440 "[iOS] Buffering not starting"
With the iOS Player pre-1.1.0 Buffering would Start automatically. With the Versions >= 1.1.0 Buffering does not start at all under iOS but works as expected under Android.

I am using these player options:

`minBuffer: 100,
  maxBuffer: 10000,
  playBuffer: 101,
  maxCacheSize: 100000`

[2019-02-11 20:40] ntk860 commented on #440
what do you mean by "buffering not starting" ? When you add the song to the queue, buffering should start right after you call play().

[2019-02-11 21:10] jakobereksen commented on #440
i will try to explain it better. The behaviour I wanted to achieve and had success doing so on iOS pre 1.1.0 was to buffer the whole track before playing it. To do so I started the track and paused it directly after, waited until it was fully buffered and resumed playing.

With 1.1.0 this did not work for me anymore. Buffering progress stayed at 0, it did not matter whether the track was playing o

[2019-02-12 02:13] BrettStatman commented on #433
@curiousdustin That sounds like it would work but it doesn't seem possible to remove listeners currently. Have you had any luck?

[2019-02-12 02:28] curiousdustin commented on #433
I have not tried this within the service function, but my idea was to do it similar to how the component example in the docs does it.

[code]

[2019-02-12 10:24] adiahuja07 commented on #338
Any leads? This is driving me crazy

[2019-02-12 10:34] AChevallier commented on #369
Nobody can try this fix ? :)

Is it risky ?

[2019-02-12 18:50] dnish commented on #423
@Guichaguri Adding  <code> player.remoteCommands.removeAll();</code> solves the issue.
<img width="1452" alt="bildschirmfoto 2019-02-12 um 19 48 12" src="https://user-images.githubusercontent.com/7636313/52660184-753d4a80-2eff-11e9-8422-fea8bb02e418.png">

[2019-02-12 22:42] dnish commented on #424
@alexolefirenko Could you try my solution in #423 . If it also works for you I can create a PR.

[2019-02-13 06:12] ntk860 opened #442 "Instance Key Definition [Android]"
I am getting a warning saying "registerHeadless Task called multiple times for same key 'TrackPlayer'". I am using two instances, how do I setup key for each instance of track player that I create ?

The event registration is not working for one of the instances.

[2019-02-13 10:47] Guichaguri commented on #369
Worst case scenario is that when you press a media button, it stops the music. I haven't tried on emulator yet, but you should test it before releasing it to production.

[2019-02-13 10:51] Guichaguri commented on #442
What do you mean by "creating two instances"? Can you elaborate?

You should use `registerPlaybackService` or `registerEventHandler` just after running `AppRegistry.registerComponent`. Don't use those functions anywhere else.

[2019-02-13 13:36] ntk860 commented on #442
@Guichaguri Yes, I call them twice, thats why I am saying "creating two instances". One is to play normal songs and the other is to play ads. When I play ads and normal songs with the same "instance", it gets very bug and things on **playback-queue-ended** don't go well. I tried to use a flag to signalize when its ad but its not working very well.

So I register events for normal songs and ads, us

[2019-02-14 05:42] illestrater commented on #369
I will deploy this to production for testing in my next release (due sometime next week) and report back

[2019-02-14 10:29] Guichaguri commented on #442
react-native-track-player is designed to only work with one instance at once. My suggestion is to add a flag `isPlayingAds` and check it before processing any event.

[2019-02-14 10:37] ishigamii commented on #316
@Guichaguri I am glad to say that the new version
[code]
Is working pretty nicely on Android

[2019-02-14 10:46] ishigamii opened #445 "[WIKI] Update the wiki pages"
Hi, I am currently trying the new version and so far I am happy to see that Android is working nicely now, though I am having some trouble with iOS now (that was okay before 👍 )

I am writing this cause I saw some improvement that could be done on the wiki page and I can't make a PR for that so here they are :

in the Page :
https://github.com/react-native-kit/react-native-track-player/wiki/API
[c

[2019-02-14 11:16] Guichaguri commented on #445
The reason why I create an empty playback service is that the module won't run until you register one. In case someone is starting now step by step, it won't crash on Android.

[2019-02-14 11:18] ishigamii commented on #445
@Guichaguri sorry about that then. Thanks for the details 👍

[2019-02-14 13:05] ishigamii commented on #314
Closed because of the new version `1.1.2`. I will open a new issue with android / iOS bugs

[2019-02-14 13:05] #314 closed

[2019-02-14 13:16] Guichaguri commented on #445
No, you're right. I should at least write "we'll see use this later" or something like that.

[2019-02-14 13:39] ishigamii opened #446 "[iOS/Android] Bugs or strange behavior"
Hi, I am currently using the version `1.1.2` of the library and once again that's an amazing job you are doing there. Here are some strange things I am experimenting with this version :

# Configuration
package.json
[code]

react-native info
[code]

# iOS

- Jump forward / Jump backward / Stop

I am initialising my player like follow :
[code]
But for this configuration I happened to have all of th

[2019-02-14 15:40] ishigamii commented on #438
can you give more informations, like what react native version you are using and what version of this lib  you are trying to use ?

[2019-02-14 16:14] ntk860 commented on #442
Thank you! @Guichaguri I am asking because its working perfectly on IOS, I will use the flag.

[2019-02-15 10:01] Guichaguri commented on #446
* Seek bar not available in notification

This has been requested before. It's not possible. Android only allows very specific UI elements in the notification, the button is one of the only interactable element available.

[2019-02-15 10:04] ishigamii commented on #446
@Guichaguri that's what I thought sorry for that one it was really just in case 👍

[2019-02-15 21:49] curiousdustin opened #448 "[Android] rewindIcon & forwardIcon do not work"
`rewindIcon` and `forwardIcon` do not get resolved `updateOptions` function so they do not work, and default back to the default included icon files.

**From lib/index.js**
[code]

[2019-02-15 21:51] curiousdustin commented on #448
@Guichaguri is this more likely to get fixed sooner if I do a PR? I am happy to, but it seems it is a simple mistake to fix.

[2019-02-15 22:18] curiousdustin commented on #448
I decided to make a PR for kicks. Hopefully it is more help than hassle. #449

[2019-02-15 23:11] curiousdustin opened #450 "[Android] Notification missing controls"
Some of my users are reporting instances where the controls disappear from the notification view.

They will show as intended for awhile, and then go away. Restarting the app brings them back.

What could potentially cause this?

[2019-02-15 23:12] curiousdustin commented on #450
The one I have data for is on Google Pixel 3, Android 9.

[2019-02-16 00:12] curiousdustin opened #451 "[Android] Seeking while paused causes playback-state NONE"
When a track is paused, seeking in time, causes 2 `playback-state` events to happen.

First it goes to NONE for some reason, and then back to PAUSED.

This makes it hard to know how to render the UI, because NONE usually means that there is no current track and such.

[2019-02-16 16:49] dnish commented on #446
@ishigamii I guess your iOS issue is the same like mine: #426. I've currently fixed it by removing the update call from the players native next method. You may check out my latest 3 commits:

https://github.com/dnish/react-native-track-player/commits/dev

This is only a temporary fix, because if you call updateOptions multiple times again, you'll see a wrong button order again.

[2019-02-17 08:32] aliunco commented on #172
I'm in the same situation as @nezaidu & @smkhalsa 🤣

[2019-02-17 15:20] #448 closed

[2019-02-17 15:48] Guichaguri commented on #451
That's expected, but now that I look at it, it's indeed weird.

`BUFFERING` looks like the proper state to use instead of `NONE`, but I wanted it to indicate the player was playing but paused to buffer (and will resume playing after buffering is done)

* Keeping it as `PAUSED` will not trigger `playback-state`, but you won't be able to know whether the player is buffering while paused.
* Changing

[2019-02-17 22:24] dnish opened #452 "[iOS] Player doesn't load songs when simulating slow internet connection"
Hey,
I'm currently having an issue when I use the Network Link Conditioner with "Edge" setting. If I enable the slow internet connection, the player doesn't play any songs, even if they are saved locally. I've tried it with several local saved songs, and I'm only able to play one songs, after loading the second, the player stops updating any information and stops playing music.

[2019-02-18 11:17] ishigamii commented on #446
@dnish seems a bit different / similar to mine as I don't use multiple song but only one song and same in the fact that sometimes the buttons are here and sometimes they are just gone.

[2019-02-18 11:23] ishigamii opened #453 "[Android] Notification remove the link onClick"
Hi, I am currently using the version `1.1.2` of the library and once again that's an amazing job you are doing there. Here are some strange things I am experimenting with this version :

# Configuration
package.json
[code]

react-native info
[code]

# Question

I am wondering if it is possible de remove the notification `onclick` action on Android. For the moment I have no use of it and more than

[2019-02-18 16:02] ishigamii commented on #340
@Guichaguri Any date to integrate it in the next version ? 🗡

[2019-02-18 16:03] ishigamii commented on #175
https://github.com/react-native-kit/react-native-track-player/issues/340

[2019-02-18 17:04] curiousdustin commented on #451
Ah I see, so what I think you're saying is:

**Seeking while playing is meant to go through these states:**
PLAYING > BUFFERING > PLAYING

**Seeking while paused is meant to go through these states:**
PAUSED > NONE > PAUSED

This is intentional, in order to discriminate between playing vs paused while seeking.

I like your option B, change to buffering while seeking, whether paused or playing. May

[2019-02-18 20:04] #438 closed

[2019-02-18 20:05] aboux commented on #282
Hello,
@mateomorris @thalwani did it work for you? I have a music streaming app and I might move to this library.

[2019-02-19 07:41] ouabing opened #454 "[iOS]Headset control not working"
After upgrading to 1.1.2, headset control will not trigger remote-play, remote-pause events.

The wireless Airpods work but the old lined one don't.

My setup code:

[code]

Configuration
--------------
- react-native: 0.57.8
- react-native-track-player: 1.1.2

System Info
------------
- System Version: 12.1.4
- Model: iPhone SE

[2019-02-19 09:32] Jlexyc commented on #363
The same thing happen to me.
Pixel 2, min api 26, target api 27.

`TrackPlayer.setupPlayer().then(() => {
        console.log("PLAYER SET UP:");
        TrackPlayer.add({
          url: require('../../sounds/good file.mp3'),
          title: 'Good Title',
        }).then(() => {
          TrackPlayer.play();
        });
      }).catch((error) => {
        console.log("ERROR:", error);
      });`

[2019-02-19 09:59] gazedash commented on #282
But what about this https://github.com/spotify/SPTPersistentCache ? react-native-video uses this package to implement caching on iOS

[2019-02-19 10:11] ishigamii commented on #446
@Guichaguri I added another different behavior between android and iOS with the track being played again automatically in Android when it finishes in opposite of iOS just stopping (which seems to be the normal behavior)

[2019-02-19 10:52] Guichaguri commented on #340
@ishigamii when are you experiencing this issue? Is it when the app is closed (in background) and you press the notification? Or is it when the app is already open and it still reopens?

[2019-02-19 10:55] Guichaguri commented on #453
That actually shouldn't affect anything, it's just an additional feature in case you want to customize the behavior.

[2019-02-19 10:58] Guichaguri commented on #451
You can change this specific line: https://github.com/react-native-kit/react-native-track-player/blob/dev/android/src/main/java/com/guichaguri/trackplayer/service/player/ExoPlayback.java#L180

[2019-02-19 11:09] ishigamii commented on #340
@Guichaguri On Android In both cases to be honest I tested it and got this on both simulator and real device. The app open again but the track keeps going like normal.
Maybe it's my manifest configuration which is wrong ?

[2019-02-19 11:38] Guichaguri commented on #363
@Jlexyc are you using any other native modules?

[2019-02-19 11:40] Guichaguri commented on #340
Can you share your manifest file so I can take a look?

[2019-02-19 12:42] ishigamii commented on #340
@Guichaguri Yes no problem
[code]

[2019-02-19 12:44] murat-mehmet opened #455 "Url from udp server"
This lib is great and working perfect with http protocol. However our audio will be streamed over multicast udp stream. And I could not play udp stream. I tried passing 'udp://host:post' to url but it just can't play it. Is there any workaround for it?

[2019-02-19 18:00] nasmuris commented on #446
It seems `ExoPlayer`'s `onPlayerStateChanged` method is getting called twice when setting up the player, first time with Player's state = STATE_NONE, second time STATE_STOPPED, which sends `playback-queue-ended` event. In case you `TrackPlayer.reset()` in the listener, it results in the infinite loop.
@Guichaguri I'm thinking about what the solution could be like, wouldn't it be enough to check th

[2019-02-19 20:04] dnish commented on #452
I've also noticed that the loading badge get's visible for a few seconds if a play a song which was downloaded.

[2019-02-19 22:06] dcvz opened #457 "Ignore Malformed Tracks in `add`"
When queueing tracks and one track is malformed, the whole queue is rejected. Perhaps the player, should just skip over malformed tracks and add those it can.

[2019-02-20 06:07] ihutc opened #458 "Problem loading local artwork file"
I'm trying to use a locally stored image file (downloaded using RNFetchBlob) as the artwork for a track, but I'm having trouble getting it to appear in the notification centre controls.

Playing audio that's downloaded and stored locally works perfectly using an absolute path like `file:///var/mobile/Containers/Data/Application/BB86EFE9-1ED0-4AC8-9E95-A9B16EF23C97/Documents/22485.mp3`.

I've tried

[2019-02-20 16:52] #423 closed

[2019-02-20 16:52] Guichaguri commented on #340
The `android:launchMode="singleTop"` property should be added in the `<activity>` tag

[2019-02-20 16:54] Guichaguri commented on #455
UDP is not supported at the moment. I'll consider this issue as a feature request.

[2019-02-20 17:25] ihutc commented on #458
To get this working for now, I've made some _super hacky_ changes to the `setArtwork` function in `AudioPlayer.swift` in [this commit](https://github.com/ihutc/react-native-track-player/commit/a1e7b3d7b125a316174ab0d01bf5bb2be160273a).

It's pretty similar to what exists, but doesn't use `URLSession` to get the file. It instead uses an absolute URL of an image file in the file system, without the

[2019-02-20 19:00] #437 closed

[2019-02-20 21:29] timmywil opened #459 "[Notification feature request] Allow dismising notification if the player is paused"
Currently, the notification player is always sticky, even if the music is paused and even when you force quit the app, probably because a track is still in the queue in the native player.

Spotify does this with their notification player. If the player is paused, the notification can be dismissed. When music is playing, the notification is sticky. I don't know that much about native Android, but I

[2019-02-20 22:37] curiousdustin opened #460 "Do options need to be provided separately to setupPlayer() and updateOptions()?"
In the docs there are 2 sets of configuration option objects documented.

There is set of options that is documented under setupPlayer().
https://github.com/react-native-kit/react-native-track-player/wiki/Documentation#setupplayeroptions

And there is another set that is documented under updateOptions().
https://github.com/react-native-kit/react-native-track-player/wiki/Documentation#updateoptions

[2019-02-20 22:45] curiousdustin opened #461 "[Android] Seeking backward in time causes buffered progress to reset."
Is it expected that the buffered progress will reset when seeking to a time earlier than the current playhead?

We would like to show our users a visual of the buffering progress, however it doesn't seem right that this progress would reset if you go backward in time to something that seemingly was already loaded...

[2019-02-20 22:46] murat-mehmet commented on #455
Well I managed to implement it in android, because exoplayer already supports udp streams. I will open a PR if I can also implement the ios part. Great lib, thanks.

[2019-02-20 22:52] curiousdustin commented on #461
I only see this behavior on Android. On iOS, it appears to buffer the entire track, and not have to buffer again when seeking.

[2019-02-20 23:44] curiousdustin commented on #461
I think I have determined that the cause is that exoplayer defaults to have a back buffer of 0. Meaning that nothing behind the playhead is kept in the buffer.

For my purposes, I would like to keep at least some previous content in the buffer.

I have created a pull request that enables the optional setting of the back buffer.

#462

[2019-02-21 09:13] ishigamii commented on #340
@Guichaguri  sorry for the delay
I actually tried to move it to the activity as you said and place it instead in the first activity `android:name=".SplashActivity"` but it didn't change the problem. So I tried to put it in the second `android:name=".MainActivity"` and same result. And I tried to put it in both and same result :/ (maybe I am doing some strange things as I am not very used to androi

[2019-02-21 10:09] ishigamii commented on #446
@nasmuris yes indeed It was the point of this point it's the `reset` that cause the infinite loop ;)

[2019-02-21 10:18] ishigamii commented on #453
Solved this with removing my `SingleTop` and adding `android:launchMode="singleTask"` to AndroidManifest.xml under the activity `android:name=".MainActivity"`.

[2019-02-21 10:18] #453 closed

[2019-02-21 10:20] ishigamii commented on #340
@Guichaguri Solved this with removing my `SingleTop` and adding `android:launchMode="singleTask"` to AndroidManifest.xml under the activity `android:name=".MainActivity"`. Hope the SingleTop wasn't needed for something else though ^^

[2019-02-21 10:26] ishigamii commented on #445
@Guichaguri Should I close this or leave it open  ?

[2019-02-21 13:02] Aornn opened #463 "stopWithApp doesn't work"
[code]

Hi i have this code but when i kill my app while a song is running it doesn't stop the song, i have no error or whatever ...
Do you know why ? Thanks !

[2019-02-21 13:30] Guichaguri commented on #463
Which platform?

[2019-02-21 13:32] Aornn commented on #463
Android, last version of this player

[2019-02-21 21:25] curiousdustin opened #464 "[Android] Player doesn't react as well as it could to other audio apps."
Even when implementing the `remote-duck` event logic suggested in the [docs](https://github.com/react-native-kit/react-native-track-player/wiki/Documentation#remote-duck), the player doesn't react as well it seems it could to other audio apps.

My app is a podcast style app, so I have opted to always pause/resume rather than adjusting volume.

Here is my `remote-duck` handler:

[code]

Here are so

[2019-02-21 22:59] curiousdustin commented on #464
After looking at the native code a bit, I think I have determined that both of these cases are related to TrackPlayer not tracking the loss of audio focus when it is paused.

Things start behaving much better if I `stop()` when receiving a `remote-duck` event instead of `pause()`.

Trouble is, I really would like to use `pause()` so that my users can pickup right where they left off.

[2019-02-21 23:28] curiousdustin commented on #464
Adding a couple lines to set `hasAudioFocus` in the `onAudioFocusChange` method seems to result in the behavior I need for my app, but I'm not sure if it is the best fix. This feels like it could end up with unexpected behavior if you just wanted to change audio volume or some other reaction to these events.

[code]

Perhaps it would be more appropriate to add some way to `abandonFocus()` intentio

[2019-02-21 23:32] curiousdustin commented on #464
One more thought. If the above DOES happen to be a decent solution. It is unclear to me if `hasAudioFocus` should be set to true in the `AudioManager.AUDIOFOCUS_GAIN` case.

[2019-02-22 18:39] xgustavoh commented on #369
@Guichaguri, I will implement here, because today I will present an update in production, if successful I tell you!

[2019-02-23 11:40] smeevil commented on #363
I run into the same problem.

Everything runs fine on the iOS side, but on android I get the same as OP, except the call site is 18.

I have also tried the dev version of react-native-track-player but this did not help.
I had to update my AndroidManifest.xml first to include `android:usesCleartextTraffic="true"` otherwise it would not even connect to the dev server.

I'm fairly new to building in

[2019-02-23 14:50] Guichaguri commented on #363
@smeevil can you show your `.../android/app/build.gradle` too?

[2019-02-23 14:56] xgustavoh commented on #369
Good morning @Guichaguri ,

Apparently so far the problem was solved, as it is possible to observe in the image below without fail of ANRs.
![Img1](https://user-images.githubusercontent.com/19254287/53287955-7b35f580-3761-11e9-81f6-3db29c9738f7.png)
![Img2](https://user-images.githubusercontent.com/19254287/53287959-80934000-3761-11e9-9370-58c8ca0c9a05.png)

While in other versions the error was q

[2019-02-23 14:58] Guichaguri commented on #459
The reason why Spotify does this is because the music service is not directly linked to the app, both of them can run independently.
This has been discussed before and it is possible to implement a workaround, but it's a big solution for a small problem. As we're focusing on stability first at the moment, we'll hold that to another time.

See https://github.com/react-native-kit/react-native-track-

[2019-02-23 14:58] #459 closed

[2019-02-23 18:03] smeevil commented on #363
@Guichaguri Here you go :

[code]

[2019-02-23 18:46] Guichaguri commented on #460
They are completely different options, one is related to the behavior of the player, and the other one related to the behavior of the metadata and media buttons.

At the moment, iOS doesn't support any of those options, so they're basically ignored. We should at some point add to the documentation which platforms each option/function is available.

`updateOptions()` can be called multiple times, e

[2019-02-23 18:48] #461 closed

[2019-02-23 18:54] Guichaguri commented on #369
@xgustavoh thank you, that's great!
Yes, please do tell me. I'd love to know whether it worked :rocket:

[2019-02-23 18:59] Guichaguri commented on #363
That's weird. Does the [example app](https://github.com/react-native-kit/react-native-track-player/tree/dev/example) works for you?

[2019-02-23 19:18] jasongrishkoff commented on #230
Hey @Guichaguri, have you had a chance to look at Chromecast recently?

[2019-02-23 20:03] illestrater commented on #369
Also deploying today, so will get back to you after a while of app usage has passed!

[2019-02-24 01:44] Guichaguri commented on #464
Basically, there are three types of audio focus loss:

* Transient Loss: The app needs to pause the track for a moment, but it should be prepared to resume it shortly.
    * Commonly seen with small audio clips from messaging apps.
    * Recommended action: `pause()`
* Transient Loss "can duck": The app should pause or just lower the volume, but it should be prepared to resume it shortly.
    * Co

[2019-02-24 09:49] Jlexyc commented on #363
Yeah, a lot. Also list of created on my own. I'm just not android developer (my main exp in iOS) so here i've got some issues with android, but was able to fix everything. thanks.

[2019-02-24 18:16] Guichaguri commented on #439
Duplicate of #192.

[2019-02-24 18:16] #439 closed

[2019-02-24 18:19] #442 closed

[2019-02-24 20:16] smeevil commented on #363
I've finished building my prototype on iOS and its working perfectly, (also on device) very happy with that. Now I am ready to get this working on android again. So I went through all the manual steps that you have to setup when adding react-native-navigation and got a little bit more understanding of the process. Currently the build is successful, starts the emulator, starts the app, and then blo

[2019-02-25 15:07] xgustavoh commented on #369
@Guichaguri, Good Morning!
Unfortunately the error happened, But this time it was only once, in a single device. Oo

![image](https://user-images.githubusercontent.com/19254287/53346399-b9641e00-38f5-11e9-8187-fa8bed13b005.png)

Complete error:
![screencapture-play-google-apps-publish-2019-02-25-12_03_47](https://user-images.githubusercontent.com/19254287/53346483-dbf63700-38f5-11e9-8bf6-f81adc0ce

[2019-02-25 15:29] curiousdustin commented on #464
Thanks for the detailed info and the fix.

I won't be able to test this right away. We are in the middle of a release cycle, and our app already went through QA with my temporary solution.

I'll report back when I get a chance to test this fix.

[2019-02-25 18:02] CapitanRedBeard commented on #282
Haven't implemented this myself but plan to in the future. For others interested here is the react-native-video discussion that @gazedash mentioned. https://github.com/react-native-community/react-native-video/issues/99

[2019-02-25 18:52] CapitanRedBeard commented on #387
@brenwell @robertblackwell Would either of you two be able to put a PR based on your fork? It's hard to tell what is a needed change and what is not based on the fork being out of date so if you could rebase then put up a PR it would help a ton.

The work around of `play -> seekTo -> pause` for this bug/behavior work but isn't great because on slower devices the user can actually here the audio.

[2019-02-25 19:21] CapitanRedBeard commented on #404
For anyone wondering this landed right after 1.1.2 so presumably it will be ready in 1.1.3, although you can access it now by pointing to the `dev` branch

[2019-02-26 11:55] Guichaguri commented on #369
Well, at least it's we've done some progress here.

Just for context, previous Android versions used to allow apps to run code in background while the app was closed. Android 8 requires the service to start as foreground (which requires a notification) when the app is in background, so the user knows whether the app is doing some work.

After starting the service, Android 8 gives only 5 seconds fo

[2019-02-26 12:59] #369 closed

[2019-02-27 03:19] ouabing commented on #454
Still exist in 1.1.3.

[2019-02-27 11:06] Guichaguri commented on #412
This issue seems to be related to the track URL not being set. I'll be closing this for inactivity, feel free to reopen it if you're still facing the issue.

[2019-02-27 11:06] #412 closed

[2019-02-27 11:07] #398 closed

[2019-02-27 11:10] Guichaguri commented on #381
I'll be closing this for inactivity. Feel free to reopen it if you're still facing the problem.

[2019-02-27 11:10] #381 closed

[2019-02-27 15:29] ntk860 commented on #446
I was using reset to clear the queue, and just today I saw the implementation of reset for android and I realized that its purpose is not to clear the queue.

I add the songs one by one and I manage my own queue, whats the best way to remove the songs from the queue ?

[2019-02-27 19:07] ntk860 commented on #446
@nasmuris thank you! Thats exactly happening to me as well.

[2019-02-27 20:46] curiousdustin commented on #464
After some light testing this appears to work great. :)

For my app, I ended up pausing the player when either `paused` or `ducking` is true. And also setting a boolean flag when `permanent` is false, then resuming playback when all 3 values are false, and that flag is set.

[2019-02-27 20:46] #464 closed

[2019-02-27 20:52] curiousdustin commented on #460
I would gladly submit a proposed update to the docs, but as far as I can tell, there isn't a way to do this similar to normal PRs, correct?

[2019-02-27 20:53] curiousdustin commented on #451
I ended up working around this with other logic in my app. Feel free to close the issue if you do not intend to update the behavior.

[2019-02-27 21:30] #417 closed

[2019-02-27 21:31] #407 closed

[2019-02-27 22:05] curiousdustin commented on #310
Would it make sense the the introduction of a revamped player for iOS in version 1.1.0 resolved this issue?

I am testing on 1.1.3 now and I am not seeing the issue anymore.

Please close this issue if this is the case.

[2019-02-28 00:10] biomancer commented on #446
We've been facing the same issue with `playback-queue-ended` as our code in event listener expects that this event is called only when last track (single in our case) in queue was playing and has ended, as it was in pre 1.0 version and as it seems to work now on ios according to my breif tests. We use this event as a signal to add next track to player queue, so it's not expected on reset or when u

[2019-02-28 01:00] Guichaguri commented on #460
There isn't, unfortunately, but I've enabled public editing. Feel free to update it.

@dcvz we should probably move the wiki to the main repo, [creating a docs site](https://github.blog/2016-08-22-publish-your-project-documentation-with-github-pages/). What do you think?

[2019-02-28 20:54] curiousdustin commented on #460
I made some edits. Please double check my assessment of which options/parameters are used on each platform. This was another point of confusion for me when starting out with this plugin.

I am also willing to attempt moving the docs into the main repo as described in your link above, but I don't want to duplicate work you might already be doing. Let me know, public editing is obviously not necessa

[2019-02-28 23:20] mateomorris commented on #282
Got caching working on iOS with [react-native-fetch-blob](https://github.com/joltup/rn-fetch-blob).

[code]

[2019-03-01 01:27] curiousdustin commented on #323
I initially had this issue as well.

I'm not certain exactly which version addressed this, probably 1.1.0 with the re-vamped iOS player.

It still does not fire `remote-pause`, but I don't believe it should.

Instead, the audio is automatically paused, as the iOS docs specify it should, and the corresponding `playback-state` event is fired so you can update UI.

I would consider this resolved.

[2019-03-01 08:15] gazedash commented on #282
@mateomorris it's not caching, it's downloading. The main point of caching is to be able to save the audio file while the user is listening to it. In your solution, user have to wait to be able to play it locally.
Or even download it twice. Just think about large audio files, how long will it take to download it?

[2019-03-01 09:59] Jlexyc opened #467 "Calling setupPlayer() from the background causes error in iOS"
setupPlayer() works fine from foreground, but when application in background (app receives silent push so handler is in there) i'm getting this error:

Don't know what to do. I need to start play music from the background.

WORKAROUND:
I setup player from iOS native code on didreceivenotification. Not calling setupPlayer from JS code fixes the issue.

[2019-03-01 13:17] mateomorris commented on #282
Ah, gotcha. Didn't know that difference. At any rate, this was good enough for my purposes.

[2019-03-01 13:46] brunoscigliano opened #468 "Problem playing the next song on Background IOS"
Hi, I'm having a problem when I try play the next track after the queue has ended.
What i have is a listener with playback-queue-ended that ask the server for another track, after that I reset the queue and add the new track.

The issue that i have is that sometimes when the track is too long 20~ minutes and the screen is off, the queue ends, the next track is retrieved but the player don't start.

[2019-03-01 14:56] dcvz commented on #460
@Guichaguri that would probably be for the best, that would allow easy contribution and review from our side. Let's do it!

[2019-03-01 19:12] timmywil opened #469 "[iOS] add Category option to allow custom AVAudioSession category"
Category is set here: https://github.com/react-native-kit/react-native-track-player/blob/686e7a4d9fe6607d58347c573ba83ed6010d7ee5/ios/RNTrackPlayer/RNTrackPlayer.swift#L134

I'm using another plugin that uses the microphone and because AVAudioSession is shared, it needs to set `playAndRecord` as the category. Obviously, it doesn't seem appropriate to just set that here. It would be ideal if this w

[2019-03-02 16:30] Guichaguri commented on #451
I've decided to change it to STATE_PAUSED, so it won't trigger unnecessary events. If someone ever needs to know whether the track is buffering while paused, we should probably implement a `isPlaying` property to the event.

[2019-03-02 21:55] mdekrey opened #471 "Large artwork issues (Android)"
When using large images for the `artwork` url on Android, on some devices one of the following happens:

* Notification bar controls and lock-screen controls do not appear. (Noted in emulator of Lollipop android, 2GB of RAM, xhdpi resolution. More stats available on request.)

    I couldn't find a corresponding message in the logs.

* Emulator crashes (Noted in emulator of Lollipop android, 2GB o

[2019-03-03 00:18] bemnet4u commented on #363
+1. I am seeing the same issue on android after upgrading to expo 32 from 30.

My suspcision is that the upgrade to babel 7 is causing this. Any idea what i can do to fix this?

I don't use typescript for my project.

![image](https://user-images.githubusercontent.com/16409994/53689250-97f49f00-3d06-11e9-8d29-0145f971aea1.png)

[2019-03-03 12:58] Guichaguri commented on #460
[Done](https://react-native-kit.github.io/react-native-track-player/). I feel like the CSS can be improved a lot, but everything else is in place.

@curiousdustin thanks for the contribution :)

[2019-03-03 12:58] #460 closed

[2019-03-03 13:05] Guichaguri commented on #471
That's expected. the module used to resize artworks after downloading them, but since I realized you shouldn't be using large images as resizing also needs to allocate it to the memory anyway and may take time to finish resizing.

Please, use lower resolution artworks, they'll load faster and they won't cause memory issues.

[2019-03-03 13:14] mdekrey commented on #471
Unfortunately, higher dpi devices are actually driving the artwork providers towards higher resolution artworks.

So I'm understanding correctly, the recommended solution is to resize the image (on the device or otherwise) prior to passing the artwork url in order to guard against URLs that have image sizes such as the example? I understand that this is a track-player library, not an image-resize

[2019-03-03 13:25] Guichaguri commented on #471
The phone can run out of memory the same way an emulator does. I know we're driving to higher resolution images, but you don't have to go overkill. Soundcloud, for instance, only stores up to 500x500 artworks on their servers, and they look completely fine.

Artworks have to be downloaded in full resolution and then allocated to the memory in full resolution. Just that can make the device crash if

[2019-03-03 16:34] mdekrey commented on #471
As I mentioned before, this isn't my artwork; it's from Gimlet Media, recently acquired by Spotify. It's the link available in the RSS feed for the podcast "Reply All".

But I'll see what I can do to downsize the artwork. Thanks!

[2019-03-04 22:06] ithustle commented on #381
Hi @Guichaguri , sorry for delay. It solved.  Thanks.

[2019-03-04 22:55] ithustle opened #472 "State for Ending a track"
Why the playback-state return `paused` when a song finish? Perhaps should be something like `finish`?

For now, I'm using `playback-queue-ended` event to check whether song is finished.

Is there another or specific way to know when a song finish?

[2019-03-05 00:25] ithustle commented on #446
Talking about strange behavior ... Why `playback-state` return integer value on Android and not a string like on iOS instead?

[2019-03-05 00:44] Guichaguri commented on #446
That's how each platform deals with states. There's nothing to worry about, since you can safely check for each state using the constants: `state === TrackPlayer.STATE_PLAYING`

[2019-03-05 07:26] ishigamii commented on #419
Hi, I am having the same crash on Android very occasionnaly :
[code]

[2019-03-05 09:12] ishigamii opened #473 "[Android] Crash - Not allowed to start service Intent"
# Configuration
package.json
[code]

react-native info
[code]

# Problem
I am having more and more of the same crash on Android using the version 1.1.2, here is the stack :
[code]

*service.js*
[code]

# Question
Is this solved in the newest version `1.1.3`? Cause I saw a bug correction that looks like this on the last version. ==> It's not solved in `1.1.3`

Is there any workaround or maybe some

[2019-03-05 09:58] Guichaguri commented on #473
This crash can be caused by multiple reasons, please, try 1.1.3 first so we can make sure it's not related to that.

[2019-03-05 10:03] ishigamii commented on #473
@Guichaguri I actually don't reproduce myself but I can get crash from my users 👍 It seems to be what you explain in the other thread that seems to speak about it that's why I was wondering.

[2019-03-05 13:13] ithustle commented on #446
@Guichaguri and what about others states like `loading` , `ready`... On Android `TrackPlayer.STATE_BUFFERING` return `6` but `state` variable only returns `0`, `1`, `2` and `3` ...

[2019-03-05 13:43] Guichaguri commented on #446
The state will return 6 when it pauses the playback to start buffering

[2019-03-05 13:57] ithustle commented on #446
On IOS buffering starts when track is loading for the first time. Is on Android different because the way how it deals with state too?

[2019-03-05 14:04] ithustle commented on #446
Btw, a suggestion ... this [library](https://github.com/danikula/AndroidVideoCache) deals better with cache than the actual library embedded on react-native-track-player. Take a look, @Guichaguri . ;)

[2019-03-05 19:42] ithustle opened #474 "Android not playing audio"
I'm building an app for streaming mp3 and when I add track the state changes to loading and then paused. If I touch in play button it doesn't do anything.

I double check on Android Studio and figure it out that `playWhenReady` return false.

Any help?

[2019-03-05 20:03] #474 closed

[2019-03-05 20:42] ithustle commented on #446
@Guichaguri , there is a strange behavior on streaming songs on iOS. The url is requested more than 2 times. That happens only with iOS. Any suggestions?

[2019-03-05 22:01] Guichaguri commented on #446
@ithustle this issue was already discussed in #451.

I used to use that library a few months ago, but I decided to switch to ExoPlayer's cache since it works pretty well with any type of stream.

Please, open new issues for each topic you want to discuss, this issue is for another problem and it's getting too off topic.

[2019-03-05 22:09] ithustle commented on #116
I have the same issues using this piece of code:

[code]

[2019-03-05 22:40] Guichaguri commented on #116
That's not the same problem. Please, open a new issue instead, this one is over a year old.

[2019-03-05 22:46] ithustle opened #475 "[Android] Custom notification icon does not appear in debug builds. (Works in release builds)"
I'm using this code to show icon on notification but it does not show up.

[code]

[2019-03-06 01:01] ericwrobinson commented on #373
@dcvz would you still have that information you are linking to somewhere? It appears the wiki information has been removed and I cannot see what the 'Swift File' is that is fixing it.

[2019-03-06 01:33] curiousdustin commented on #373
Wiki was moved to here:
https://react-native-kit.github.io/react-native-track-player/install/

[2019-03-06 01:42] ericwrobinson commented on #373
haha thank you, I just found the reference [here](https://react-native-kit.github.io/react-native-track-player/install/#troubleshooting) and it worked! Thanks!

[2019-03-06 08:45] ithustle opened #476 "[Android] Url streaming requested while state buffering"
Playing music (streaming) with low bandwidth cause streaming stutter and playback state throw `buffering` frequently, till here its normal.
But after a few seconds, seems that the url is requested again and forces music to restart in the middle of song playing.

I experienced the same behavior on others libraries thats used ExoPlayer. But I'm wondering why its not happens on Youtube, Google Play V

[2019-03-06 10:22] ManeeshAkurathi commented on #475
If you want to show icon in notification. You need to add that as follows

`TrackPlayer.add({
        // Other params comes here as usual like url, title etc
        artwork:require('./../imgs/ic_logo_notification.png')  //this is your notification icon
      });`

[2019-03-06 10:24] ithustle commented on #475
@ManeeshAkurathi are you sure about this?

AFAIK  `artwork: require('...')` show audio cover ...

[2019-03-06 10:52] Guichaguri commented on #475
Can you send a screenshot showing the how the notification looks to you? Can you also send the icon image?

[2019-03-06 11:08] ithustle commented on #475
@Guichaguri , please FIA.

Now I figure it out that happens on device with differents sizes ...
My icon has 33 x 33 px

![ic_logo_notification](https://user-images.githubusercontent.com/5114680/53877045-721e1180-4008-11e9-8c52-a40c6230dc5a.png)

![screenshot_20190306-120139](https://user-images.githubusercontent.com/5114680/53876938-2f5c3980-4008-11e9-9862-8e0e7a4f6178.png)

[2019-03-06 11:36] Aornn commented on #463
so you don't know ?

[2019-03-06 18:34] ManeeshAkurathi commented on #475
@ithustle  It worked for me.

[2019-03-07 00:17] Guichaguri commented on #457
I don't see a reason for this. I think the error message is only ever seen in development, and it guides the app developer on how they should create track objects.

It's also a better practice to show an error whenever something is wrong, adding it partially might confuse the app developers instead of guiding them to the error.

[2019-03-07 01:10] #445 closed

[2019-03-07 07:10] ithustle commented on #475
@ManeeshAkurathi it works on different screens sizes?

[2019-03-07 09:31] ishigamii commented on #463
@Aornn what is the version you are using ? `1.1.2` or `1.1.3`?

[2019-03-07 09:45] mkdotcom commented on #463
I don't have this issue anymore with 1.1.3
thanks

[2019-03-07 09:47] ishigamii commented on #463
@mkdotcom cool
@Aornn do you still have this issue in `1.1.3` ? if not can you close the issue ?

[2019-03-07 09:53] ithustle opened #477 "New version ExoPlayer r2.9.6"
Any plans to update ExoPlayer r2.9.6 version?

[2019-03-07 10:02] Aornn commented on #463
OK it's fixed for me too :D

[2019-03-07 10:05] ishigamii commented on #436
@maendamedia can you run `react-native info` in your react native project and show us the `package.json` to help you ;)

[2019-03-07 10:06] ishigamii commented on #402
@ntk860 can you close this issue if everything is good now ?

[2019-03-07 10:07] ishigamii commented on #359
@alikazemkhanloo  can you try using the new version and close this issue if everything is good now ?

[2019-03-07 10:10] alikazemkhanloo commented on #359
Ok I will check it out ASAP.  But it may take couple of days.

[2019-03-07 10:12] ishigamii commented on #359
No problem ;) should work now take your time and close the issue if done ;)

[2019-03-07 10:53] #463 closed

[2019-03-07 11:13] Guichaguri commented on #477
Is there a specific reason for the update? I mean, it's always good to update, but the version we're using is working pretty well.

[2019-03-07 11:19] ithustle commented on #477
Maybe...

As I reffered in #476 , I'm wondering maybe I can see my problem solved.
I'm doing a few tests and for now, it seems maybe solved ... I'm not so sure ...

If it does, can you accept my PR?

[2019-03-07 11:42] Guichaguri commented on #477
Absolutely!

[2019-03-07 15:03] ntk860 commented on #446
I did some research on this problem and why it was happening on my app. I discovered that Android open multiple copies of the activity when you open multiple times the app. To prevent android of creating multiple copies of the activity I used `android:launchMode="singleInstance"` on **AndroidManifest.xml** (activity field) that way **playback-queue-ended** doesn't trigger every time the app is ope

[2019-03-07 16:48] #402 closed

[2019-03-07 18:18] ithustle commented on #475
Ahh... Never mind... I missed this https://facebook.github.io/react-native/docs/images.html

[2019-03-07 18:43] ithustle commented on #431
+1

[2019-03-08 00:22] curiousdustin opened #478 "[iOS] Stop or Reset player when going to background?"
Most of the time I want my app to play music in the background.

But, there is a specific track that I want to only play while in the foreground on a certain screen.

I am stopping (or resetting) the player when `AppState` reports that the app is going to the background.

This works fine, except that the lock screen player controls persist. Not only are they there, but the have incorrect duration,

[2019-03-08 00:25] curiousdustin commented on #478
`AppState.addEventListener('change', this.onAppStateChange);`

[2019-03-08 11:40] Guichaguri commented on #478
I'm pretty sure you can `destroy()` it, but you'll have to implement logic to set it up again.

[2019-03-08 11:44] mimamuh opened #479 "Docs: Play-state inconsistencies"
Hi,

I just used the [playback-state](https://react-native-kit.github.io/react-native-track-player/documentation/#playback-state) event and saw there is an inconsistency to the docs at least on iOS.

On iOS i logged what I got for the `state` param and there was a `ready` state on iOS passed after `loading` state. But when I log all the [state constants listed in the docs there](https://react-nati

[2019-03-08 11:58] hmaamoun commented on #468
We are currently facing the same issue. Did you have any luck finding a fix for it?

[2019-03-08 12:30] sravis opened #480 "java.lang.NullPointerException error when trying to run the project"
After installing when i run **react-native run-android** i'm getting below error

[code]

Steps i used to install the package
[code]

My Java and android build versions
[code]

android
[code]

android gradle distribution url
`distributionUrl=https\://services.gradle.org/distributions/gradle-5.0-all.zip`

[2019-03-08 16:55] ithustle commented on #170
Apparently, I'm facing a similar problem... There is my thing:

My tracks:

[code]
Then, in my preparing function:

[code]
I'm facing with this:

`Error: Given track ID was not found in queue`

Am I doing something wrong?

[2019-03-09 10:17] ithustle opened #481 "Repeat track on queue"
Is there a way to repeat one track on queue of at least 4 tracks?

If no, have you guys a plan to implement it?

[2019-03-09 15:33] Guichaguri commented on #481
Duplicate of #122

[2019-03-09 15:33] #481 closed

[2019-03-09 15:36] Guichaguri commented on #480
Can you build the project manually (through `gradle build` or Android Studio)? Does it work if you set `targetSdkVersion` to 27?

[2019-03-09 17:33] ithustle commented on #481
Unfortunetly it doesn't help me...

[2019-03-09 18:41] whhotw commented on #479
same focuses

[2019-03-09 18:50] Guichaguri commented on #481
I'm unifying each suggestion in a single issue, it's supposed to help the project stay organized. If you want this feature, you should 👍 that issue instead.

[2019-03-09 18:52] ithustle commented on #122
+1

[2019-03-10 07:24] sravis commented on #480
@Guichaguri i tried both and still the same issue.

[2019-03-10 09:52] zedissime opened #482 "RNTrackPlayer not working on Android"
Hello,
I'm building an app with RNTP, everything is fine on iOS, but on Android it doesn't seems to work at all.
On application start I see in AndroidStudio a logging loop of this :
[code]
When a want to add a track in the playlist nothing happens.
I can't see what I'm doing wrong as everything is ok on iOS.
Can someone give me a hand here?

[2019-03-10 11:08] ithustle opened #483 "Start a specific track from a playlist"
I have the following track:

[code]

My users start playing songs when they tap a song. On a playlist they can tap any song whatever they want and any position. So, is there a way (from this lib) to start a song as I described above in comment and when the current song ends the track list continue playing next track `166898571559` ?

PS: I tried `insertBeforeId` but as I referred in https://github

[2019-03-10 11:10] ithustle commented on #482
@zedissime , can you share your code?

[2019-03-10 13:28] zedissime commented on #482
First of all thank your for your attention,
I've got a component containing the player, which will add event listeners when the component did mount.

[code]
import TrackPlayer from 'react-native-track-player';

const TrackPlayerService = async () => {
  TrackPlayer.addEventListener('remote-play', () => {
    console.log('remote-play');
    TrackPlayer.play();
  });

  TrackPlayer.addEventListener(

[2019-03-10 14:22] ithustle commented on #482
No. Sorry I should be more specific .. Can you share your code for play a track?
Your configuration code seems to be well configured.

[2019-03-10 14:27] zedissime commented on #482
It's really a simple code, in fact the logs I did mention on my first post are appearing on application start. So I think it's not related to the code for adding tracks.

[code]

[2019-03-10 14:34] Guichaguri commented on #480
I'll need the whole stacktrace to help you. Can you run `gradle build --stacktrace`?

[2019-03-10 14:44] ithustle commented on #482
Did you trace the `playback-state` events ?

[2019-03-10 14:53] curiousdustin commented on #478
I still need to do more testing to narrow this down further but, here is some more info. I intend to do some testing in the example app, but this info is from my app.

The trouble I’m having is specifically when leaving the app via device sleep button.

[code]
This scenario works as expected. Audio is stopped. Lock screen shows no controls.

[code]
This scenario behaves differently. The audio stil

[2019-03-10 16:36] sravis commented on #480
Hi @Guichaguri

I'm on windows and I'm running node version 8.15.1

[code]

[2019-03-10 18:15] zedissime commented on #482
Yes on application start, it's constantly switching from 1 to 0 [see this screeshot](https://take.ms/LQwSz)

[2019-03-10 18:47] ithustle commented on #482
I had the same.

First of all, like I said https://github.com/react-native-kit/react-native-track-player/issues/482#issuecomment-471310671, I had to change this line https://github.com/react-native-kit/react-native-track-player/blob/108a6ed0094770aaac878cd2b7fdfb3a1a0bc2e4/android/src/main/java/com/guichaguri/trackplayer/service/player/ExoPlayback.java#L180 to `return PlaybackStateCompat.STATE_BUF

[2019-03-10 20:23] zedissime commented on #482
Thanks a lot, I'll try this asap.

[2019-03-10 20:42] ithustle commented on #446
@ntk860 it didn't work

[2019-03-11 02:29] ntk860 commented on #446
What didn't go well ? android:launchMode="singleInstance" ?

Its working for me, what was happening before I had this, was that every time the app got opened, the song restarted and I could see that the app was restarting. (it was restarting the song because I have some logic on **playback-queue-ended**, so it was triggering **playback-queue-ended**)

Now its perfect, the app doesn't restart anymo

[2019-03-11 03:49] hrag commented on #440
I'm having trouble getting an answer to this, but is buffering even supported on iOS??

We can't set custom buffering options (options.minBuffer, options.maxBuffer etc) for iOS so it raises questions. Also in the platform support matrix it says caching isn't supported.

Maybe the documentation could be a bit more clear around this? I feel like the shortcomings in iOS are not all that well explaine

[2019-03-11 16:36] timmywil commented on #413
You were able to compile properly, but RNTP is using APIs that aren't available in iOS 9. This became blatantly apparent when I tried to link with pods and it set the platform to iOS 9: https://github.com/react-native-kit/react-native-track-player/pull/486

Unfortunately for some, the likely solution is to not support iOS 9.

[2019-03-12 02:43] hoang-rio commented on #413
I know it can compile. It only crash when run in ios 9 device. React native support ios 9 over higher so if RNTP support ios 9 will bettter

[2019-03-12 03:06] timmywil commented on #413
I'm not sure you understood what I meant. RNTP is using native APIs that are not available in iOS 9, so it will not work in iOS 9.

[2019-03-12 05:46] zedissime commented on #483
I guess I would try to split the logic of the playlist.
Maybe 2 playlist would do the trick. One playlist in the state in order to be shown to your users, and the second one built in RNTP.
When your user tap on a song, I would [`removeUpcomingTracks()`](https://react-native-kit.github.io/react-native-track-player/documentation/#removeupcomingtracks) on the player, then add the song.

[2019-03-12 05:49] ithustle commented on #483
Yep, that’s the trick. I did something like that.

[2019-03-12 13:22] hoang-rio commented on #413
I understood watch you mean. But i realy want RNTP support iOS 9 like v1.0.2 and previous

[2019-03-12 15:36] jensneuber opened #488 "[iOS] Player stay in "loading" state if track can not be found"
OS version: iOS 12.1
RN version: 0.57.0
track-player: 1.1.3

----

The player is working as intended as long as all item in a playlist are loadable. Once a track with a non reachable URL (404) should start playing the player stays in "loading" state. No error is thrown and the player state does not change.

I tried to solve it by adding this piece of code in the AVPlayerWrapper.swift:162
[code]

S

[2019-03-13 04:36] matinzd opened #491 "Events are not triggered"
Hi,
My events are not triggered in service.
Here is my code
And does anyone have any ideas about getting tracks duration in queue?!

[code]

And my TrackPlayerService.js

[code]

RN: v0.58.4
OS: Android 9.0 Pie
TrackPlayer: 1.1.3

[2019-03-13 14:39] curiousdustin opened #492 "[iOS] getBufferedPosition() always returns 0"
Why was this changed? It used to work fine.

Can the new Audio player that was switched to in `v1.1.0` not provide the buffer progress?

[2019-03-13 16:06] curiousdustin commented on #492
I got this working again for my purposes, although I don't know that this will be the actual solution, as it modifies the 3rd party library being used on iOS.

PR: #493

[2019-03-13 16:54] bemnet4u commented on #391
I see this error in Android 8 with the latest 1.1.3 package. As per the android guide https://developer.android.com/about/versions/oreo/background.html#migration they recommend calling startForegroundService for audio services.
@Guichaguri have you or someone here looked at this?

`java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.shegerapps.amharicradio/com.guichaguri

[2019-03-14 11:44] Guichaguri commented on #491
1. You should be setting up the player before updating the options.
2. You shouldn't be updating your store inside the service, that shouldn't cause issues in your case, but it might.
3. `remote-` based events are only trigger when the user presses a button in the notification or in another device. As you aren't specifying the proper capabilities in the options, I think they're not triggering beca

[2019-03-14 12:31] matinzd77 commented on #491
Thanks for your response.
How can I remove notitication?

On Thu, 14 Mar 2019, 15:14 Guilherme Chaguri, <notifications@github.com>
wrote:

[2019-03-14 19:31] jvandenaardweg commented on #479
Experiencing the same about the different states and inconsistencies with ‘.play()’ not working on the first try 👍

[2019-03-15 02:18] Guichaguri commented on #491
You can't. Android requires a notification up in order to start a foreground service

[2019-03-15 05:40] matinzd77 commented on #491
So I selected icon for pause and play but nothing happens

On Fri, 15 Mar 2019, 05:48 Guilherme Chaguri, <notifications@github.com>
wrote:

[2019-03-15 09:12] ithustle commented on #475
I reopened this discussion because this issue still ...

[2019-03-15 11:18] Guichaguri commented on #491
Can you share the code of your app, so we can take a look at it?

[2019-03-15 11:28] matinzd77 commented on #491
Here is my code, I have removed icon options.

On Fri, 15 Mar 2019, 14:48 Guilherme Chaguri, <notifications@github.com>
wrote:

[2019-03-15 13:44] jensneuber commented on #488
@Guichaguri Would you like me to create a PR with the suggested changes? Or is there another way to support you?

[2019-03-17 11:00] puckey opened #494 "changing order of tracks"
I have been trying to figure out if there a way to change the position of a track in the queue.. I tried resetting the TrackPlayer and rebuilding the queue, but that stops the current track from playing.

And around about way to do this would be to remove all the tracks of the queue one by one, without the current playing track and then add them back, taking into account the `beforeId` parameter i

[2019-03-18 06:56] eff-society opened #495 "null is not an object (evaluating 'TrackPlayer.STATE_NONE')"
I get this error whenever I import TrackPlayer in a file. I've gone through the similar issues on this repo and tried everything, including reinstalling and relinking the lib (manually too) but nothing works.
I'm building for android btw.

![Screenshot_2019-03-18-11-53-16-08](https://user-images.githubusercontent.com/23633421/54512080-d0d27c00-4974-11e9-9860-8a9f2e956b6e.png)

**UPDATE:** Upon fur

[2019-03-18 08:59] ishigamii commented on #473
@Guichaguri Reproduced with latest version `1.1.3`

[2019-03-18 09:23] AChevallier commented on #473
Hello,

@Guichaguri  I do get this error as well on the version 1.1.3.

[2019-03-18 09:42] ishigamii opened #496 "[IOS] Crash - AVPlayerItem cannot service a seek"
# Configuration
package.json
[code]

react-native info
[code]

# Problem
I am receiving this error in Crachlytics (mostly happens on iOS 10.3.3 / 10.2.1 and less from what I can see) :
[code]

[2019-03-18 10:06] SteponasIvasovas opened #497 "[IOS] Doesn't resume after call ended"
Hello, i have problem where when i make a call the audio app is playing, is paused, but when the call is ended or canceled the audio is not resumed, any ideas what i am doing wrong? i tried console logging playback-state event, when making calls, but it only fires when i make the call and state changes to paused, but nothing happens when call is ended.

Android is working fine with remote-duck eve

[2019-03-18 10:08] AChevallier commented on #357
@Guichaguri

I do get this error on iOS as well.

[2019-03-18 10:44] SteponasIvasovas commented on #248
Not working on IOS

[2019-03-18 10:58] Guichaguri commented on #495
Are there any other crashes in the logs?

[2019-03-18 12:36] eff-society commented on #495
@Guichaguri My bad. I reinstalled the app on the phone and the error's gone. It was probably a cache problem. Feel free to close the issue :p

[2019-03-18 12:44] eff-society commented on #495
Closing this issue now

[2019-03-18 12:44] #495 closed

[2019-03-19 06:11] whoislewys opened #501 "How to mock for tests?"
There should be an example in the `/example` dir of how to mock the TrackPlayer for tests

I keep getting the error
[code]
when trying to run a basic test

How do I mock the TrackPlayer for tests?

Thanks

[2019-03-19 10:23] ishigamii opened #502 "[IOS] Background Music stops when opening the app"
# Configuration
package.json
[code]

react-native info
[code]

# Problem
If you are listening to music from anything else on your phone and you start the application. Even if the player is not created yet by calling `TrackPlayer.setupPlayer()` the music gets stopped as soon as the app starts.
This problem only happened to me on iOS. And after the app is launched we can go back to music play and go

[2019-03-19 10:34] ishigamii commented on #367
@pkhodaveissi do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:35] ishigamii commented on #364
@roman-gula do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:36] pkhodaveissi commented on #367
Haven’t checked in a while but sure, I’ll close for now

[2019-03-19 10:36] #367 closed

[2019-03-19 10:37] ishigamii commented on #343
@imran1992 do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:38] ishigamii commented on #215
@jbeguna04 wow very nice
@dcvz @Guichaguri Not using them yet ? :D

[2019-03-19 10:38] ishigamii commented on #228
@KalebPortillo do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:39] ishigamii commented on #209
@paulinosantos  do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:39] ishigamii commented on #367
@pkhodaveissi Thanks ;)

[2019-03-19 10:49] ishigamii commented on #363
@ParthNandaniya do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:50] ishigamii commented on #361
@curiousdustin do you still have the issue with new version ? if not can you close the issue ?

[2019-03-19 10:50] ishigamii commented on #359
@alikazemkhanloo did you have time to check it out ? otherwise can you close it and open a new issue when you get to check it with latest ? 👍

[2019-03-19 10:54] alikazemkhanloo commented on #359
OK, I'll close it.
Sorry, I'm too busy to update my old project.

[2019-03-19 10:54] #359 closed

[2019-03-19 10:58] ishigamii commented on #242
@khaisayhai did you find the way ?if you did can you post the answer and close the issue ?

[2019-03-19 12:40] thessler27 commented on #502
#484 fixed that, if you use the `dev` branch and then clean/rebuild, you'll be able to utilize background music until you `play()`

[2019-03-19 12:46] ishigamii commented on #502
@thessler27 I will give it a try even though I don't create the player until further in the app so that's still sounds a little different no ? 👍

[2019-03-19 12:51] thessler27 commented on #502
@ishigamii it does sound slightly different, but this might work. let me know. it all depends on how it initializes

[2019-03-19 13:03] ishigamii commented on #502
@thessler27 I just plugged myself on the dev version and sadly it seems that it's has some bugs as I can't compile it right away
<img width="235" alt="Capture d’écran 2019-03-19 à 13 59 07" src="https://user-images.githubusercontent.com/26909067/54607805-912c9280-4a4f-11e9-80ba-94e57cf1a7f9.png">
Am I missing something ? should I link the lib again ?

[2019-03-19 14:12] thessler27 commented on #502
clean the app `cmd+k` and rebuild. should fix this

[2019-03-19 14:29] curiousdustin commented on #361
I haven't noticed this in a while, but it was kind of hard to replicate in the first place.

Closing for now.

[2019-03-19 14:29] #361 closed

[2019-03-19 14:33] #406 closed

[2019-03-19 14:34] #310 closed

[2019-03-19 14:41] ishigamii commented on #502
@thessler27 even after rebooting and cleaning with `cmd+Shift+K` the build still gives these errors

[2019-03-19 14:50] thessler27 commented on #502
try linking the lib again with `react-native link react-native-track-player` so that it gets the new models

[2019-03-19 14:55] ishigamii commented on #502
@thessler27 also did that twice going back to the normal branch but still getting this error with the dev branch
To go to the dev branch I used : `yarn add react-native-kit/react-native-track-player#dev`

[2019-03-19 16:54] thessler27 commented on #502
try to uninstall and reinstall the plugin? and confirm that `SessionCategories.swift` is in your xcode project

[2019-03-19 17:51] ishigamii commented on #502
@thessler27 you were actually quite right the `SessionCategories.swift` was missing in the project even after removing it and installing it again. I did add it by hand in xcode and now seems to compile gonna give it a try thanks for help and sorry for not noticing it before 👍

[2019-03-19 22:53] thessler27 commented on #502
That's weird that it's not installing with the package. Glad it compiled

[2019-03-20 00:07] sideokyou opened #503 "[iOS] The Swift pod `react-native-track-player` depends upon `React`, which do not define modules."
Hi,

I followed the instruction on [https://react-native-kit.github.io/react-native-track-player/api/]

After execution `react-native link`, I got a message that successfully linked.

But, while running on iOS emulator, there is an error message that "native module cannot be null".

So, I go to `ios` folder and ran `pod install`. But, I got an error message

Using boost-for-react-native (1.63.0)
U

[2019-03-20 01:46] sideokyou commented on #503
Also, I followed linking library manually, but it doesn't work. I tried to create `dummy.swift`, but nothing came out.

[2019-03-20 05:44] whoislewys commented on #501
There might be a better way to do this as I'm new to Jest but this worked for me stub to get basic render tests passing

I have in myproj/jest/setup.js
[code]

and in myproj/package.json
[code]

I think it would be hugely helpful to have an example of mocking the TrackPlayer in the `/example` directory of this project, and I'd be glad to open a PR for this if the maintainers like

[2019-03-20 09:15] ishigamii commented on #502
@thessler27 just gave it a try and sadly It doesn't correct my problem as the sound stop as soon as I launch the app for the first time. If I go back to music and play I don't have any problem afterward as it only stop it when I tap on the play button and that launch the other track. Maybe it's the configuration of the iOS program ?
When I was using another lib I added this :
<img width="986" alt=

[2019-03-20 09:38] ishigamii commented on #502
@thessler27 It was indeed that piece of code that was causing the stop when launching the app I will be back to the normal branch it should be working with the `1.1.3` version
So I just tried the `1.1.3` version and it's working well with it
Thanks for your help 👍 Hope to see a `1.1.4` soon ❤️

[2019-03-20 09:38] #502 closed

[2019-03-20 11:37] puckey opened #505 "Improve docs"
I would like to work some more on the docs. I thought a good step for this would be to ask a few questions about things that are unclear to me after reading the docs:

### API.md -> Starting off

Is this required? Why does it need to be done after registering the main component?

In this and other examples `module.exports` is used. Since the `import  x from 'x'` syntax is being used, this could be

[2019-03-20 14:36] puckey commented on #505
Note answers to the questions above were given by @Guichaguri [here](https://github.com/react-native-kit/react-native-track-player/pull/504#issuecomment-474793853):

It feels odd somehow that android needs to crash if you do not do this.. Another way would be to supply something to `setupPlayer`:

[code]

Then if you do not supply it, we could add a default set of listeners internally. But this wo

[2019-03-20 16:48] sideokyou commented on #503
[Resovled]

Okay. the problem was that I was using EXPO. In order to use this library, I had to eject from EXPO. Because EXPO doesn't support audio for background, so I had to eject my project form EXPO. If those of you who have the same experience as me, I would recommend you go with react-native cli.

Even you start with expo-cli with bare workflow, it causes an error for using this library.

Ho

[2019-03-20 17:25] puckey commented on #505
@Guichaguri Here are a few examples where they are not putting require in between:

https://github.com/transistorsoft/react-native-background-geolocation/wiki/Android-Headless-Mode

https://medium.com/@essamtarik2000/introduction-to-react-natives-headless-js-90e87dee0ab4

I am not sure the memory considerations of passing a require should trump the questions the use of `require` raises (like 'is t

[2019-03-20 17:41] puckey commented on #505
I worked on the `getting started` docs: https://github.com/react-native-kit/react-native-track-player/pull/506/commits/2e404a0bc2ab988250b8a505d87a4aa17f87aa36:

- Split up the events section into two and linked the remote events to the Playback Service
- Simplified some of the code sections which were acting like extensive docs – while that is what `Documentation.md` is for.
- Incorporated [answe

[2019-03-21 07:19] zedissime commented on #482
So a few days later,
As the example provided in this repo was correctly working, I did not wanted to changes the package code as @ithustle suggested.
In fact, I did setup the TrackPlayer in his component did mount `TrackPlayer.setupPlayer()`. If I remove this everything is fine (both Android & iOS).

[2019-03-21 08:07] ithustle commented on #482
Humm. I see. Maybe as soon as possible there will be a new version release with this change because I made a PR with it.

Thats curious ... I tested right now (Android) removing `TrackPlayer.setupPlayer()` and works fine. Inclusive on app start `playback-queue-ended` event isn't fired.

CC: @Guichaguri

[2019-03-21 11:09] Guichaguri commented on #503
Yes, Expo is not fully supported on both Android and iOS at the moment.

[2019-03-21 11:09] #503 closed

[2019-03-21 11:59] zedissime commented on #482
After some tests, I think that `TrackPlayer.reset()` also makes the loop log described on my first post.
I was using it (probably wrongly) when the user kills the player.
So in order I did :
`
TrackPlayer.stop(); // to eventually stop the current playing track
TrackPlayer.reset(): // to reset the player
`
But when I do that (still for Android), the `reset()` method makes RNTrackPlayer logging and

[2019-03-21 12:04] Guichaguri commented on #505
Yes, but this is how Headless JS works, unfortunately. In order to run a Headless JS service, you need to register a JS task for it, since the whole music service is based on that, it won't run until you register it.

We can't use setupPlayer for that. When React Native needs to initialize a headless JS, it ONLY runs the index.js file, looks into the list of tasks registered and finds the TrackPla

[2019-03-21 12:30] puckey commented on #505
This is very useful information – I see how best incorporate it in the docs.

Okay, I think I will remove this from the docs. I think it is self explanatory that if you want certain options to be set, you should set them directly.. I can't image someone calling setOptions in some kind of onClick handler within a component for example.

In combination with your explanation above, I understand now w

[2019-03-22 03:11] Guichaguri commented on #505
No, and I'm pretty sure there is no benefit in using a dynamic import in this case.

[2019-03-22 05:54] bemnet4u commented on #473
+1. I also see this but only on android 9.0

[2019-03-22 07:50] shiroze opened #507 "Update Current Track"
![image](https://user-images.githubusercontent.com/6022114/54808209-1fa04e80-4cb2-11e9-80cc-2f9726e8b96f.png)

is there a way to Update current track Title, Artist, and Image ?

[2019-03-22 10:53] Guichaguri commented on #507
Duplicate of #93. This is already being worked on #465

[2019-03-22 10:53] #507 closed

[2019-03-22 13:38] diego3g opened #508 "Player disappear on lock screen and buttons randomly get disabled"
Hello,

I'm having two problems in iOS:

1. Sometimes in the lock screen when i press next/prev buttons the player fades away and i need to unlock the phone and lock again to see it. See (https://i.imgur.com/Zv4XvoX.mp4)

2. When i press prev/next buttons on Control Center sometimes these buttons get disabled and i can't press it anymore, even when they're not the first or last items on the list.

[2019-03-22 18:11] curiousdustin commented on #502
I also had the same issue with the missing `SessionCategories.swift` file, when trying to compile the example.

Will this be addressed?

[2019-03-22 18:13] ishigamii commented on #502
@curiousdustin make a PR for it just adding the file to the project I think it's just missing there that's all
@thessler27 want me to do it or will you  ? :)

[2019-03-22 18:17] curiousdustin commented on #502
I think you should, because I'm not understanding why it is not included when you install and link the react-native-track-player module. The file is there, it just doesn't get included for some reason.

[2019-03-22 21:27] curiousdustin opened #509 "[iOS] Player unresponsive after playback-error caused by certain MP3's with APIC metadata."
Apologies for the essay, but this is a complicated issue and I want to provide as much info as possible.

### The Symptoms

In my app, I was experiencing strange behavior after certain tracks would fail to load. After one of these tracks failed to load, no future tracks would load either, even when they had loaded and played just fine previously.

I was able to track down the problem tracks and re

[2019-03-23 23:10] thessler27 commented on #502
Looks like #500 addresses this

[2019-03-24 06:51] kkkkkt opened #510 "RNTrackPlayer/RNTrackPlayer.swift:139:34: Use of unresolved identifier 'SessionCategory'; did you mean 'sessionCategory'?"
Got error, maybe related to this chage ( https://github.com/react-native-kit/react-native-track-player/commit/f4afe2304de95af3a692510266abae4f6cf2f77e#diff-44c74236a1adc81d43903a61beab25ea )

Previous Version ( https://github.com/react-native-kit/react-native-track-player/commit/686e7a4d9fe6607d58347c573ba83ed6010d7ee5#diff-44c74236a1adc81d43903a61beab25ea ) worked well.

- History
  - https://git

[2019-03-24 11:18] neoassyrian commented on #436
I'm having the same issue

React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
      Memory: 6.17 GB / 15.89 GB
    Binaries:
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.0.0.0 AI-171.4443003

{
  "name": "packagename",
  "version": "0.0.1",
  "private": true,
  "scripts": {

[2019-03-24 11:41] ishigamii commented on #510
You just have to add it to the ios Project it's missing in the project ;)

[2019-03-25 02:04] shiroze commented on #507
Thanks @Guichaguri , the pull Request work for Android. but how about ios ?

[2019-03-25 06:30] shiroze commented on #510
@ishigamii already add the ios Project to my project but, xcode still say same.

[2019-03-25 07:12] minhtc commented on #497
Seem like responding to audio session interruptions wasn't implemented yet.

[2019-03-25 08:47] jackychanfox commented on #220
then how can I play alarm audio when I get notification?

[2019-03-25 09:31] ishigamii commented on #510
I meant add the file to the project ;) cause it was missing for me
https://github.com/react-native-kit/react-native-track-player/issues/502

[2019-03-25 11:45] Guichaguri commented on #507
The PR is still in the works, it won't be merged until we have iOS support fully working too.

[2019-03-25 11:49] Guichaguri commented on #510
https://github.com/react-native-kit/react-native-track-player/pull/500/commits/ee9e2a4e65d5c4510012fbab1f580963f80c0c07 seems to fix it, can you try it?

[2019-03-25 15:44] puckey opened #511 "Add wrap option to skipToNext / skipToPrevious"
In my app I want the next and previous buttons to wrap around. I.e. when you are on the last track in the queue, I want the notification screen next button to play the first track.

`TrackPlayer.skipToNext({ wrap: true })`

Another option could be `TrackPlayer.loop = 1` which would loop the queue also while playing.

[2019-03-25 15:50] puckey commented on #511
Right now I am wrapping by doing the following:

[code]

[2019-03-26 00:04] Alanz2223 opened #512 "Using registerPlaybackService before starting my app and "remote-" events are not firing"
Hello I would like to point out I am using React native navigation and everything was working fine before the major release of RNTP that incorporated the new event system. My current implementation calls the `registerPlaybackService` before React native navigation launches the app and before `setupPlayer` is called. Within the playback service my file has an async function and looks something like

[2019-03-26 07:18] moneynguyen0o0 commented on #472
+1

[2019-03-26 08:26] shiroze commented on #510
the File that must add to RNTrackPlayer project Folder Models is

Problem solved

[2019-03-26 08:42] #510 closed

[2019-03-26 09:51] styrken commented on #503
Any plans to support it? :-)

[2019-03-26 10:55] Guichaguri commented on #503
On Android, one of the key requirements for this package is the Headless JS feature, which straight up [crashes on Expo](https://github.com/expo/expo/issues/2393).

Unless Expo starts supporting it, there are no plans for it.

[2019-03-26 10:57] Guichaguri commented on #512
Android or iOS?

[2019-03-26 13:45] hoang-rio opened #513 "[iOS 12.2] Crash in first run"
I think is problem of compare with new iOS verion
Crash log
`Swift class extensions and categories on Swift classes are not allowed to have +load methods`

[2019-03-26 14:22] tijp commented on #513
I'm pretty sure it's related to this issue: https://github.com/facebook/react-native/issues/24139

[2019-03-26 14:25] Alanz2223 commented on #512
On Android pie, I was also testing on marshmallow. Using the latest dev version of rntp

[2019-03-26 17:04] davichoso commented on #513
yep, i think that there will be a fix shortly
https://github.com/facebook/react-native/pull/24155

[2019-03-26 17:46] HypeUFO commented on #479
I have the same issue with play() not working on the first try. I'm noticing the events are firing in this order:
loading => playing => ready => loading => paused
From the second attempt on, the player works as intended

[2019-03-26 20:30] eff-society opened #514 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.net.Uri.toString()' on a null object reference"
My app was working fine but suddenly started crashing without any error. I've tried rebuilding and reinstalling the app several times but no use.
adb logcat shows the following error when app crashes.

[code]

[2019-03-26 20:43] Guichaguri commented on #514
That can happen when you feed the player empty or invalid track URLs. Can you share the code that adds the track into the queue?

[2019-03-27 04:33] eff-society commented on #514
Thank you for your quick response. I traced the error causing code to this snippet. App doesn't crash when I comment it out. Tho still can't figure out what's wrong with it.

[code]

[2019-03-27 06:18] jvandenaardweg commented on #479
For what it's worth; i've started downloading the mp3 before playing it. This fixed it for now. Also fixed a problem displaying the wrong duration and not able to "seek" the track properly.

[2019-03-27 15:22] eff-society commented on #514
@Guichaguri Is there a way to detect when an audio file ends? Like any idea how should I go around doing something when an audio file finishes playing?

[2019-03-27 20:35] Guichaguri commented on #514
There are the `playback-track-changed` and the `playback-queue-ended` events. You can read more about them in the [documentation](https://react-native-kit.github.io/react-native-track-player/documentation/#playback-track-changed)

[2019-03-28 07:24] ishigamii commented on #496
@Guichaguri any wild guess on that problem ? a bad configuration of my part or a bug you know about ?

[2019-03-28 12:40] curiousdustin commented on #496
I have also started getting reports of this error in Bugsnag and Crashlytics.

In my app I seek in 3 ways.

Using jump forward/backward buttons.
Scrubbing a timeline.
And resuming playback at a certain point by play -> seek right away.

My hunch, just like @ishigamii, is that it has to do with the last one. Playing and then seeking immediately. (Even using await play())

[2019-03-28 16:22] GilVieira opened #515 "App crashes on call to TrackPlayer.remove(trackID)"
The application is crashing (android, I have not tested it on ios) when I try to remove the previous item from the one that is running, for example, I have the queue [track_1, track_2], track_2 is the current one when I try to remove the first item (`TrackPlayer.remove ('track_1_ID')`) The application hangs and closes. Debugging in Android Studio I received the following error:

[code]
Has anyone

[2019-03-28 16:49] eff-society commented on #514
Thanks @Guichaguri . That helped a lot.

[2019-03-28 16:49] #514 closed

[2019-03-28 22:59] curiousdustin commented on #473
I am also seeing this in my Crashlytics and Bugsnag reporting.

Android 8 and 9.

I have not seen it happen myself.

[2019-03-29 01:01] CapitanRedBeard opened #516 "[iOS] TrackPlayer.setRate() crashes in debug mode"
Hey developing on the simulator for iOS and whenever I call `TrackPlayer.setRate(1)` my xCode crashes. I know this was working earlier even on the same version because I was messing around with it to see if it worked.
I'm on the `dev` branch of the `react-native-track-player`.

Not to great at iOS development so was wondering if this is something obvious that I'm doing wrong since it was working g

[2019-03-29 04:40] CapitanRedBeard commented on #516
Apparently this might blow up in release mode too in Swift 5: https://swift.org/blog/swift-5-exclusivity/

[2019-03-29 08:22] puckey commented on #505
Would it be an idea to include code in the example app for the `remote-duck` event?

On Android it is essential for an app to behave well between other apps and there are quite few details on how it might best be implemented in the docs: https://react-native-kit.github.io/react-native-track-player/documentation/#remote-duck

`service.js` file:
[code]

Speaking of the `service.js` file. At the top

[2019-03-29 11:01] Guichaguri commented on #505
Absolutely!

An app developer might only test the module when the app is running, merging UI-related code to the service, and they will not realize that the service can also run in the background.
This is kind of a warning to be careful with the code you run in the service, as the UI may or may not be running as well.

[2019-03-29 11:04] Guichaguri commented on #473
Can I take a look into your playback service code?

[2019-03-29 11:12] ishigamii commented on #473
@Guichaguri I just added it in the first post ;) you are talking about the `service.js` right?

[2019-03-29 12:16] puckey commented on #505
I just wanted to come back to the note about the android notification:

While the stop button destroys the notification, the app stays running in the background.. When coming back to the app, you would then need to tell somehow that the app was destroyed and set it up again, correct? Recreating queue etc etc to match the app state. Should this be added to the docs somehow?

[2019-03-29 13:37] GilVieira commented on #515
Hi,

I include an index check on the remove method of the `LocalPlayback` class (line 109, before `queue.remove(index);`) and seems to be working fine.

The code:

[code]

[2019-03-29 14:37] curiousdustin commented on #473
Mine is a bit more complicated, and doesn't directly call the TrackPlayer methods, but maybe it will be useful.
[code]

[2019-03-29 14:38] curiousdustin commented on #509
@dcvz or @Guichaguri, Any thoughts on this?

[2019-03-30 03:58] Kendysond opened #518 "Multiple instances of the different audio files are playing"
Hi,

Experiencing an odd issue, when I call the play method on subsequent audio files, it doesn't stop the previously playing file, rather it plays while the former is playing and you can hear multiple audio outputs.

Any help on what i'm doing wrong would be really appreciated.

Also, even when the app is refreshed(not close per se), the audio continues playing. I'd have imagined it would be stop

[2019-03-30 04:11] moonstruck commented on #518
@Kendysond Are you getting this on real device or emulator? Sometimes emulator behaves weird . . .

[2019-03-30 04:14] Kendysond commented on #518
@moonstruck Interesting.. I'm testing on my emulator currently, but I'll try it on a real device and share the feedback. Thanks!

[2019-03-30 06:56] Myerden commented on #518
AFAIK you are responsible to manage this situation.
Same problem occurs in my project. I solved this problem by adding these lines to my project. You can add this code to home screen or anywhere you want. By this way, when you navigate to home screen, you will check if the Track Player is running or not. If running, stop it.
(I assume that you are using **React Navigation**)

    componentWillMoun

[2019-03-30 10:17] murat-mehmet commented on #455
Hey again, here is the progress about this feature.

I could manage to make it work in both platforms after hours of work.
### Android
This was the easy part, ExoPlayer supports udp links out of the box.
In Track.java:
[code]
DefaultUdpDataSourceFactory is a very simple implementation of DataSource.Factory
[code]
Or just:
[code]

And tadaa, android now can play udp links.

### Ios
This is where we

[2019-03-30 22:16] Guichaguri commented on #518
Is it happening on Android or iOS?

[2019-03-31 20:55] vbspace opened #519 "reset() and playback-queue-ended [ANDROID]"
The documentation says that playback-queue-ended fires when the queue ended, why does it fires when we call reset() ?

[2019-04-01 10:03] ouabing commented on #454
Seems like there are no other issues mention about this problem. Am I doing something wrong in my setup code? Or is there any clue I can debug this problem?

[2019-04-01 18:52] roman-gula commented on #515
I have the same issue  on android and dev branch.

[2019-04-01 21:06] ishigamii commented on #518
Already got this on iOS but just have the kill the app completely and it stop all.
I think it's cause of the debug mode

[2019-04-01 21:07] ishigamii commented on #473
@Guichaguri any more informations thanks to that or you need more ? 👍

[2019-04-02 00:39] FrankGoortani commented on #503
If you are not using Expo, Using pods and get this error, adding `use_modular_headers!` to top of Podfile works.

[2019-04-02 11:00] Guichaguri commented on #473
I think that's good, I'll take a better look in the weekend.

[2019-04-02 12:02] PiyushGaurav commented on #122
I tried this to shuffle queue
`shuffleArray = (array) => {
		let currentIndex = array.length, temporaryValue, randomIndex;
		// While there remain elements to shuffle...
		while (0 !== currentIndex) {
			// Pick a remaining element...
			randomIndex = Math.floor(Math.random() * currentIndex);
			currentIndex -= 1;
			// And swap it with the current element.
			temporaryValue = array[currentIndex];

[2019-04-02 12:07] PiyushGaurav commented on #122
I tried this to shuffle Queue
[code]

[2019-04-02 17:11] xgustavoh commented on #369
Good afternoon @Guichaguri,
Apparently the error was not corrected. As you can see from the photo below, the error has increased.

![screencapture-play-google-apps-publish-2019-04-02-14_08_09](https://user-images.githubusercontent.com/19254287/55422039-184e3000-5551-11e9-8821-73d622d40541.png)

[2019-04-02 17:59] CapitanRedBeard opened #520 "[iOS] TrackPlayer.setRate() plays the loaded track"
When preparing an audio I have to call setRate anytime the audio changes because it resets the rate back to 1.0. This is fine because I can just keep a local value of what the playbackSpeed should be and then set this rate whenever a new track gets loaded via `handlePlaybackTrackChanged` event.

However the problem is when I call `TrackPlayer.setRate(rate)` the audio will begin playing whatever is

[2019-04-02 22:01] CapitanRedBeard commented on #516
For anyone else the only way I can get around this is to only call `TrackPlayer.setRate(rate)` when in release mode which I know isn't great.

[2019-04-03 04:53] ataravati commented on #342
@dcvz any updates on this?

[2019-04-03 11:27] neoassyrian commented on #410
I totally agree with gazedash. I thought this would work with Google Cast

[2019-04-03 19:15] ntk860 commented on #519
I tried reset() with playback-track-changed, but it also triggers when reset() gets called.

[2019-04-04 07:00] ashokkumar88 commented on #122
@PiyushGaurav it will work if we make the shuffle off again?

[2019-04-04 13:58] ntk860 opened #523 "removeUpcomingTracks() is not removing all tracks from the Queue [Android]"
I am trying to remove all songs from the queue without firing any event. removeUpcomingTracks() does it, but is leaving the first song added. Is there any way that I can remove all songs from the queue with removeUpcomingTracks() ?

[2019-04-04 15:04] brenwell commented on #520
This is likely because setting is rate is how you start and stop AVPlayer under the hood. If I remember correctly.

E.g avplayer.setRate(0) is how you pause

Bee a while though. So I might be wrog

[2019-04-04 15:07] brenwell commented on #513
This is fixed in 0.59.3

[2019-04-04 15:29] hoang-rio commented on #513
So old project must be update to RN 0.59.3?

[2019-04-04 18:16] xgustavoh opened #524 "Context.startForegroundService() did not then call Service.startForeground()"
Good afternoon,
I had already commented on this error and had given it as "solved", but apparently the same still has problems.

Can it be "initialization" error of the component in React?

![screencapture-play-google-apps-publish-2019-04-02-14_08_09](https://user-images.githubusercontent.com/19254287/55578203-b7a72a80-56eb-11e9-805e-a6088691d72a.png)

Info `
Context.startForegroundService() did n

[2019-04-04 20:25] Guichaguri commented on #523
`removeUpcomingTracks()`, as the name says, removes all tracks that are after the position of the current one.

If you want to remove all tracks, why not just `reset()` it?

[2019-04-04 21:56] ntk860 commented on #523
#519 asks that question as well.

Because reset() fires **playback-queue-ended** and **playback-track-changed** it gonna create an infinite loop because I keep track of my queue in **playback-queue-ended**

[2019-04-04 21:58] ntk860 commented on #523
Even by using `getQueue()` and looping the queue array then removing individually, its not working because remove() for some reason is not removing the items.

I am using version 1.1.3

[2019-04-04 23:18] brenwell commented on #513
For Xcode 10.2 yes. https://github.com/facebook/react-native/releases

[2019-04-05 08:59] YajanaRao commented on #102
Can I use the library in Snack.expo.io

[2019-04-05 17:10] hrag opened #525 "Background mode not working"
I’ve been having this issue since I started using this library. In the simulator, when I leave the app, the audio also stops playing. Sometimes it skips like a CD. When I get back to the app in both cases, it resumes immediately.

I’ve enabled the “Audio, AirPlay, and Picture in Picture” In background modes in Xcode, but no dice. Is there another step I’m missing?

The audio I’m playing is locally

[2019-04-05 18:55] hbarylskyi opened #526 "Track Player can crash iOS app if empty array is supplied"
Hi. I experienced a bug today. This is strange, but it happens only in production mode for us (probably not related to the library).

App crashes on iOS when empty array of tracks is supplied to `TrackPlayer.add()`. Here's a bigger snippet where it happened:

[code]

From what I found, it happens on line 93 of QueuedAudioPlayer.swift:
`try self.load(item: currentItem!, playWhenReady: playWhenReady

[2019-04-06 02:46] ataravati opened #527 "[Android] - Buffering when playing from file system"
When playing from the file system on Android, it still buffers. The path is prefixed with `file:///`.

It's interesting, because on iOS it's exactly the opposite. It never buffers. Even when playing from the network, it downloads the whole file and then plays it.

[2019-04-06 05:30] ataravati commented on #366
@roman-gula how did you resolve this issue?

[2019-04-06 07:18] geek-ibrar commented on #497
Facing same issue

[2019-04-06 13:29] RoelVB commented on #436
I had this issue with version 1.1.1, upgrading it to 1.1.3 solved the issue.

[2019-04-06 14:34] Guichaguri commented on #436
@maendamedia does it still happens on 1.1.3?

[2019-04-06 14:37] Guichaguri commented on #527
Can you upload the file that you're playing?

[2019-04-06 14:42] Guichaguri commented on #523
I'll be closing this one and keeping #519 instead, as `removeUpcomingTracks()` is working as expected.

[2019-04-06 14:42] #523 closed

[2019-04-06 15:10] ataravati commented on #527
Here's the file:

https://podcast-a.akamaihd.net/mp3/podcasts/current-SWPiO5qy-20190404.mp3

I download it using `rn-fetch-blob` and then play it. The local file path will be something like this:

`file:///data/user/0/com.myReactNativeApp/current-SWPiO5qy-20190404.mp3`

[2019-04-07 18:54] ishigamii commented on #473
@Guichaguri tell us if we can help  ;)

[2019-04-08 17:54] ataravati commented on #527
@Guichaguri, did you have a chance to have a look at this issue? Thanks!

[2019-04-08 21:04] CapitanRedBeard commented on #494
I also agree this would be nice. The current way to do it by removing everything aside from the current track and reordering them in the correct order feels error prone

[2019-04-09 08:24] ishigamii commented on #496
@Guichaguri With some more datas it seems this is a 100% `iOS 10` crash hope it helps to find it out

[2019-04-09 12:31] vlatri commented on #512
I also use RNN and experience random issues with remote events fired from notification controls. They just stop working inconsistently. However, headset buttons work correctly, firing play/pause events. Can this behavior be related to RNN or this particular issue?

[2019-04-10 00:01] vbspace opened #528 "Recommended way to work with single-track queue [IOS/Android]"
Its now 3 months that I am beta testing my streaming service, and it was just last week that I finally got it working in a way that confidently I can release to production.

For Android

- Its impossible to use this [https://github.com/react-native-kit/react-native-track-player-demo](url) because the way most people use this library is by fetching musics from a server dynamically, and the way the

[2019-04-10 00:50] dengue8830 commented on #512
im facing the same issue and im not using react native navigation. All the normal events are listened but not the remote ones, in my `service.js` registrated in `index.js` i have this

[code]

[2019-04-10 01:27] dengue8830 commented on #512
in my case solved removing `await` from calling `setupPlayer()`, now it works great :D tested on android 6

[2019-04-10 03:42] tungmt opened #529 "Android issue on Windows"
My project build success in Mac machine, but in Windows with Android Studio it got issue like this

OS: Windows 10
React-Native: 0.59.3
Android Studio: 3.3.2

**error: cannot find symbol method metafactory(Lookup,String,MethodType,MethodType,MethodHandle,MethodType)**

![image](https://user-images.githubusercontent.com/7497751/55850075-156cc400-5b7d-11e9-8798-5e09c980875d.png)

[2019-04-10 15:42] vlatri commented on #404
Hey, @dcvz it seems to me that `TrackPlayer.add` still triggers `playback-track-changed` event with `nextTrack` containing the id of the very first queue item. Is this still intended? Shouldn't it only get fired on `play` after adding tracks?

[2019-04-10 20:44] biomancer commented on #528
In our app I still use `playback-queue-ended` event in android, just checking if player was actually playing something before.

`let wasPlayingBeforeStop = false`

then when handling `playback-state` events

[code]

and then in handling `playback-queue-ended` event
[code]

That works fine except that sometimes notification is not recreated when queue is reset and new track is added. It looks like

[2019-04-11 14:25] besh81 opened #533 "[iOS] play() after stop() doesn't work"
Hi All,

I'm new to react-native and I'm trying to create an App for a friend who would like to start a web radio.

Android: emulator/device everything works as expected.

iOS: when I fire the play() function for the first time everything works. Then fire stop() and then play() again the player remains in buffering state forever.

Any suggestion?

This is the configuration:
iOS: 10.14.4
react-nati

[2019-04-11 16:59] Alanz2223 commented on #512
@dengue8830 I don't understand your answer. The only way this would conflict is if setupPlayer had to be called either prior or after registering the events.

Either way seems like I am not the only one experiencing problems with remote only events. I've yet to find the time to attach a debugger and analyze what's going on.

[2019-04-11 18:59] dengue8830 commented on #512
indeed `setupPlayer` must be called before registering remote events, check the example project

[2019-04-11 22:27] ntk860 commented on #528
@biomancer thanks for the suggestion. I will try the way you are doing and see how it goes.

[2019-04-12 09:26] markgoodyear commented on #342
I'm also experiencing this issue on iOS, and using 1.1.3.

I've tried many things, but ultimately, it appears there are a few issues here. Firstly, when a track is added to the queue, it begins to buffer immediately, even without attempting to play. Secondly, It looks like it waits for the entire file to be buffered/downloaded before it is able to play. I've added a download for offline feature in

[2019-04-12 13:58] dcvz commented on #342
thanks for the detailed report @markgoodyear :) this should help pin down what's going on

[2019-04-13 00:16] sideokyou opened #534 "Galaxy S10 not working"
I tested on other Android devices and worked fine. but only Samsung Galaxy S10 is not working. After playing music, it crashes. Any idea what needs to be solved?

[2019-04-14 21:52] #93 closed

[2019-04-14 22:12] dcvz commented on #526
Fixed in commit: a99597c51c33b9118df6c432602c58300500c2c4

[2019-04-14 22:13] #526 closed

[2019-04-14 22:14] dcvz commented on #525
Do you also see this issue when using a device?

[2019-04-14 22:16] dcvz commented on #518
There was a bug that if you reloaded ReactNative -- it would keep then old instance and it'd continue playing. This has been fixed in the #dev branch.

Could this have been the problem?

[2019-04-14 22:18] dcvz commented on #516
I will look into this, another thing you could do, is @debounce your slider so it doesn't rapidly fire events through the bridge trying to update the rate.

[2019-04-14 22:33] Guichaguri commented on #478
Does #485 fixed it for you?

[2019-04-14 23:00] Guichaguri commented on #534
Do you have any crash logs?

[2019-04-15 05:44] CapitanRedBeard commented on #516
@dcvz Yeah ended up doing this although it doesn't seem the fix the problem. If I call setRate a certain about of times within the app lifetime it will start to throw this, and then after that it will throw it on every new time. The time in which is starts throwing seems to very. I've seen it on fresh install and I've seen it take a few iterations so I can't quite narrow it down. Right now I'm jus

[2019-04-15 07:59] ishigamii commented on #524
Same here (https://github.com/react-native-kit/react-native-track-player/issues/473)
I don't see anything in 1.1.4 that seems to solve this but I will give it a try just to check

[2019-04-15 08:59] budet-b commented on #525
For me too, on my iPhone it doesn't work in background mode. I enabled background modes in Xcode as well. (using Swift 4.2, Xcode 10.1, iOS 12.2 and the last release of `react-native-track-player`)

[2019-04-15 09:48] holospeed opened #538 "iOS updateMetadataForTrack error and how to fix"
![IMG_2008](https://user-images.githubusercontent.com/3962013/56145803-45fd9500-5fa5-11e9-8f2c-11bcce8596c3.PNG)

The error:
The error caused by a wrong ObjC method name in the  RNTrackPlayerBridge.m file.

The fix:
At the line: 99 in  RNTrackPlayerBridge.m file change "withProperties" method name to "properties" method name.

After the fix it is working as expected!

[2019-04-15 14:17] biomancer commented on #528
By the way I've solved missing notification issue by actually moving away from strict one-track queue — instead of resetting player after each track I just add track to queue and call TrackPlayer.skipToNext() to ensure that last track is playing. Previous tracks are just left in player queue. That works much better, notification is stable now and does not disappear.

[2019-04-15 14:27] appinteractive opened #539 "'AudioPlayerDelegate' is deprecated"
'AudioPlayerDelegate' is deprecated: Delegates will be removed in future versions of SwiftAudio. Use event handlers instead.

Using Target 10.0 for iOS

<img width="1251" alt="grafik" src="https://user-images.githubusercontent.com/432828/56140501-54df4a00-5f9b-11e9-8c78-932d668b6996.png">

[2019-04-15 15:41] curiousdustin commented on #478
Yes, this is definitely an improvement.

However, this only fixes the case of use `reset()`. This works for my specific case, but I feel it could still be improved.

If I do `stop()` when the app goes to the background via the device sleep button, The audio stops, but the info center lock screen still shows the info, but the buttons don't work at all.

Perhaps a similar fix should be applied to th

[2019-04-15 15:52] ishigamii commented on #473
@curiousdustin did you find a workaround ?

[2019-04-15 15:57] curiousdustin commented on #473
I haven't gotten around to investigating the cause yet. Like you, @ishigamii , I am getting these crash reports, but I have not experienced the issue in my own testing yet.

[2019-04-15 16:09] ishigamii commented on #473
@curiousdustin yop sadly can't reproduce this yet too :/ have to try on android 9 cause i have a user telling me it stops instantly going background on Android 9

[2019-04-15 16:32] appinteractive commented on #454
I Have the same issue and I dont know what that's happening. Had you any luck so far?

[2019-04-15 20:05] CapitanRedBeard commented on #142
@Pczek & Anyone still facing this issue. The latest 1.1.4 has `this.state.position`, `this.state.duration`, and `this.state.bufferedPosition` returning correctly for each Platform.

You're progress component will still update when the track player is stopped which I think is the correct behavior because those values could realistically change without the audio playing and you would want to update

[2019-04-15 20:32] hrag commented on #525
I eventually made the discovery that the audio doesn't **stop** when I leave the app, it's just muting.

[2019-04-15 20:33] hrag commented on #525
@dcvz I haven't gotten that far in my development quite yet heh, but I'll try to see what happens on the device tonight.

[2019-04-15 20:57] hrag commented on #525
@dcvz I couldn't wait, had to try it now. It plays in the background as expected on actual device, so we're good there 👍

I think it would be nice to get this patched up for the simulator so we can test the lock screen controls etc.

[2019-04-16 05:49] bishnudev opened #540 "Status is not member type of AVPlayer"
I get this error in xcode. Help

[2019-04-16 06:49] ouabing commented on #454
@appinteractive not yet, I have a backup solution using react-native-video + react-native-music-control to stream audio, so I don't go into this problem further (I'm not familiar with Swift/Obj-C).

[2019-04-16 08:01] dcvz commented on #525
ok to summarise.. @hrag with the latest version, it works for you on a device. Just not on the simulator?

[2019-04-16 17:20] hrag commented on #525
@dcvz Yep, that is correct. In the simulator it just seems to mute. Happy to share logs or whatever if you want to dig into this.

[2019-04-16 20:29] fcaride opened #541 "Error Domain=NSURLErrorDomain Code=-999 "cancelled""
I have a url that returns a code 301 (redirect) with the url of the song. Using that link im not able to play the song. If the url is direct to the song it works fine. Im using a network inspector an the second url is never called.

this is my link:       "https://v23.musuy.com/servlet/com.musuy.musweb.agetstream?/jHtnqj4WR2b7xcC5jE4gwGJsPt5jCZAoxctYaMI0CBBIk55Lg/T9BwZeACkwvsgaTqDBURqSrmIhwN3Jrc5Q

[2019-04-17 08:22] appinteractive commented on #454
@ouabing seems like @anderslemke is working on the issue: https://github.com/react-native-kit/react-native-track-player/pull/531

[2019-04-17 08:57] ouabing commented on #454
Wow thanks!

[2019-04-17 09:36] ishigamii commented on #538
What was the version of the lib you were using ?

[2019-04-17 09:43] ishigamii commented on #534
@Guichaguri I am having the same kind of report from user of Samsung Galaxy telling me that the sound is stopped as soon as the app goes in sleep mode (screen closing) it works if the screen is awake.

For me I have this crash for user of (Galaxy S10+ and Galaxy S10e) :
[code]

[2019-04-17 11:58] cylwin commented on #272
+1

[2019-04-17 13:22] #540 closed

[2019-04-17 13:23] bishnudev commented on #541
the second url itself doesn't serve any media file

[2019-04-17 13:27] fcaride commented on #541
Yes it does, the generated url (the second one) can only be used one time. If you try that url in the browser it wont work because it make the request 2 times. If you try it out in any player it works.

[2019-04-17 13:39] mkuczera commented on #369
Same here. The Bug appears with the newest version as well.
<img width="972" alt="Bildschirmfoto 2019-04-17 um 15 38 40" src="https://user-images.githubusercontent.com/559278/56292155-eaf3ab80-6126-11e9-9a72-12bd5373dee9.png">

[2019-04-17 16:42] minhtc commented on #516
@CapitanRedBeard

Can this patch fix your issue?

node_modules/react-native-track-player/ios/RNTrackPlayer/Vendor/AudioPlayer/AVPlayerWrapper/AVPlayerWrapperProtocol.swift
`
-protocol AVPlayerWrapperProtocol {
+protocol AVPlayerWrapperProtocol: class {
`

[2019-04-17 16:43] holospeed commented on #538
1.1.4

[2019-04-17 22:53] Daniuns commented on #335
Thank you!!

[2019-04-18 05:59] ShubhamAkole1 opened #542 "undefined is not an object (evaluating 'c.STATE_NONE')"
import React, { Component } from 'react';
import {
  Text,
  View,
  TouchableOpacity,
  AppRegistry
} from 'react-native';
import TrackPlayer from 'react-native-track-player';

export default class App extends Component {

  componentWillMount(){

    console.log('Render mount!');

  }
  componentDidMount()
  {
    TrackPlayer.setupPlayer().then( () => {
  //  let state =  TrackPlayer.getState();

[2019-04-18 06:12] kevex91 opened #543 "[iOS] url decoding issue"
Issue: When I load urls containing '%2F'. This gets converted to '/' when the track is loaded.

This is an example url: https://firebasestorage.googleapis.com${ourEndpoint}o/tracks%2F6bd9a8b7-4998-49c6-a86f-f747dd8fad9.mp3?alt=media&token=78a05743-862-4ddb-bce-d9797eb91bb

Firebase storage uses '%2F' 🤷‍♂️ to define a path into a folder. Seems related to #40 and #44 .

This is what the track player

[2019-04-18 10:44] fcaride commented on #541
To add more info im getting this in the console:

player[37893:3340017] Task <3DD9395D-9C9F-475F-B0C9-1AF454EC8E4B>.<1> load failed with error Error Domain=NSURLErrorDomain Code=-999 "cancelled" UserInfo={NSErrorFailingURLStringKey=https://v20.musuy.com/servlet/com.musuy.musweb.agetstream?Cs9PuwKuD8aMbQ67Hg9UZ1Z+sWbQ3xVr+hZSffqhG8kEzXhTRx1kZ7n81pjp+apGZB4BPWEoe8Y4RuabK8P/ydCJMi0Uh13KBjJGOuEDOds91j

[2019-04-18 10:45] fcaride commented on #541
Im trying with a direct url of 7Digital that works in the browser and im getting the same error and no audio

[2019-04-18 10:58] shrizalz opened #544 "Android - TrackPlayer.getDuration() always return 0"
"react": "16.8.6",
"react-native": "0.59.3",
"react-native-track-player": "^1.1.4",
"Platform": "Android",
"Android version" : "9",
"Device" : "Huawei p20"

Android - In ProgressComponent, `this.state.duration` and` this.getProgress()` both return 0. others work as expected
iOS - Everything works as expected

I tried to check getDuration(), return 0 as well
[code]

Expected behaviour:
Return expec

[2019-04-18 16:40] Guichaguri commented on #544
What are you trying to play? Is it from the network? Which format is it encoded in?

[2019-04-18 17:40] curiousdustin opened #545 "ExoPlayer does not work well on many Amazon devices."
ExoPlayer seems to fail to various degrees on various Amazon devices I have tried. Some work decently, and others will simply refuse to play audio. I have only tried Kindle devices, but my research indicates that other devices would likely have issues as well.

When I started researching this, I found that this is due to the ExoPlayer team not providing support for Amazon's fork of Android.

In re

[2019-04-18 17:50] curiousdustin commented on #545
I have addressed this in my own fork of this repo.

https://github.com/curiousdustin/react-native-track-player/tree/curious

I have created a PR for those that are interested. #546

This PR is not necessarily meant to be merged. I would like others to give input. I am new to Android build variants and such, I am not sure that it is necessarily the best generic approach for this library, but it doe

[2019-04-18 18:28] CapitanRedBeard opened #548 "[iOS][1.1.4] App freezes when buffering a new track"
**Note** This only occurs on the latest 1.1.4, 1.1.3 and below don't have this performance issue.

#### Problem
When playing an unbuffered track the app will completely freeze until the required buffering to play the app is completed. The UI thread will drop to close to 0, however no action can be taken (scroll, navigating, pressing anything) until the buffing is finished. This causes a dramatic p

[2019-04-18 19:09] CapitanRedBeard commented on #548
@dcvz I'm real bad on the iOS side so I'm having a hard time digging thru the code and finding what could of gone wrong but I'm 90% sure it has to be around the buffering work (which is great btw 😄) you've done recently because the frames seems to freeze until the buffering is done.
Pull down the repro, check it out, and let me know if there is anything else I can do to help narrow this bug down.

[2019-04-18 19:16] curiousdustin commented on #548
While it may not be the standard use case, I DO make heavy use of reset. For a few reasons, I ended up managing my own queue, so I reset() -> add() each time I play a track.

Hopefully this is an easy fix.

[2019-04-18 19:30] CapitanRedBeard commented on #548
@curiousdustin Yeah same with me it tends to allow a better queue management.

I just modifying my repro to add all the tracks initially and only skip around to tracks and the exactly same bug still occurs. So its not specific to reseting and adding simply playing an unbuffered track will freeze the app until the buffering has finished.

Can be repro'd on the [only-skip branch](https://github.com/

[2019-04-19 01:27] JChiaramonte7 commented on #533
Same issue and context for me!

[2019-04-19 03:06] shrizalz commented on #544
Yes, it is from the network, I believe it is mp3
[code]

[2019-04-19 05:57] minhtc commented on #548
Try this commit: https://github.com/jorgenhenrichsen/SwiftAudio/pull/51

[2019-04-19 15:21] fcaride commented on #541
I've tried in Android and it works perfectly with that link. And added an AVPlayer implementation into this project and it works well too (So there is no problem with the plist configuration).
Sorry for spamming i just want to help adding information because i really want to use this library in my project. :)

[2019-04-19 17:25] sideokyou commented on #534
![Screen Shot 2019-04-19 at 10 22 35 AM](https://user-images.githubusercontent.com/47291956/56435394-1690a600-628d-11e9-8e8c-53004658862f.png)

I am still figuring out why it shows this error on this device(galaxy s10) specifically.

I am not sure, but this error seems not related to react-native-track-player.  Commented all TextInput, and set all color properties as a static value such as #e2e2e2

[2019-04-19 23:38] CapitanRedBeard commented on #544
Yeah also seeing this over the network podcasts.
Calling
[code]
and also Calling `await TrackPlayer.getDuration()` in the `playback-track-changed` event both return 0.

Is it just being called too early? Does it need to buffer or something?

[2019-04-20 00:47] sideokyou commented on #512
@dengue8830

Hi, is that right doing like below?

Although `setupPlayer` called after `registerPlaybackSrevice()`, it plays for mp3 file. but, it can't play for the music from a streaming server. Still figuring out now.. any idea..?

`AppRegistry.registerComponent(appName, () => App);

TrackPlayer.setupPlayer().then((TrackPlayer) => {
  console.log("the player is ready to be used");
});

TrackPlay

[2019-04-20 01:10] sideokyou opened #551 "`http` request not allowed?"
Hi,

I am currently building an app for streaming audio.
It works both iOS and Android. but Only Samsung Galaxy S10 is not working.

The streaming URL starts with `http://example.com/mp3`, not `https://example.com/mp3`
I also found that even images from server provide HTTP URL, this device didn't render it.

So, is there any method or props that enabling HTTP request? (not https).

Here is the log

[2019-04-20 02:03] Guichaguri commented on #545
I hate how we need two different versions of the same library just to make an app work with regular Android devices and Fire OS ones, but what else we can do 🤷‍♂️

Unfortunately, Google doesn't support those devices because Fire OS is a fork of Android that doesn't pass the [Android CTS](https://source.android.com/compatibility/cts). I've found [these](https://github.com/google/ExoPlayer/issues/97

[2019-04-20 03:17] Guichaguri commented on #551
Can you send us which URL are you trying to play? Which Android version is not working? Which version is your app targeting?

[2019-04-20 06:29] Guichaguri commented on #544
@shrizalz By requesting this URL in Postman, you can look into the response headers:
![Headers](https://user-images.githubusercontent.com/1813032/56453599-3f5f7c80-631b-11e9-883b-2770b9189f13.png)

The server doesn't send the file size in the headers. For a mp3 file, it's possible to calculate the duration through the file size. Since the player on Android doesn't slowly buffers the track instead

[2019-04-20 08:48] neoassyrian commented on #242
I don't think this is implemented. I would also like to know how to use this feature.

[2019-04-20 12:58] roberto-buratti commented on #478
I noted that (on iOS) the player works well in background... until you call reset().
After that it doesn't work anymore.
May this be of any help?

[2019-04-20 13:20] dengue8830 commented on #512
@sideokyou
that is a codec support issue, i didn't tried with streaming server music like shoutcast/icecast (indeed i need this in others projects). But did you try set mp3 codec in your streaming client?

when you connect to a shoutcast server from a client (like mixx or winamp) you can select the codec.

[2019-04-20 17:13] Guichaguri commented on #528
The reason why we implemented an internal queue is to work around issues like those. Not only it prevents the notification from flashing, but it also allows a gapless playback since the next track starts buffering before it even starts. It also has some benefits internally, since we don't need to dispose resources to initialize everything again right after.

To solve the problem, there are two thi

[2019-04-20 18:29] Guichaguri commented on #242
It is implemented, but currently it only shows up in external Android devices (e.g. smartwatches, cars, etc). It doesn't add anything to the notification, but there is already a feature suggestion for that in #67

[2019-04-20 20:05] cylwin commented on #209
Same problem here.

[2019-04-20 23:37] neoassyrian commented on #242
So if you hit the thumbs up in the smart watch, how do you capture the event? Is there an event that fires?

[2019-04-21 00:04] Guichaguri commented on #242
Yes.

First of all, you need to set the the `ratingType` option using [`updateOptions`](https://react-native-kit.github.io/react-native-track-player/documentation/#updateoptionsoptions). It must be a [Rating Constant](https://react-native-kit.github.io/react-native-track-player/documentation/#rating). This basically says which type of rating you want to use throughout the app.

The rating value ch

[2019-04-21 00:13] Guichaguri commented on #542
This usually happens when the module is not linked properly

[2019-04-21 00:14] Guichaguri commented on #538
@holospeed can you open a pull request fixing the bug?

[2019-04-21 00:19] Guichaguri commented on #529
Does [enabling Java 8 support](https://react-native-kit.github.io/react-native-track-player/install/#android-circular-referencecomandroidtoolsr8apilevelexception-default-interface-methods-are-only-supported-starting-with-android-n---min-api-24) in Gradle fix the problem?

[2019-04-21 18:56] ilkhanihosein opened #554 "Could not find support-media-compat.jar (com.android.support:support-media-compat:28.0.0)"
hello my friends , please help me , i has this error
Could not find support-media-compat.jar (com.android.support:support-media-compat:28.0.0).
  Searched in the following locations:
      https://dl.google.com/dl/android/maven2/com/android/support/support-media-compat/28.0.0/support-media-compat-28.0.0.jar
but not found this file

[2019-04-21 19:33] cylwin opened #555 "TrackPlayer.stop different behavior ios vs android"
Hello,

[code]

When I call _Init, then _stop.
The result on android (work well):
![image](https://user-images.githubusercontent.com/6231358/56474520-49988c80-647b-11e9-9b62-b8456f346c63.png)
The result on Ios :
![image](https://user-images.githubusercontent.com/6231358/56474543-a98f3300-647b-11e9-8aca-5df0a493ad96.png)
The behavior on IOS is the same as the reset() function and shouldn't.

Also I

[2019-04-21 20:45] thessler27 commented on #548
@minhtc 's fixes applied to `vendor/AudioPlayer/AVPlayerWrapper/AVPlayerWrapper.swift` fixes this bug

[2019-04-21 23:24] Guichaguri commented on #554
This happens because Google discontinued the support lib from API level 28. We'll have to update it to the new `androidx` libraries.

For now you can target API 27, using an older React Native version.

[2019-04-22 01:45] Guichaguri commented on #554
Should be fixed in 6471be68dfc772bc3f94ad74d74455902651a7c8

[2019-04-22 01:45] #554 closed

[2019-04-22 07:18] NagashreeMeda opened #556 "Adding interval functionality"
Is there any way for us to have 2 instances of trackplayer? I'm working on adding interval functionality where I play bell sound or some alert track at some intervals.

Any help??

[2019-04-22 07:18] tungmt commented on #529
It doesnt work

[2019-04-22 10:48] Guichaguri commented on #556
No, since this is a music/podcast dedicated module, this won't be a good solution if you want to play sound effects, the module won't allow you to play more than one track at the same time. I suggest you use `react-native-sound` for this kind of functionality.

[2019-04-22 10:48] #556 closed

[2019-04-22 13:57] neoassyrian opened #557 "[Android] Notification not displayed on setupPlayer"
It seems that the notification is not created first time creating the player on 1.1.4. This used to work on 1.1.3 just fine.

This is what I'm doing
calling setupPlayer
calling updateOptions
TrackPlayer.add(array of songs)
TrackPlayer.skip(first song in queue)
TrackPlayer.play();

At this stage, the music starts playing fine, but there is no notification displayed.

Once I pause the play, the noti

[2019-04-22 14:09] neoassyrian commented on #557
Just did some more testing, it found out that I wasn't waiting for the "skip" promise to resolve before calling the play function.

Not sure why this is ok in 1.1.3 but not in 1.1.4

[2019-04-22 16:24] galizhan opened #558 "SeekTo restarts track"
So seekTo is restarting my audio to 0. When I am calling current position it is also 0. However ProgressComponents position is not 0.

[2019-04-22 16:30] galizhan commented on #544
I got same error while I am just requiring it from my computer

[2019-04-22 16:54] sideokyou commented on #512
@dengue8830

Thanks for the comment.
Still not sure how to select codes when the app connects to the server. and, the server has no SSL.

However, I found that after Android 9, Google announced that `http` request will not be working. We have to use `https` instead of using `http` request. There is a workaround for solving that issue, but there is nothing I can do for that now.
(ref. [https://deve

[2019-04-22 16:54] NagashreeMeda commented on #556
Got it!! Thanks @Guichaguri

[2019-04-22 16:57] NagashreeMeda opened #559 "getVolume always returns 1"
TrackPlayer.getVolume() always returns 1, even if i mute and then play.

[2019-04-22 17:13] dengue8830 commented on #512
no, you need a desktop pc client like winamp, mixx or idjc, from there you will be the dj and send the sound to the server in mp3 format. The mobile app its just a player, a listener

[2019-04-22 17:43] sideokyou commented on #512
@dengue8830

hmm... that's weird. Because only Galaxy S10 model is not working, other models like iPhone XS, X, LG phones are working well.

Would be a possibility that only Galaxy S10 requires certain codes in order to play it?

[2019-04-22 17:52] dengue8830 commented on #512
some android device working? this project uses exoplayer and its codecs should work in android too

[2019-04-22 17:54] sideokyou commented on #512
@dengue8830

Yes. Only Android 9 is not working. I think it is not a problem of RNTP. without SSL, Android 9 rejects network connect. Even I tested the image URL from https and HTTP. Images from HTTP didn't show. but after changing it to https, it shows images.

[2019-04-22 18:01] dengue8830 commented on #512
that's valuable information, i never tried without https in android 9. And now i know i can use this lib for my radio streaming app :P

[2019-04-22 19:04] Alanz2223 commented on #512
Please create your own issue to discuss this.

On Mon, Apr 22, 2019, 2:01 PM David Rearte <notifications@github.com> wrote:

[2019-04-22 23:19] curiousdustin commented on #545
@Guichaguri's [solution](https://github.com/react-native-kit/react-native-track-player/pull/547#issuecomment-485053091) worked well for me so far. I created a PR to add a docs page for this. #560

[2019-04-22 23:19] #545 closed

[2019-04-23 00:07] xgustavoh commented on #419
@helloagain-dev, Look #552

[2019-04-23 03:28] Guichaguri commented on #558
Which platform?

[2019-04-23 03:30] Guichaguri commented on #559
`getVolume` returns the volume of the player, not the OS volume, so it will always be 1 unless you update it with `setVolume`.

[2019-04-23 03:33] Guichaguri commented on #544
@galizhan it all depends on the media file, its coded, its file size, whether it contains ID3 tags, whether it has a constant bitrate. Please, let me know more about the track you're trying to play.

[2019-04-23 04:40] NagashreeMeda commented on #559
Okay, is there anyway for us to get access to OS volume?

[2019-04-23 05:29] galizhan commented on #558
Android natively running @Guichaguri

[2019-04-23 05:30] galizhan commented on #544
So it is mp3 audio downloaded from YouTube video.

[2019-04-23 07:22] kiano0sh opened #561 "Could not find com.android.tools.build:gradle:3.1.4"
# Configuration

[code]

What `react-native-track-player` version are you using? `1.1.4`

# Issue

I'm using android 9 on emulator and when trying to build with `react-native run-android` i'm getting this error:

[code]

# Code

./android/build.gradle
[code]

[2019-04-23 10:29] CharlesCarey opened #562 "[iOS] Artwork not showing on lock screen"
# Configuration
React Native Environment Info:
    System:
      OS: macOS 10.14.3
    Binaries:
      Node: 10.12.0 - /usr/local/bin/node
      Yarn: 1.9.4 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.2
      Android SDK:
        API Levels: 23, 26, 27, 28
        Build Tools: 28.0.3

[2019-04-23 10:55] Guichaguri commented on #561
I'm pretty sure it's because you have missing SDK components, read [this StackOverflow question](https://stackoverflow.com/questions/52478902/could-not-resolve-com-android-tools-buildgradle3-1-4-react-native-run-android).

[2019-04-23 11:06] Guichaguri commented on #559
Not with react-native-track-player. But you can use [react-native-system-setting](https://github.com/c19354837/react-native-system-setting) for that.

[2019-04-23 11:06] #559 closed

[2019-04-23 11:19] kiano0sh commented on #561
@Guichaguri But why I'm getting this error after installing `react-native-track-player`  ?

[2019-04-23 13:29] galizhan commented on #558
I want add that when I am using async/await syntax position is ok, however in terms of Promise by then and catch it is 0. Also my duration is 0, despite of I added it by my self at trackinfo. Could it be because of duration is 0?

[2019-04-23 15:37] Guichaguri commented on #558
Tell me more about the track. It is from the network? If it is, does the server accepts range requests?

[2019-04-23 15:39] Guichaguri commented on #561
We are using a different android gradle version from you. I have updated it in 6471be68dfc772bc3f94ad74d74455902651a7c8, but we haven't released it yet

[2019-04-23 15:46] Guichaguri commented on #544
Does the server returns a "Content-Length" header?

[2019-04-23 16:04] brenwell commented on #562
I had this issue when the i accidentally called `.add` before `.setupPlayer` was finished

[2019-04-23 16:34] galizhan commented on #558
@Guichaguri ok, so it is on my laptop, and I just requiring it in url as in example at Getting started.

[2019-04-24 00:28] Guichaguri commented on #558
Can you upload the file somewhere so I can take a look?

[2019-04-24 09:44] kiano0sh commented on #561
@Guichaguri Actually you were right, the Problem was from my side i decided to reinstall everything (Android Studio and related SDKs as mentioned in React Native docs) and it solved the problem for me.

[2019-04-24 09:44] #561 closed

[2019-04-24 09:45] fcaride opened #564 "URL encoding problem"
# Configuration

 React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (8) x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
      Memory: 477.41 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 11.9.0 - /usr/local/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-04-24 09:54] fcaride commented on #541
It was a problem with encoding the url if you look is different the url i provided with the url of the log output. I created another issue related to this. Thanks  #564

[2019-04-24 09:54] #541 closed

[2019-04-24 09:57] fcaride commented on #548
Are you planning to merge this fix?

[2019-04-24 11:23] LaurenceRolandJames opened #565 "TrackPlayer.destroy() does not work on iOS"
# Configuration

Run `react-native info` in your project and share the content.

[code]

What `react-native-track-player` version are you using?

```react-native-track-player@1.1.3```

# Issue

My audio player only ever plays a single track.

I can work around this in the app by calling TrackPlayer.reset() in componentWillUnmount to stop audio playing when a user navigates away from the audio play

[2019-04-24 11:23] LaurenceRolandJames opened #566 "TrackPlayer.destroy() does not work on iOS"
# Configuration

Run `react-native info` in your project and share the content.

[code]

What `react-native-track-player` version are you using?

```react-native-track-player@1.1.3```

# Issue

(My audio player only ever plays a single track.)

TrackPlayer.destroy() has no effect on iOS.

I can work around this in the app by calling TrackPlayer.reset() in componentWillUnmount to stop audio playing

[2019-04-24 11:39] #565 closed

[2019-04-24 11:40] LaurenceRolandJames commented on #565
Not sure why this was duplicated. Apologies for that.

[2019-04-24 12:03] thessler27 commented on #548
@fcaride @Guichaguri @dcvz See #567

[2019-04-24 12:29] CharlesCarey commented on #562
Thanks for replying! I don't think that's the issue though as I am calling `add()` in a .then block after `setupPlayer`.

The images show up on the lock screen music player when I run the app on iOS in dev mode but not when the I bundle the code and assets up for production (although the assets always work within the app no matter if I am running the dev or production version of the app).

I am ru

[2019-04-24 12:33] dcvz commented on #548
Hey guys, sorry I've been a bit busy. I will look into it later today 🙏

[2019-04-24 12:41] minhtc commented on #548
@thessler27  I think it should be fixed in Vendor module so I created pull request in  jorgenhenrichsen/SwiftAudio instead here.
While module creators is busy, you can use patch-package to quick fix the issue.

[2019-04-24 12:49] curiousdustin commented on #548
I had attempted a similar fix, but the asynchronous nature of the loading broke other functionality. For instance, I could no longer use:

[code]
Because the play command would return before the current item was set and so the seek did not act on the expected track.

Does this fix have similar issues?

[2019-04-24 12:57] minhtc commented on #548
@curiousdustin  You need to listen ready state to perform seekTo function.

[code]

I have patched a native solution to resolve seekTo right after async loading track, but not sure if anyone need it.

[2019-04-24 13:57] brenwell commented on #562
are assets referenced in your xcode project?

[2019-04-24 13:58] curiousdustin commented on #548
Is this the way it has always been expected you would have to use `seekTo()`?

I have been using it without requiring the state to be `STATE_READY`, and it works fine.

Seems like there should be a way to not return the `play()` promise until the actual result of attempting to play occurs.

[2019-04-24 16:08] LaurenceRolandJames opened #568 "State constants do not match those in documentation"
# Configuration

Run `react-native info` in your project and share the content.

[code]

What `react-native-track-player` version are you using?

```react-native-track-player@1.1.3```

# Issue

The state constants in the documentation do not match the state constants the track player uses.

Rather than the ones listed here https://react-native-kit.github.io/react-native-track-player/documentation/

[2019-04-24 16:25] bishnudev commented on #568
same problem here

[2019-04-24 16:26] zzorba opened #569 "Usage of setRate on Android causes playback to stop."
# Configuration

Run `react-native info` in your project and share the content.

  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
      Memory: 866.96 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.11.4 - ~/.nvm/versions/node/v8.11.4/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 5.6.

[2019-04-24 16:36] bishnudev commented on #568
[code]
track player
[code]

[2019-04-24 17:40] curiousdustin commented on #509
@dcvz, I have found a potential solution to `2.` mentioned above.

It seems that SwiftAudio is not creating a new AVPlayer instance after a status of `failed`, as the [Apple docs describe](https://developer.apple.com/documentation/avfoundation/avplayer/1388096-status).

For more detail see [the issue I have created on the SwiftAudio repo](https://github.com/jorgenhenrichsen/SwiftAudio/issues/56).

[2019-04-24 17:46] curiousdustin commented on #509
@dcvz, regarding `1.` above:

For some reason loading tracks with this problematic image metadata in an async manner such as in this PR, https://github.com/jorgenhenrichsen/SwiftAudio/pull/51, avoids the issue. The track still takes much longer to load than a normal track, but at least it does not completely fail.

However, I have concerns about how this change would affect the ability to use Trac

[2019-04-24 22:55] CharlesCarey commented on #562
Yeah, I did the `Create by reference` option. I assume I must have mucked something up due to the images working on the lock screen in dev mode but not when bundled. How exactly did you set up your assets?

[2019-04-24 23:00] brenwell commented on #562
I am not using local assets for my artwork. So I am not much help there. But I would suggest trying the bundle with minification set to false. Just in case you are accessing the asset by name and it is being changed during this process.

[2019-04-25 05:43] CharlesCarey commented on #562
Yeah I tried that. I also looked through the main.jsbundle and the location and naming of the assets all seemed fine. I am stumped :(

[2019-04-25 09:58] CharlesCarey commented on #562
I have the option to use network images, which seems to work so I will go with that route unless anyone has any tips about what I might be doing wrong with my asset bundling.

Thank you so much for your help @brenwell !!

[2019-04-25 11:02] Guichaguri commented on #568
Yes, the constants in the docs are indeed exposed in JS as constants.
You should compare the state with one of the constants, as @bishnudev described.

[2019-04-25 11:02] #568 closed

[2019-04-25 11:04] Guichaguri commented on #569
Does seeking works for the track you're testing?

[2019-04-25 13:41] zzorba commented on #569
Interesting, seeking is working just fine on these tracks, but we have had some problems with these MP3s before (they are generated by amazon polly, and we had to add a transcode step to make their duration work correctly).

As far as you know, there shouldn't be any issue calling setRate while the track is playing right?

[2019-04-25 15:32] zzorba commented on #569
Here's a link to a sample MP3 that is exhibiting the issue on Android: https://audio.scroll.com/5cbe0874f100740008e3bd94.mp3

[2019-04-25 16:52] sideokyou opened #570 "Error handling when network fails"
Hi,

Actually, this is not a bug or issue.

I couldn't find the information regard to error handling when network fail. If I use streaming URL for playing radio, but for some reason, the network failed. Do RNTP callbacks or has a function to handle that?

I am kind of thinking to use `NetInfo`, and monitoring network status. However, I am not sure this is the perfect solution for handling this.

A

[2019-04-25 17:42] sideokyou commented on #564
Check your URL or any files from a server. If it contains letters other than English, it might cause an issue.

For me, my URL contained other language letters. after changing all to English, it works fine.

[2019-04-26 03:56] Guichaguri commented on #570
I think [`playback-error`](https://react-native-kit.github.io/react-native-track-player/documentation/#playback-error) is what you're looking for.

[2019-04-26 03:56] #570 closed

[2019-04-26 09:41] puckey commented on #551
This is most probably caused by https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted

[2019-04-26 11:20] fcaride commented on #564
My url comes with '%' caracters from a external server and if i encode the url it doesnt get processed by the server. I need the librery to not encode the url in order to work :(

[2019-04-27 19:56] Guichaguri commented on #551
Unfortunately, Android 8+ only allows secure requests by default. Either use the workaround from @puckey link or start using SSL in your backend.

SSL these days are not hard to get at all, [CloudFlare](https://www.cloudflare.com/) is pretty easy to plug in, or you can use a non-proprietary solution such as [Let's Encrypt](https://letsencrypt.org/)

[2019-04-27 19:56] #551 closed

[2019-04-27 22:34] shrirambalaji opened #572 "Support for react-native-web?"
Hey,

Found this library to be really helpful, are there any plans of porting this to react-native-web now?

[2019-04-28 02:54] Guichaguri commented on #572
I have worked on a port for react-native-web a long time ago, but I've never published. I might update it and push it.

[2019-04-28 13:50] galizhan commented on #558
https://drive.google.com/file/d/1QuXDQMAuEYwJjqGJzXl5i481_X2uIGGs/view?usp=sharing @Guichaguri

[2019-04-28 17:57] Shriram-Balaji commented on #572
@Guichaguri That's great! Waiting for this :smile:

[2019-04-29 06:57] besh81 opened #574 "[Android] updateMetadataForTrack crash the app"
# Configuration
react-native-cli: 2.0.1
react-native: 0.59.3
react-native-track-player: 1.1.4

# Issue
On Android 8/8.1 sometimes the updateMetadataForTrack crash the app

[code]

[2019-04-29 09:36] ishigamii commented on #473
@Guichaguri any news on this ?

[2019-04-29 11:20] Guichaguri commented on #473
Not only it's pretty hard to reproduce, but also I don't have the reports as you do. This is one of those issues where in the best case scenario we have to keep trying changing stuff until it's fixed.

[2019-04-29 11:21] Guichaguri commented on #574
Can you send the code where `updateMetadataForTrack` is triggered?

[2019-04-29 11:23] ishigamii commented on #473
yes it's pretty hard to reproduce to be honest just got it for the first time on debug phone
After closing the app the player notification was still here and tapping on the notification got me this crash :
[code]

Hope it can help 👍

[2019-04-29 17:08] tungduonghgg123 opened #575 "'remote-skip' is not a supported event type for RNTrackPlayer"
`react-native-track-player` version: ^1.1.3
![image](https://user-images.githubusercontent.com/32666311/56913400-c5c64c00-6adb-11e9-8c86-e5dd403c2392.png)

I have no idea why you don't support this while it is a essential functions and it exists in documentary  :
![image](https://user-images.githubusercontent.com/32666311/56913531-150c7c80-6adc-11e9-9022-c797acd9cd74.png)

[2019-04-30 04:11] donghungx commented on #548
dont know why i can't use 1.1.3 to get rid of this problem, it always download 1.1.4

[2019-04-30 07:19] deepaksingh16 commented on #207
Hi @Guichaguri Any plans to target this?

[2019-04-30 12:58] tungmt commented on #555
I have same issue too, it take few seconds to add list on ios after reset the playlist

[2019-04-30 18:15] CapitanRedBeard commented on #548
@curiousdustin @minhtc Yeah I also have just been using the
[code]
But if
[code]
is 100% reliable that sounds like a reasonable way to go about it. Honestly would be great if we could just do something like this `TrackPlayer.play({seekTo: x})` or something to make it explicit

[2019-04-30 19:44] curiousdustin commented on #548
On iOS, the `SwiftAudio` library being used already has the ability to set an `initialTime` for playback.

https://github.com/jorgenhenrichsen/SwiftAudio/commit/6cc0638a70af6d754a4a40cda03396fbea7981d9

This just needs to be hooked up to the custom track object used by RNTP.

I would submit a PR for this, however, I would also want it to work on Android (ExoPlayer), and I'm not sure of the best wa

[2019-05-01 00:19] Guichaguri commented on #473
Which Android version were you testing on?

[2019-05-01 00:22] Guichaguri commented on #477
ExoPlayer has been updated in the dev branch.

[2019-05-01 00:22] #477 closed

[2019-05-01 09:51] rkulinski commented on #458
Is there a hope that this issue will be fixed anytime soon?

[2019-05-01 11:16] tungduonghgg123 commented on #575
@Guichaguri Hope you fix this soon. Thank you <3

[2019-05-01 14:45] ishigamii commented on #473
@Guichaguri here is an approximate list of crash android version we can resume that most of the crash happens with Android 8 and 9 like @curiousdustin said :
<img width="271" alt="Capture d’écran 2019-05-01 à 16 42 23" src="https://user-images.githubusercontent.com/26909067/57022744-4f872e00-6c30-11e9-9452-1134f7a8fe4c.png">

[2019-05-01 22:48] #192 closed

[2019-05-02 06:22] vbspace opened #576 "APP crashing when device loses internet connection [Android]"
Hi All,

 This is happening on a real device, when the device loses internet connect, then recover it crashes the app. fabric.io is showing these logs

`MusicModule.java line 102
com.guichaguri.trackplayer.module.MusicModule.waitForConnection`

`Fatal Exception: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=/com.guichaguri.trackplayer.service.MusicService }: app is in

[2019-05-02 08:16] besh81 commented on #574
Hi  Guichaguri here the code:

[code]

[2019-05-02 10:52] galizhan commented on #558
@Guichaguri Have you opened and tested?

[2019-05-02 14:13] curiousdustin commented on #576
@ntk860 Are you saying you've been able to reproduce this?

We have been trying to track down the cause in #473

[2019-05-03 05:47] bemnet4u commented on #516
I can't repo this crash locally but in production, i see lots of report of this crash. Here is the sentry crash report
https://sentry.io/share/issue/6dc1f3e2dcd2430aa11b3e3b095b7703/

`Thread 14 Crashed:
0   libswiftCore.dylib              0x3e508f7ec         swift_isUniquelyReferenced_nonNull_native
1   AmharicRadio                    0x2007fe264         __cxa_throw
2   AmharicRadio

[2019-05-04 06:45] Shriram-Balaji commented on #572
Hey, @Guichaguri Did you get a chance to publish the react-native-web port?

[2019-05-04 14:41] tungduonghgg123 opened #577 "[iOS] Track Player stay in "loading" state when loading long audio."
# Configuration

Run `react-native info` in your project and share the content.
[code]
What `react-native-track-player` version are you using?
`^1.1.3`
# Issue
Hi everyone. So I am making a react-native project streaming music. My application works fine with short track, but when it comes to longer ( from 20 minutes to hours ), the problem arises:
1. State of TrackPlayer stuck at 'Loading' ~~even

[2019-05-04 15:28] Mahfa commented on #207
hi there, any updates about this issue ?

[2019-05-04 19:35] SergiOnGit opened #578 "Livestream doesn't work"
### Configuration

Run react-native info in your project and share the content.

[code]

What react-native-track-player version are you using?
1.1.4

"react": "16.8.3",
"react-native": "0.59.5"

Platform: android

### Issue

Hi everyone,

I am building livestream app and trying this module. It plays well when stream has fixed time for example this url: https://bitdash-a.akamaihd.net/content/sintel

[2019-05-04 21:54] Guichaguri commented on #578
We don't have a <Video> component. Is that from `react-native-video` or a custom built component? If it is a custom one, can you send the code from that so we can look what is not working?

[2019-05-05 02:52] Guichaguri commented on #572
Before publishing, I think we should discuss about implementation details:

* Although it shares the same API, it is another module, separated from `react-native-track-player`, which means it would work pretty similar to `react-router-dom` and `react-router-native`.
* I've built three media button extensions: (which can be selected through imports, e.g. `import TrackPlayer from 'react-track-player

[2019-05-05 12:27] SergiOnGit commented on #578
Sorry, somehow i pasted incorrect code. Now it's fixed.

[2019-05-05 13:37] anhhh11 commented on #97
Digging code; id, title, artist, url required.
[code]

[2019-05-05 14:46] Guichaguri commented on #97
You don't need to dig code, it's right [in the Track Object](https://react-native-kit.github.io/react-native-track-player/documentation/#track-object) documentation.

[2019-05-05 19:31] biomancer commented on #516
I've got similar crash in debug mode without trying to change rate, and it seems to be connected with automaticallyWaitsToMinimizeStalling and https://github.com/react-native-kit/react-native-track-player/pull/490 ,
[code]

I've applied a patch that @minhtc suggested above (thanks!) and it helped, no more crashes like that or when setting rate.
Unfortunately I'm not familiar with swift enough to u

[2019-05-05 20:14] Shriram-Balaji commented on #572
Most cross platform libraries, that support react-native-web have a necessity to add a separate module with the same API, so I believe that's what suits us as well.

It seems to me that HTML5 Audio is the way to go for web, because of obvious reasons. Although it doesn't support adaptive streaming immediately, I see it as a feature that's implemented after we have identified that rn-track-player w

[2019-05-06 01:17] minhtc commented on #548
Check out my full patch that support seekTo() right after play() : https://gist.github.com/minhtc/2586639a87e4a67d588da1736df7a800

[2019-05-06 01:35] minhtc commented on #473
Try this: https://github.com/react-native-kit/react-native-track-player/pull/579/files

[2019-05-06 09:30] SergiOnGit commented on #578
@Guichaguri I changed https to http and now it works. Is this normal? Also one problem i noticed is that sometimes default background controls doesn't work. Then i close app open again and it works. Can this happen in production app too?

[2019-05-06 09:56] harish-everest opened #580 "react-naative-slider's sliding is not working with progress component?"
# Configuration
[code]

# Issue

Im trying to implement the seekbar to our music player app. And I'm using Slider(react-native-slider) component in ProgressComponent. The slider is not responding to the events. But if I place that slider in another component it's working fine. I'm thinking there is something wrong in this component. Please correct me if I'm wrong. If there is any example which giv

[2019-05-06 12:43] harish-everest commented on #580
Removing the flex for main view container solved the issue. I'm wondering why flex causing this issue

[2019-05-06 18:33] ithustle opened #581 "Event playback-track-changed fired when track is added"
# Configuration

info
  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
      Memory: 2.79 GB / 11.87 GB
    Binaries:
      Yarn: 1.10.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.5429.30.34.5452501

react-native-tra

[2019-05-07 01:15] mitchdowney commented on #516
I am running into a similar issue, except setRate works fine when TrackPlayer is playing, but when I call setRate and TrackPlayer is paused, the app crashes.

[2019-05-07 16:24] curiousdustin commented on #357
I am also getting these errors consistently logged in Bugsnag. Please let us know if there is any further info we can provide to track this down.

The errors are spread evenly across various iOS versions and devices.

[2019-05-07 16:37] CapitanRedBeard opened #582 "[iOS] playback-state sometimes returns 'ready' but the audio is playing"
# Configuration

`react-native-track-player@1.1.3`
`react-native info`:
[code]

# Issue
The `playback-state` listener will constantly update whenever the track player changes playback state, however occasionally it will return ready and while the track player is playing audio and not return a `playing` state.

This is a problem because we should be relying on this listener to be the source of trut

[2019-05-07 23:11] skleest commented on #473
+1 very hard to reproduce, but seeing it on crash reports (bugsnag). might be crashing in the background?
Android OS notified me that our app has been 'crashing frequently', although I haven't seen it crash personally.

[2019-05-08 07:28] EmaEvidence commented on #473
I have a similar problem on crashlytics, I have not reproduced it while testing on devices though but my users experienced it.
![image](https://user-images.githubusercontent.com/19169695/57357632-4683e880-716b-11e9-8790-ab798b52e34f.png)

[2019-05-08 12:54] brenwell opened #583 "TrackPlayer.remove() does not resolve promise iOS"
There are situations where removing a track will not resolve or reject the remove function

[code]

The line with the return in it should either be a `continue` or it should `reject`/`resolve` here.

[2019-05-08 19:49] ishigamii commented on #576
Oh that would be nice if it is the cause of the crash thanks a lot for that @ntk860 !
@dcvz what do you think of it?

[2019-05-09 07:24] Goodem opened #585 "How to realize the Player mode (Repeat, Repeat all, Shuffle)"
# Configuration

The latest version of `react-native-track-player`

# Issue
How to  realize the Player mode (Repeat, Repeat all, Shuffle)

[2019-05-09 19:14] cristiankmb commented on #533
@besh81 stop() is use to kill any track array Sequence. If you need only stop the audio you can use pause(). So if you really need use stop() function you need do this after using it:

[code]

[2019-05-10 06:57] besh81 commented on #533
@cristiankmb thanks for the tips.
Yes I need to use stop. I'm playing a webradio stream source and I tried to use pause but then starts a buffering process that misalign the stream. I want to do something that act like a classic fm radio.

I've tried your suggestions and it works very well on android.
On iOs sometimes I have to push play twice to start the stream. The first time the player go to b

[2019-05-10 11:18] holospeed commented on #421
I noticed the same at version 1.1.4
I had no error message when the internet connection has been stoped or when the source file missed, pointed to wrong place or was a not supported format.

[2019-05-10 11:21] Guichaguri commented on #548
@curiousdustin Feel free to submit one, I can help you implementing it on Android.

[2019-05-10 11:59] antontanderup commented on #473
We're seeing this crash in crashlytics also.
Just had this happen on my phone. Happened right after a long track finished (+10min), app in background, screen off. The crash is not visible to the user, but next track is not started either (playback-queue-ended is probably not sent).

[2019-05-10 12:47] LiWeiQiangAndroid commented on #585
android see: https://medium.com/google-exoplayer/repeat-modes-in-exoplayer-19dd85f036d3

setRepeatMode
and
setShuffleModeEnabled

[2019-05-10 14:27] bishnudev commented on #458
has it been fixed?

[2019-05-10 15:01] DNA-h commented on #577
Same problem here, In my case it is even worse because I am playing streams and RNTrackPlayer can never guess the duration.
I must also mention this problem is only present in iOS and my Android app is working properly.

[2019-05-10 15:15] cristiankmb commented on #533
Ok, @besh81  I had the same problem, temporarily i used a different behavior for iOS:
[code]

[2019-05-10 15:39] curiousdustin commented on #473
Has anyone tried @minhtc's solution yet? I'll be looking at this closer next week.

[2019-05-10 15:51] DNA-h commented on #533
where do you call getPlayback()? can you share your code please? this bug with streams is hard to resolve on ios

[2019-05-10 16:03] cristiankmb commented on #533
@DNA-h  complement this code with the code above:

[code]

Remember that the playerState prop is the state that you handle with TrackPlayer state.

[2019-05-11 13:44] GH974 commented on #391
@Guichaguri, hi have you find this bug ?

[2019-05-11 20:57] holospeed commented on #577
(if you are using the version 1.1.4) Maybe you should try to add

to PlayerOptions.

from some reason it is not [documented](https://react-native-kit.github.io/react-native-track-player/documentation/#setupplayeroptions), but it is part of the [api](https://github.com/react-native-kit/react-native-track-player/blob/6a61d8105ebb2936307a9aa0e4b28c313f8eb1c0/index.d.ts#L78)

[2019-05-13 02:52] ntk860 opened #587 "Ready Constant has value undefined [ANDROID]"
@Guichaguri constant STATE_READY has the value undefined instead of a number.

[2019-05-13 05:44] #580 closed

[2019-05-13 08:18] gaodeng opened #588 "android TrackPlayer.remove("id_not_exist") never be resolved or rejected"

[2019-05-13 09:12] gaodeng opened #589 "android after reload the js,remote-play remote-pause not fired when tap the notification action button."

[2019-05-13 10:24] brenwell commented on #588
Duplicate #583

[2019-05-13 10:50] songoten28 commented on #431
@ithustle no it not working . Im using react-native-track-player#dev

[2019-05-13 11:48] #588 closed

[2019-05-13 13:29] gaodeng opened #590 "any plan to polish the queue api ? it's really difficult to work with it currenlty."

[2019-05-13 15:54] ithustle opened #591 "Error: Given track ID was not found in queue"
# Configuration

React Native Environment Info:
    System:
      OS: Linux 4.15 Ubuntu 18.04.2 LTS (Bionic Beaver)
      CPU: (4) x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
      Memory: 814.81 MB / 11.60 GB
      Shell: 4.4.19 - /bin/bash
    Binaries:
      Node: 8.10.0 - /usr/bin/node
      Yarn: 1.16.0 - /usr/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
    IDEs:
      Android Studio: 3.3

[2019-05-13 20:24] #578 closed

[2019-05-13 22:35] mitchdowney commented on #570
@Guichaguri, I am running into an issue where the playback-error event is not being called, even when I use fake audio file URLs. For example in my registered events I have:

[code]

And elsewhere I load the TrackPlayer using:

[code]

But when I run that code, the playback-error event is never called.

Meanwhile I have another event listener registered for playback-state, and that is called on lo

[2019-05-14 02:11] brenwell commented on #591
If I understand your question correctly then yes you have misunderstood.

Firstly add doesn’t play.
Secondly insertById doesn’t skip, skip does

What you want is:

Trackplayer.add(tracks)
Trackplayer.skip(tracks[1].id)
Trackplayer.play()

The second param of add indicates where to add the new tracks in the existing queue

[2019-05-14 05:15] ithustle commented on #591
@brenwell, you rock.

[2019-05-14 05:15] #591 closed

[2019-05-14 11:56] DNA-h commented on #533
With help of @cristiankmb I was able to solve my problem like this:

[code]
Basically the promise which is returned at TrackPlayer.add() is messed up and you cannot be sure if track is truly added or not. I put TrackPlayer.play() inside an interval to try playing stream multiple times until it is successful.

[2019-05-15 00:37] Guichaguri commented on #590
Yes. #122

[2019-05-15 00:37] #590 closed

[2019-05-15 00:38] Guichaguri commented on #585
It's not implemented at the moment. We do plan to add it in the near future.

Duplicate of #122

[2019-05-15 00:38] #585 closed

[2019-05-15 01:54] LiWeiQiangAndroid commented on #585
I've implemented it, but there seems to be a bug

[2019-05-15 09:04] RohitNNaik opened #592 "NotificationCapabilities next and previous action button is not working in background mode."
# Configuration

Run `react-native info` in your project and share the content.
What `react-native-track-player` version are you using?

# Issue

# Code

Show us the code you are using