[2022-04-13 15:11] jspizziri commented on #1392
@rajpootathar glad to see that your issue is solved! I'm going to close this issue in light of that.

[2022-04-13 15:11] #1392 closed

[2022-04-13 15:14] jspizziri commented on #1400
I'm reclassifying this from a "bug" to an "enhancement" since it's more of an improvement to the developer experience rather than a bug that affects end-users.

[2022-04-13 15:25] jspizziri commented on #1406
@AshaKaligatla are you still having this issue? If so can you please create a minimum reproducible example repo?

[2022-04-13 15:40] jspizziri commented on #1421
@petrbela @DennisdeWitNL @martinmidtsund ,

Thanks for your feedback and the interest! I'm not super familiar with Google Cast in RNTP or in react-native-google-cast. However the idea sounds like a good one from my perspective.

@dcvz would be interested in your take on this.

[2022-04-13 15:45] jspizziri commented on #1425
@BlackBank can you create a minimum reproducible example repo for this issue?

I think it makes sense that you could scrub within whatever is currently buffered.

[2022-04-13 15:47] iboxgithub commented on #1407
Hi @jspizziri, thanks for your answer ;)
We are currently in our beta phase but yes we would be up to sponsor that effort. The beta is supposed to last until at least August, is there a way to reach out directly in order to not raise another ticket for this?

[2022-04-13 15:51] jspizziri commented on #1435
@ZiizouChrist what version of react-native-track-player are you using?

[2022-04-13 16:03] jspizziri commented on #1440
@gustavo-amaro does this issue currently happen in v2.2.0-rc3?

[2022-04-13 16:09] jspizziri commented on #1445
https://github.com/doublesymmetry/react-native-track-player/issues/1371

[2022-04-13 16:11] #1450 closed

[2022-04-13 17:42] jspizziri commented on #1469
@JDMathew thanks for the report! Would you be able to take a crack at fixing the issue?

[2022-04-13 19:09] jspizziri commented on #1414
@dcvz , sounds great to me. I'll take a crack at the implementation in the next week or so.

[2022-04-14 00:45] fierysolid commented on #885
This issue has nothing to do with expokit, I also get this issue and I wasn't in Expo to begin with.

[2022-04-14 05:07] bradleyflood commented on #1376
@jspizziri The challenge I see with that keeping Windows even as unsupported is that we will still get Bug Reports and Feature Requests and Pull Requests for Windows, but we are all so time poor so this will just put further burden on an already full team, reducing any availability on the pressing issues. Cutting out Windows will allow us to focus on the important stuff - Android & iOS - without a

[2022-04-14 08:57] sebpapaechocharliekilo opened #1474 "Android app crashing when starting playing a mp3 after upgrading from RN 0.60.5 to 0.67.4"
**Describe the Bug**

We use this plugin since a while with RN 0.60.5 and v 2.0.0-rc13, after upgrading to RN 0.67.4 we started having issues like exoplayer2 missing etc... so we added it as well.

But now right when we start to play a MP3 the app crash.

React code we use to play the MP3:

[code]

Error:

E/AndroidRuntime: FATAL EXCEPTION: mqt_native_modules
    Process: XXXXX, PID: 11100
    jav

[2022-04-14 11:21] ZiizouChrist commented on #1435
@jspizziri thanks for your reply. I use version 2.1.2

[2022-04-14 12:47] jspizziri commented on #1376
@bradleyflood fair points. However, perhaps we could do some things to help manage the load.

Some ideas:

1. Update the issue template to require a strict format (which includes platform)
2. Have a Github action auto label anything that didn't meet the template requirements (and auto close them if they don't get updated after a certain period)
3. Auto label tickets by platform.
4. Auto comment on

[2022-04-14 12:53] jspizziri commented on #1435
@ZiizouChrist any chance you could see if this is still an issue in [v2.2.0-rc3](https://github.com/doublesymmetry/react-native-track-player/releases/tag/v2.2.0-rc3)?

It's a complete Android overhaul and it's definitely possible that it has been resolved in that version.

Thanks!

[2022-04-14 13:06] jspizziri commented on #1474
@sebpapaechocharliekilo , there is no version `v2.0.0-rc13`. Do you mean `v2.0.0-rc3`?

I can verify that the project works with `react-native@0.68.0` so my guess is that it either has something to do with your local RN project or how you're using the package.

Could you please try installing the package in a fresh RN project and see if you still have the issue? If you do then please send a link t

[2022-04-14 13:11] jspizziri commented on #1437
@gavrichards what version of the library are you using?

[2022-04-14 13:12] sebpapaechocharliekilo commented on #1474
@jspizziri yes there is --> https://github.com/doublesymmetry/react-native-track-player/releases/tag/v2.0.0-rc13

i will re-install the package in a fresh RN and update you

[2022-04-14 13:15] #1474 closed

[2022-04-14 13:18] gavrichards commented on #1437
@jspizziri `2.1.2`

[2022-04-14 13:19] sebpapaechocharliekilo commented on #1474
@jspizziri I know it's old. Tested latest 2.0.x, 2.1.x, 2.2.x as well.
Will try to reproduce in a bare RN and come back to you

[2022-04-14 13:27] jspizziri commented on #1437
@gavrichards thanks! After taking a quick look I'm guessing that this is actually a bug in [SwiftAudioEx](https://github.com/doublesymmetry/SwiftAudioEx) as [this package simply observes state and failure events from the player provided by that package](https://github.com/doublesymmetry/react-native-track-player/blob/main/ios/RNTrackPlayer/RNTrackPlayer.swift#L29).

With that said, it definitely s

[2022-04-14 13:31] gavrichards commented on #1437
1. You use this library's `useTrackPlayerEvents` hook and check for an `event.type` of `Event.PlaybackError`.
You'll see that if you lose connection while playing, this is only triggered on Android.
2. I'm afraid I'm not in a position to do that at the moment unfortunately.
3. I don't know anything about native code I'm afraid so I won't be much help there.

[2022-04-14 13:39] jspizziri commented on #1428
@mpivchev  it looks like this might be a duplicate (or at least addressed by) this issue?

https://github.com/doublesymmetry/react-native-track-player/issues/1377

@afkcodes can you confirm/deny?

[2022-04-14 13:44] mpivchev commented on #1428
@jspizziri yes. It's related.

[2022-04-14 13:44] mpivchev commented on #1428
Closed for duplication. Check #1377

[2022-04-14 13:44] #1428 closed

[2022-04-14 13:45] mpivchev commented on #1377
@afkcodes This bug is still being worked on. It's bigger than originally thought. Please test and report once it's done.

[2022-04-14 13:49] jspizziri commented on #1364
I believe issue is resolved in `v2.2.0-rc3`, please give it a spin and let me know if it's still an issue.

Thanks!

[2022-04-14 13:49] #1364 closed

[2022-04-14 13:54] #1406 closed

[2022-04-14 13:58] jspizziri commented on #1313
Given the lack of feedback here and the Android rewrite I'm going to close this ticket. Please test on v2.2.0-rc3 or higher and I'll reopen if its still an issue.

[2022-04-14 13:58] #1313 closed

[2022-04-14 14:00] jspizziri commented on #1293
@uzegonemad can you please see if v2.2.0-rc3 fixes your issue?

[2022-04-14 14:02] jspizziri commented on #1276
@stijnvanderlaan @Nagato717

1. What platform are you seeing this on (Android/iOS/Windows)?
2. Can you see if the issue is still present in v2.2.0-rc3

[2022-04-14 14:22] jspizziri commented on #1168
It looks like this (at least originally) indicates an issue with v1 which is no longer supported. On those grounds, I'm going to close this issue. However, @uzegonemad if you're (or anyone else's) issue is with v2 please let me know and I'll reopen it.

[2022-04-14 14:22] #1168 closed

[2022-04-14 14:26] jspizziri commented on #978
Hi all, for those having this issue on v2 can you please:

1. Test and verify that it's still an issue with `v2.2.0-rc3`
2. Create a concise set of reproducible steps (ideally this would come along with a sample repo)
    - Massive blocks of code in a comment, while helpful and appreciated, are a bit overwhelming and require a lot of work from our perspective.

Thanks!

[2022-04-14 14:31] jspizziri commented on #1407
@iboxgithub please email team@doublesymmetry.com and let them know!

[2022-04-14 14:31] #1407 closed

[2022-04-14 14:35] jspizziri commented on #1460
@ninacoder-info also, can you please let us know what version of the library you're on?

[2022-04-14 14:37] jspizziri commented on #1451
@iphonic @saudahmed please upgrade to v2.2.0-rc3, that should solve your problem.

[2022-04-14 14:37] #1451 closed

[2022-04-14 14:39] jspizziri commented on #1444
@adelin-b @Taha-khojasteh , can you please submit a clean example repo that reproduces this issue? Thanks!

I'd also recommend trying out `v2.2.0-rc3`.

[2022-04-14 14:45] jspizziri commented on #1438
@mpivchev flagging this in the event that this is an issue with the Android rewrite.

The claim is that when you:

1. Add the `JumpBackward` and `JumpForward` in capabilities to  `compactCapabilities` options.
2. Attempt to call `TrackPlayer.add()`

You get a app crash without error.

[2022-04-15 02:39] ekoooo commented on #1347
hi @jspizziri, i tested `v2.2.0-rc3` version in the example project and this issue is still exists.

[2022-04-15 05:56] Taha-khojasteh commented on #1444
@jspizziri

Unfortunately I still get same Error (with v2.2.0-rc3 version)

[2022-04-15 06:27] austinried opened #1475 "FATAL EXCEPTION: mqt_native_modules using v2.2.0-rc3 in release build"
**Describe the Bug**
Just trying out `v2.2.0-rc3` and I was able to test in debug mode somewhat fine, but in release mode I'm seeing this crash 100% of the time on app launch, kills the app completely:

[code]

**Steps To Reproduce**
Not sure where to start but you can build subtracks and see the problem on my branch here if you want: https://github.com/austinried/subtracks/tree/react-native-track

[2022-04-15 06:33] afkcodes commented on #1377
sure will test have halted my app for this, gonna resume once this is fixed.

[2022-04-15 06:39] austinried opened #1476 "No Buffering state ever received, only Connecting and Paused"
**Describe the Bug**
Using `v2.2.0-rc3` I have noticed I never receive the Buffering state anymore.  I get a Connecting state when the queue first starts playing, and then a quick Paused state when skipping tracks/seeking within a track.  Here's an example log of states:

[code]

**Steps To Reproduce**
Load up a queue of URLs, watch state transitions as you skip/seek tracks.

**Environment Info:**

[2022-04-15 11:27] jspizziri commented on #1347
@mpivchev flagging this for you in the event you think it should be addressed in 2.2.0. If it should come in a subsequent release let me know.

[2022-04-15 12:42] elliotdickison commented on #582
This appears to persist in v2.1.3 as well. The original problem description exactly matches the behavior I'm seeing.

@Enragedsaturday's workaround reduced the frequency of the issue for me but it still occurred sporadically. The workaround also introduced a new issue where and the playback rate would occasionally get reset when switching tracks. After a bit of fiddling this seems to be a reliable

[2022-04-15 14:06] jspizziri commented on #1475
@mpivchev this looks relevant to the android rewrite, can you confirm?

[2022-04-15 14:10] jspizziri commented on #1476
@mpivchev this looks like a relevant rewrite issue.

@austinried , if you're willing to take a crack at a fix I'm happy to try and provide guidance. It's a great way to learn new tech and level up 😜

[2022-04-15 16:58] johkade commented on #1414
I second all of what was said before. This would be a great addition to this library. I'm currently doing practically the same as martinmitsundt using r-n-background-timer

[2022-04-15 22:20] DennisdeWitNL commented on #1371
I already wrote this to David and he confirmed it’s part of a bug, but let’s write it here so the other developers can see it too:

When setting stopWithApp to true, the app crashes when I press the hardware back button on a Samsung smartphone until I am back at the home screen of Android. The player stops and the app crashes. When setting stopWithApp to true, there is no issue.

It only has this

[2022-04-16 00:53] austinried commented on #1476
Sure, I can poke around at stuff as good as the next person. Just want to set your expectations on what the quality of a Kotlin PR from me would be. 😅

Just in case it's related I will add some info about my build process to #1475 which I suspect could be involved there.

[2022-04-16 00:56] jspizziri commented on #1476
No judgement, just appreciation!

I'm sure it'll be great and that's what the remote prices is for anyways 😃

[2022-04-16 01:00] austinried commented on #1475
Some more maybe related info since I don't know what I'm doing with Kotlin really: I am using react-native-async-storage's "next" module as well, which also requires a different version of Kotlin.  I tried to resolve that like this in my `build.gradle`:

[code]

I used to have a `kotlinVersion` in the `ext` section as well but removed that.  It seems to build fine like this but I'm not actually su

[2022-04-16 02:05] doublesymmetry-dev commented on #1305
This issue is stale because it has been open 90 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2022-04-16 02:05] doublesymmetry-dev commented on #1297
This issue is stale because it has been open 90 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2022-04-16 02:05] doublesymmetry-dev commented on #1100
This issue is stale because it has been open 90 days with no activity. Remove stale label or comment or this will be closed in 7 days.

[2022-04-16 02:21] austinried commented on #1475
Actually after looking into the MusicService a bit I'm realizing that the issue here seems to be `getQueue()` is being called before `setupPlayer()`.  This is happening because I register a listener in the playback service to hook into changes in network state (mobile/wifi) and I need to rebuild the queue with new URLs that correspond to new bitrate quality values when this changes.  The problem i

[2022-04-16 11:20] jspizziri commented on #1475
Could you simply set a store value with something like MMKV or LocalStorage once setup has been successful?

Then you could conditionally call the queue build in your service.

[2022-04-16 11:25] dcvz commented on #1100
The track object now supports an `isLiveStream` property. As this is not something that changes within one stream -- I think this should suffice.

[2022-04-16 11:25] dcvz commented on #1100
Closing this as this is now possible.

[2022-04-16 11:26] #1100 closed

[2022-04-16 11:28] dcvz commented on #1297
This was fixed here: https://github.com/doublesymmetry/react-native-track-player/pull/1397

Thanks for reporting! I will close this issue now.

[2022-04-16 11:28] #1297 closed

[2022-04-16 11:37] austinried commented on #1475
Yeah I think I can work around the specific issue I'm having now by registering the net event handler later, but I'm a little worried about how to handle waiting on doing anything with TrackPlayer that might interact with the uninitialized `lateinit player` before it's setup, you know?  I can't async delay registering the main component, so things are going to start mounting before that's ready no

[2022-04-16 12:21] jspizziri commented on #1475
I believe it might be possible to setup the track player in your index and then once it's promise resolves register your app component and service. I haven't tried it though.

[2022-04-16 12:27] austinried commented on #1475
I tried that, but it throws an error about `AppRegistry.registerComponent` not being called if you delay it behind something async/await.

But you know the more I think about it the more I am realizing that yeah in a media player app like mine it does makes sense to just wait on mounting anything media player related until that setup is done anyway.

I've done some experimenting with setting up th

[2022-04-16 16:30] #1475 closed

[2022-04-16 16:38] Raheel1258 opened #1477 "App is crashing on IOS after deployment or in test-flight. Working fine locally."
**Describe the Bug**
The app is crashing on IOS after deployment on Appstore or Test flight. Working fine locally.

**Steps To Reproduce**
Deploy the app on Appstore or create a test flight. Working fine on debug mode. Crashing on release mode for IOS.

**Code To Reproduce**
Here is the code when we load songs

[code]
**Environment Info:**

- Paste the results of `npx react-native info`
`Fetching

[2022-04-16 16:39] Raheel1258 commented on #1477
Really need help to fix this guys.

[2022-04-16 16:40] Raheel1258 commented on #1477
Why the app is crashing when songs are loaded on IOS real device?

[2022-04-16 18:59] jspizziri commented on #1477
At a glance my guess is that this has to do with your app and app environment rather than this lib, but I'll try and help.

I've used the lib in production before (and I'm sure others have too) and I've not experienced this.

Because it's in TestFlight we're really going to need a stacktrace or crash report to help you solve it.

[2022-04-17 09:52] Raheel1258 commented on #1477
I am loading the songs in the track player in this way the song URL is coming from s3. Is there any problem with this?

`export const getMusicByTitle = (title, setAnimation) => dispatch => {
  setAnimation(true);
  axios
    .get(`${Api}/music/searchMusic?title=${title}`)
    .then(async res => {
      let arr = [];
      res?.data?.musics.forEach(x => {
        arr.push({
          id: x._id,

[2022-04-17 11:32] jspizziri commented on #1477
Can you send the array of tracks? I'm guessing something is off there. Make sure they all have artists as there's a known bug on iOS where that field is actually required

[2022-04-17 14:21] jspizziri commented on #1462
@andrewdang17 Do you have the ability or interest to do some deeper investigation here? Happy to provide some guidance!

[2022-04-17 21:13] andrewdang17 commented on #1462
@jspizziri yes that would be great!

[2022-04-18 07:51] austinried opened #1478 "[Feature Request] Support for always-on-display"
**Describe the Bug**
After upgrading from stable to `v2.2.0-rc3`, my app no longer shows track/artist name on the ambient display on an Android 12 device.  The title and artist show up fine in the notification and on the lock screen when the notification is displayed, it's just when the phone is fully locked and the ambient display is on that I see the "No title" where that info used to be.

**Ste

[2022-04-18 10:08] 1M6host commented on #108
why is it closed?

[2022-04-18 20:35] jspizziri commented on #1478
@mpivchev looks like a android rewrite bug.

[2022-04-18 23:03] bradleyflood commented on #1376
@jspizziri I agree this would help but I'm not convinced of the benefits. Can you tell me why you think it's worth the time to keep it going? From what I can see Windows Mobile is basically dead and the market share is so so tiny. I just can't see how it's worth us spending our precious time on it.

[2022-04-19 13:29] jspizziri commented on #1376
@bradleyflood , so I'm pretty ill-informed about in general so I'm completely open to being very incorrect on this; but my understanding is that Windows support isn't for Windows Mobile, but for [a whole host of Windows Devices](https://microsoft.github.io/react-native-windows/) like Xbox, PC's, & Surface tablets. If my understanding is correct, I myself hope to take advantage of it someday.

If I

[2022-04-19 13:57] dcvz commented on #1376
I think it’s a hard choice here.. it’s a fact that we currently have no RN for windows experience + a dev environment for it. I also unfortunately don’t know how much usage there is from RN for windows users..

The current implementation we have was contributed by a Microsoft contractor in their efforts of pushing RN for windows and macOS. So there might be large on increasing interest but we can’

[2022-04-19 13:59] dcvz commented on #1376
Also @jspizziri your understanding of RN for windows is correct. Here’s more info: https://microsoft.github.io/react-native-windows/

[2022-04-19 16:56] jspizziri commented on #1414
I've got [a largely functional PR](https://github.com/doublesymmetry/react-native-track-player/pull/1473) up (for Android & iOS) if anyone cares to take a look.

[2022-04-19 16:58] kyimoemin opened #1480 "duration value is showing buffered's value in useProgress hook"
**Describe the Bug**

The duration value is showing a buffered value of useProgress hook [may be only in network audio]. For example, the actual audio file duration is 5 minutes but it only shows the buffered value. sometimes even position is showing a bigger value than both of duration and buffered value, like position is already at 3 seconds and playing audio smoothly but the duration and buffer

[2022-04-19 17:01] jspizziri commented on #1462
@andrewdang17 awesome, let me know what questions you have. Looking forward to your PR!

[2022-04-19 17:34] jspizziri commented on #1469
@JDMathew the fix was pretty easy so I went ahead and implemented it.

[2022-04-19 18:13] jspizziri commented on #1440
I've confirmed this behavior, however after looking more deeply into it looks like:

1. This issue should actually be filed with [SwiftAudioEx](https://github.com/doublesymmetry/SwiftAudioEx)
2. This is really a feature request and not a bug.

With both of those things in mind, I'm going to close this issue. If you disagree please let me know.

[2022-04-19 18:14] jspizziri commented on #1440
Sorry, closed by mistake.

[2022-04-19 18:14] jspizziri commented on #1429
I've confirmed this behavior, however after looking more deeply into it looks like:

1. This issue should actually be filed with [SwiftAudioEx](https://github.com/doublesymmetry/SwiftAudioEx)
2. This is really a feature request and not a bug.

With both of those things in mind, I'm going to close this issue. If you disagree please let me know.

[2022-04-19 18:14] #1429 closed

[2022-04-19 18:26] jspizziri commented on #1402
@janlonden ,

I recently noticed some strange behaviour with the play/pause button in the example app caused by a missing dependency in a [callback hook which I've fixed here](https://github.com/doublesymmetry/react-native-track-player/pull/1473/commits/a91461f10ef6d3c1bdad0d6ece4e707e08d94054). I believe this is the root of the issue you were seeing. I've attempted to reproduce this behavior with

[2022-04-19 18:26] #1402 closed

[2022-04-19 18:29] jspizziri commented on #1430
@regishideki please attempt to reproduce this with the example project. If it still happening please submit a repro that consistently demonstrates the issue. I've never seen this happen before nor can I reproduce it with the example project.

I'm happy to reopen if more information or a repo demonstrating the issue is provided.

Thanks!

[2022-04-19 18:29] #1430 closed

[2022-04-19 18:46] jspizziri commented on #1440
@gustavo-amaro ,

I just tested this with the example project on a simulator (iPhone 6, iOS 12.4). Everything worked exactly as I would expect. Please upgrade to v2.2.0-rc3 and retest. If you're still having issues please create a reproducible repo that can help us debug the issue and I will reopen.

[2022-04-19 18:46] #1440 closed

[2022-04-19 18:49] jspizziri commented on #978
I'm going to close this issue. If anyone is having an issue please follow the guidance above and let me know the results. If there's a clear way to reproduce this in the most recent version I'm happy to reopen it!

[2022-04-19 18:49] #978 closed

[2022-04-19 20:06] Thomascogez commented on #1063
@sandeepkundu4344 @MJahanzaibKhan @rahutwr33, I was actually facing the same issue on ios and struggle a lot with it, I solved it.
I stream audio from my own server and adding codec inside `Content-type` solved my issue !
(Example for mp4: `Content-type audio/mp4 codecs="mp4a.40.2"`). With that song length is correctly displayed in app and on control center 👍
Hope that can help to solve your issue

[2022-04-19 20:38] jspizziri commented on #1426
@Artem2001S question:

Are you saying that the native iOS lockscreen widget stops reporting the correct position but the `useProgress` hook still works?

[2022-04-19 20:44] jspizziri commented on #1426
Ah, I just tested this and I can confirm that it's the lock screen progress that gets stuck at 100.

[2022-04-19 20:53] jspizziri commented on #1426
I've [filed an issue with SwiftAudioEx](https://github.com/doublesymmetry/SwiftAudioEx/issues/15)

[2022-04-19 21:28] jspizziri commented on #1462
@andrewdang17 after doing a little bit of digging here it looks like this is only an issue with `RepeatMode.Track`, can you confirm?

[2022-04-19 21:42] jspizziri commented on #1462
@andrewdang17 just submitted a fix for this issue: https://github.com/doublesymmetry/react-native-track-player/pull/1482

[2022-04-20 15:15] curthipster commented on #1349
@jspizziri I have not tested on v2.2.0-rc3 yet. I'm happy to do that. Are the repro steps like I initially described what you're looking for, or is there something more helpful I can do?

[2022-04-20 17:34] jspizziri commented on #1349
@curthipster thanks for the response. I looked at the code and it doesn't look like anything relevant for this changed between rc2 and rc3, but testing could be helpful as it could've been fixed by a dependency. If you test it and are still getting the same issue more specific repro steps would be helpful and even better would be a working example (based on the `example` app) that reproduced the i

[2022-04-20 17:45] Strate commented on #558
I'm facing exactly same issue. However, using react-native-video component for playing audio tracks works fine on android, but react-native-track-player restarts from 0.

[2022-04-20 17:51] hammadwahab12 commented on #1418
Hello @mpivchev, any update ?

[2022-04-20 18:08] JDMathew commented on #1469
@jspizziri, thanks for adding a PR fixing this. I left a [comment](https://github.com/doublesymmetry/react-native-track-player/pull/1481#issuecomment-1104253728) on your PR just letting you know that title should also not be required according to the Track interface. https://github.com/doublesymmetry/react-native-track-player/blob/90fc0e76b47a741b5fed04846fff3c89913ed66d/src/interfaces.ts#L202-L21

[2022-04-20 18:17] jspizziri commented on #1349
@curthipster , one thing that would actually be super helpful is if you could pull down the branch on my PR and run through the documented test scenarios. I believe that the solution I have in place should fix this, but another set of eyes would be helpful.

[2022-04-20 18:19] curthipster commented on #1349
@jspizziri 👀

[2022-04-20 18:22] jspizziri opened #1483 "iOS Issue with Single Track Queue in RepeatMode.Queue"
I'm creating this issue as a result of the investigation and work done here: https://github.com/doublesymmetry/react-native-track-player/pull/1482

Basically, it seems that when there is only `1 track in the queue AND RepeatMode == Queue`  THEN when the track finishes playing it will **NOT** repeat, but rather playback stops.

My guess is that the underlying issue is with SwiftAudioEx.

CC @dcvz

[2022-04-20 20:19] curthipster commented on #1349
@jspizziri I pulled down your PR branch at 4961e12 and can confirm that the `playback-queue-ended` event is only being fired once when the last track completes now. That fixes the first issue here:

As you noted in the PR, `playback-track-changed` is not being called at the end. Frankly, I don't know what the *correct* behavior is for this event, but I do think it should be consistent between iOS

[2022-04-21 00:33] curthipster commented on #1349
@jspizziri I tested your branch with a focus on multi-track queues and RepeatMode.off. I am seeing two bugs, which I describe in a [Draft PR](https://github.com/5-stones/react-native-track-player/pull/1) I opened on your branch.

Happy to keep chatting on Discord or here if I can be helpful.

[2022-04-21 01:00] jspizziri commented on #1349
@curthipster thats for taking a look! I'll dig into the other issues tomorrow hopefully.

[2022-04-21 08:24] mpivchev commented on #1418
@hammadwahab12 It's still in our to-do list. As mentioned before, if you want this resolved quicker, you are welcome to contribute.

[2022-04-21 08:27] mpivchev commented on #1478
We try to extract the title from the file metadata:

[code]

The default will be an empty string, so it looks like the title provided in the metadata of your file is actually "No title". If you still believe this is a bug please update this issue.

[2022-04-21 09:19] austinried commented on #1478
I believe the metadata should be alright, as the title and subtitle display in the notification, it's only in the ambient display (when the device is locked) that it says "No title" for all tracks, and I use the same set of tracks for testing between this RC3 version and my standard 2.1.3 branch where this works. I'll see if I can duplicate this in the example app with a track I can link you to as

[2022-04-21 09:52] austinried commented on #1478
Actually this happens with the tracks that are already in the example app apparently, so just fire that up on an Android device with ambient display and you can repro this.  Here's mine:

![Screenshot-20220421185143-758x847](https://user-images.githubusercontent.com/4966622/164429422-7b17cdad-eacc-47d8-9b53-b149b7055644.png)
![Screenshot-20220421185104-667x610](https://user-images.githubuserconten

[2022-04-21 11:08] mpivchev commented on #1478
Ah I see. We currently don't handle ambient display at all, so this would have to be implemented.

[2022-04-21 11:28] mpivchev commented on #1478
@jspizziri yeah, if anyone is willing to contribute that would be great :)

[2022-04-21 11:30] mpivchev commented on #1478
This does not look like a bug, but a missing feature, so changed accordingly.

[2022-04-21 11:56] austinried commented on #1478
Thing is though this works in 2.1.3, here's the same song from the example app:

![Screenshot-20220421203603-731x330](https://user-images.githubusercontent.com/4966622/164450046-a6beeb81-5e18-4a49-a13f-5dca883a6c2b.png)

So this is more like a feature reinstatement.  Either way though, I have been trying to figure out from what I can what's being done in 2.1.3 that isn't in 2.2.0 in this case.  I

[2022-04-21 12:04] austinried commented on #1478
Actually I think I just found something close to documentation, I was relying too heavily on calling this "ambient display" in my searching and just found this SO post about media on the "always on display" https://stackoverflow.com/questions/59144878/media-session-has-no-title-on-aod-always-on-display

[2022-04-21 13:07] Strate commented on #558
Seems like I found a way to fix it. Check out the patch

[code]

[2022-04-21 13:50] okevino47 opened #1484 "[Android] crash with no logs - Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE"
**Describe the Bug**
App crash (android only) when starting or reseting a playtrack, i do not have any logs affiliated to this crash and **i only found some indication with flipper debugger**

Before i update my sdk version from 30 to 31 and i was on lib version 2.1.2 i didn't get any crash

error given :
Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends o

[2022-04-21 14:39] mpivchev commented on #1478
We are using KotlinAudio and ExoPlayer as our audio player libraries. The file that is responsible for the notification content is [this one](https://github.com/doublesymmetry/KotlinAudio/blob/main/kotlin-audio/src/main/java/com/doublesymmetry/kotlinaudio/notification/DescriptionAdapter.kt).

From the post you send it looks like it can be used to set up the AOD content as well.

[2022-04-21 17:02] jspizziri commented on #1349
@curthipster I've updated my MR to address the issue you reported and a few more. Please take another look.

[2022-04-21 17:35] jspizziri commented on #1484
@okevino47 can you please see if you have this issue with `v2.2.0-rc3`? There's a massive android rewrite underway and unless this is an issue there it likely won't be addressed.

[2022-04-21 17:42] jspizziri commented on #1484
Actually, after reading this it sounds like you're trying to upgrade to apiVersion 31. This is supported in the RC I mentioned, it's actually the minimum level. You can see this comment for more details

https://github.com/doublesymmetry/react-native-track-player/issues/1193#issuecomment-1098140118

[2022-04-21 17:42] #1484 closed

[2022-04-21 19:09] Krish143git opened #1485 "App is closing immediately when i call TrackPlayer.setupPlayer() in android"
hi this issue still reproducing regards #1474
 still i am facing the same issue.@JDMathew as per your comments i tried still issue is not resolved.

@JDMathew.
1) i tried with 2.2.0-rc2 and rc3  getting below error (The below line is repeating plenty of times)
Duplicate class (rc2)com.google.android.exoplayer2.upstream.cache.CacheDataSink found in modules exoplayer-core-2.13.2-runtime.jar (com.goo

[2022-04-21 20:15] jspizziri commented on #1469
@JDMathew this fix just got merged. I'm going to close this. It will be available in the next release (likely `2.2.0-rc4`).

[2022-04-21 20:15] #1469 closed

[2022-04-21 20:17] jspizziri commented on #1485
@Krish143git this looks like a duplicate of https://github.com/doublesymmetry/react-native-track-player/issues/1418

I'm going to close it but if you think it's a unique issue please let me know.

[2022-04-21 20:17] #1485 closed

[2022-04-21 21:31] KrisLau opened #1486 "[Feature Request] Fade in and out"
**What is the need and use case of this feature?**
I would love to use this package however I'm having trouble trying to figure out how to dynamically fade out the audio. Ideally, I would love to be able to fade out the audio between the tracks I play and also to fade out when the user starts/stops the audio track. Currently I believe I would need to create a timer that gradually reduces the volum

[2022-04-22 00:00] ahmedsamirdev commented on #1444
Getting same error with expo sdk 44 on android

[2022-04-22 03:30] Krish143git commented on #1485
@jspizziri  Here i tried with Rc packages because of the @JDMathew comment on ticket #1485 the above errors i am getting . Real my ticket is duplate of #1418  but i am reopening this ticket from #1485

[2022-04-22 09:55] jspizziri commented on #1485
@Krish143git , we're not going to fix android issues on 2.1.3 or any version lower than 2.2.0 because of the rewrite. So the only addressable issues here are the duplicate exoplayer problem which is already in our radar.

[2022-04-22 10:04] jspizziri commented on #1486
@KrisLau thanks for the request. I have a clarifying question and then some thoughts.

**Question**

Are you trying to cross fade tracks or simply fade each one in and out?

**Thoughts**

From my perspective this seems like a valid feature but it falls into the category of "nice-to-have"/non-critical. As such and with the realities of our resources being small and also largely directed at other mo

[2022-04-22 10:06] jspizziri commented on #1439
@mitchdowney Did the last comment solve this for you? Or is it still something you want?

[2022-04-22 10:09] jspizziri commented on #1305
@doughsay are you still interested in taking a crack at this? If so I can try to get you guidance.

[2022-04-22 14:06] KrisLau commented on #1486
The latter! Although I believe that implementing this might also help with the existing cross fading since I'm thinking that cross fading could just utilize the individual track fading to achieve a cross fade. For example, the first track would just need to set `fadeOut` and the subsequent tracks would set both `fadeIn` and `fadeOut`.

I would love to however I've never worked on any JavaScript li

[2022-04-22 16:12] KrisLau commented on #1486
@jspizziri Sound good, it sounds a little daunting since I have zero experience in both Swift and Kotlin haha but I'll try and play with it whenever I get some free time and I'll see how it goes!

[2022-04-22 16:53] KrisLau commented on #1486
@jspizziri That's heartening to hear and I'll try that! I'm definitely not as experienced haha I've only been working for a year in React Native or anything mobile. 😆

[2022-04-22 21:55] jspizziri opened #1489 "[Feature Request] Add Search To Documentation Site"
Once [the docusaurus refactor launches](https://github.com/doublesymmetry/react-native-track-player/pull/1488) we just need to do this:

https://docusaurus.io/docs/search#using-algolia-docsearch

[2022-04-23 03:08] austinried commented on #1478
@mpivchev Thanks for the tip, I've started poking around there and the NotificationManager and I think I've found where that metadata should be passed for the AOD to work, which is into the media session/connector's metadata methods.  I'm gonna do a bit more testing here and then put up a PR for review.

[2022-04-23 12:06] austinried commented on #1478
I've got the PR up for the fix on this over in KotlinAudio here: https://github.com/doublesymmetry/KotlinAudio/pull/23

[2022-04-23 12:27] austinried opened #1490 "Next button disappears on last track in queue"
**Describe the Bug**
Using the latest `v2.2.0-rc3` on Android, when playing a queue with multiple tracks and reaching the last track, the next button disappears in the notification.  This happens in both the compact and normal notifications, and the next button will reappear if you skip to a previous track.

Related discussion on this issue can be found here: https://github.com/doublesymmetry/reac

[2022-04-23 17:35] jspizziri commented on #1490
@mpivchev this looks like a rewrite issue.

[2022-04-23 23:36] dcvz commented on #1490
@austinried what would you do with that button? RNTP does not do anything when you call skip to next on the last track. So is not having the button an issue?

Does the button appear if the mode is set to repeat queue or track?

[2022-04-23 23:51] austinried commented on #1490
It appears to stay there in repeat queue mode, I haven't tested repeat track.

Right now in my app I just catch the error and do nothing on the last track, what I probably should be doing is the same thing that I do when the last track ends without skipping, which is loop back to the first track and pause.  What I really don't want though is the current behavior, which is that it disappears. To re

[2022-04-24 00:38] mitchdowney commented on #1439
@jspizziri I did not see chapters included in the metadata event. I only saw the metadata that was listed in the documentation (although it appears the documentation is down).

Would it be possible to provide some kind of catch-all in the metadata event? So we can try to parse it for ID3 tag info that react-native-track-player is not specifically looking for/parsing?

[2022-04-24 08:04] JanKhstll commented on #1444
I am getting the same error.
When researching I found an old [issue ](https://github.com/doublesymmetry/react-native-track-player/issues/719)which solved this problem with manually editing the linking.

[2022-04-24 10:40] jspizziri commented on #1489
I've submitted the application with DocuSearch. Now we wait.

[2022-04-24 12:17] austinried commented on #1490
I've done some more tests: when there is a single track in the queue, regardless of repeat mode, there is no next button.  When there are multiple tracks in the queue, regardless of loop mode, next takes you to the next track in the queue until you're at the end, and then it disappears.

[2022-04-24 13:00] ahmedsamirdev commented on #1444
Is there any fix rather than ejecting expo?

[2022-04-24 13:25] dcvz commented on #1444
Expo support is not up to us. They make available a limited number of third party dependencies in their default runtime.

If you want to use this library you have to use a mode of expo that allows you to add your own libraries that have native code.

[2022-04-25 05:05] closetothe commented on #1014
I have the same problem. Similarly, I'm also using expo (with custom module) and it seems that whenever expo a/v runs it messes with the trackplayer background service as well. If there was a way to "refresh" it, even manually that would be wonderful!

[2022-04-25 10:52] jspizziri opened #1502 "[Feature Request] Implement Conventional Changelog for enhanced/automated changelog generation"
It seems like we've stopped using GitHub releases? As [the most recent release is 2.0.1](https://github.com/doublesymmetry/react-native-track-player/releases).

### Recommendations

We should either:

1. Update the releases section and keep it up to date (with a script on publish?)
2. Delete the existing releases if we're no longer using them (if thats a thing?)

Edit: and now that we've merged th

[2022-04-25 10:56] dcvz commented on #1502
@jspizziri at some point we moved towards a `CHANGELOG.md` to document new versions -- one reason was that we wanted to eventually make adding your changes part of the requirements to a PR but have not automated that.

One benefit of this is that the changelog lives in a repo and could be easily migrated elsewhere as opposed to Github Releases.. but I understand most people expect to search there.

[2022-04-25 11:09] jspizziri commented on #1502
@dcvz , that makes complete sense, and for the record I'm 100% onboard with ditching GH Releases (I always use a CHANGELOG.md for the exact reasons you mentioned).

We have a versioned docs website now and I think anyone who is looking at the changelog is savvy enough to know to look in the CHANGELOG.md and the Git tags.

### RE: Conventional Changelog

It's a way to [autogenerate your changelog b

[2022-04-25 11:59] sjorsroelofs commented on #1444
I have the exact same problem, without using Expo.. Is there a solution for this?

[2022-04-25 12:01] jspizziri commented on #1444
@sjorsroelofs this issue is dedicated to expo. Please open a unique ticket providing additional information for your issue. Thanks!

[2022-04-25 12:23] sjorsroelofs opened #1504 "TypeError: null is not an object (evaluating 'TrackPlayer.RATING_HEART')"
**Describe the Bug**
When adding react-native-track-player to a new React Native project (without Expo) I get the following error:

**Steps To Reproduce**
- `npx react-native init AwesomeProject`
- `cd AwesomeProject`
- `npm install --save react-native-track-player`
- In App.js: `import TrackPlayer from 'react-native-track-player';`
- `npx react-native run-android` (same result on iOS)
- Error app

[2022-04-25 12:54] jspizziri commented on #1504
@sjorsroelofs did you follow the instructions [here](https://react-native-track-player.js.org/docs/basics/installation) and [here](https://react-native-track-player.js.org/docs/basics/getting-started)? Specifically running `setupPlayer`?

From your report above it's not clear to me that you did.

[2022-04-25 13:11] sjorsroelofs commented on #1504
Thanks for the reply. I'm now getting a different error.
In index.js I added this:
`TrackPlayer.registerPlaybackService(() => require('./service'));`

And in App.js I added this:
`import TrackPlayer from 'react-native-track-player';
await TrackPlayer.setupPlayer({});`

The error i'm getting right now is:

no stack

Am I doing something wrong in the setup? I followed the instructions, but it's not

[2022-04-25 13:12] jspizziri commented on #1504
@sjorsroelofs did you also run a `pod install` in your ios directory? Just realized thats not in the docs.

[2022-04-25 13:19] jspizziri commented on #1504
@sjorsroelofs can you take a look at the setup of the [Example app](https://github.com/doublesymmetry/react-native-track-player/tree/main/example) and mirror what it's doing? Something seems to be wrong with how you've set it up and I'm not entirely sure what it is.

[2022-04-25 13:21] jspizziri commented on #1504
Also see this issue which might be related https://github.com/doublesymmetry/react-native-track-player/issues/719

[2022-04-25 15:00] jspizziri opened #1507 "Docs: Network Caching Guide"
I think a guide that discusses network caching for advanced usage would be very helpful. crating this based on the conversation here (and the points covered in it)

https://discord.com/channels/567636850513018880/600714011318681610/968155680932528220

[2022-04-25 19:40] jspizziri commented on #1504
@sjorsroelofs what were the important things missing in the docs? If its the case we should get them updated.

[2022-04-25 19:40] #1504 closed

[2022-04-26 06:49] sjorsroelofs commented on #1504
Sorry, couldn't test on Android yesterday. Tried it now and getting a build error when running on an Android device:

What went wrong:
Could not determine the dependencies of task ':react-native-track-player:compileDebugAidl'.

     Searched in the following locations:
       - file:/Users/sjors/Desktop/***/node_modules/react-native/android/com/google/android/exoplayer/exoplayer-dash/2.11.4/exopla

[2022-04-26 07:16] dcvz commented on #1439
@mitchdowney documentation is back up -- could you just confirm that it really doesn't fit your needs?

[2022-04-26 08:25] mpivchev commented on #1490
So to summarize this:
1. If you don't have repeat mode, the next button disappears (which is intended)
2. If you **DO** have repeat mode **on**, the next button still disappears (when it shouldn't).

The issue you are having is with the 2nd point. Correct?

[2022-04-26 08:27] mpivchev commented on #1476
Did you receive the `Buffering` state in `rc1` and `rc2`?

[2022-04-26 08:29] mpivchev commented on #1347
Adding this as low priority, since it's not directly related to the player, but more so UI rendering.

[2022-04-26 08:29] austinried commented on #1490
No not quite sorry, I was just describing current behavior. My issue is that I don't want it to disappear ever, even when it's on the last track in the queue.

Also, I thought this disappearing was not intended? Is it something that KotlinAudio is controlling?

[2022-04-26 09:29] mpivchev commented on #1490
No, it's ExoPlayer that controls this. And it is intended.

[2022-04-26 09:53] MaxJadav commented on #1193
Get crash in androind12 any quick solution?

I am using "react-native": "0.67.2"
   	minSdkVersion = 23
        compileSdkVersion = 31
        targetSdkVersion = 31

![Screenshot 2022-04-26 at 3 22 00 PM](https://user-images.githubusercontent.com/31030098/165273843-f81bdddf-b87d-4253-96ff-8a2ebe20b4f0.png)

[2022-04-26 09:54] emmsdan opened #1509 "> Task :app:checkReleaseDuplicateClasses FAILED FAILURE: Build failed with an exception."
**Describe the Bug**

Whenever I tried to build the project I keep getting this error

[code]

This error also happens after creating a clean React native app, and installing only ` yarn add react-native-track-player@2.2.0-rc3`.

**Steps To Reproduce**

**Step 1**
Run:
[code]

**Step 2**
Make sure it is working fine and compiles fine by running the command
[code]

**Step 3**
Now install react-nati

[2022-04-26 09:56] sjorsroelofs opened #1510 "Could not find com.google.android.exoplayer:exoplayer-core:2.11.4"
**Describe the Bug**
When running the app with react-native-track-player on Android, I get the following error:

     Searched in the following locations:
       - file:/Users/sjors/.m2/repository/com/google/android/exoplayer/exoplayer-core/2.11.4/exoplayer-core-2.11.4.pom
       - https://repo.maven.apache.org/maven2/com/google/android/exoplayer/exoplayer-core/2.11.4/exoplayer-core-2.11.4.pom

[2022-04-26 10:07] austinried commented on #1490
I see, well I've looked into the ExoPlayer repo and found a few issues related to this pretty suspect decision, mainly this one that also talks about how to override it: https://github.com/google/ExoPlayer/issues/7221#issuecomment-613492175

I think I already made clear above why I think this is bad UX, but I would also put forward that this should be overriden for this library in particular since

[2022-04-26 10:34] jspizziri commented on #1510
This is a know issue that's resolve in 2.2.0-rc3

https://github.com/doublesymmetry/react-native-track-player/issues/1235#issuecomment-1098086394

[2022-04-26 10:34] #1510 closed

[2022-04-26 10:37] jspizziri commented on #1490
IMO since we're doing the refactor in as a minor release we should try to mirror the functionality as before. It sounds like this could be considered a breaking change between the versions which we don't want.

[2022-04-26 10:39] dcvz commented on #1490
@austinried point 2, definitely sounds like a bug..
point 1 is a behaviour that makes sense IMO but I understand its different than current behaviour.

Right now we're tackling a crucial bug in the module - @austinried if you've found a workaround or way to keep it enabled, would you consider opening a PR for it? That would help out a lot.

[2022-04-26 10:50] jspizziri commented on #1509
Could you see if this resolves you issue?

https://stackoverflow.com/a/67553221

Not a permanent fix but could help diagnose the issue.

[2022-04-26 10:52] jspizziri commented on #1460
We'll need more info to fix this. I'm going to close this issue but will reopen if we get a response.

[2022-04-26 10:52] #1460 closed

[2022-04-26 10:53] jspizziri commented on #1477
Closing this until feedback is provided. Sounds like a config issue.

[2022-04-26 10:53] #1477 closed

[2022-04-26 10:55] jspizziri commented on #1276
Closing due to unresponsive issue reporters.

[2022-04-26 10:55] #1276 closed

[2022-04-26 10:57] jspizziri commented on #1293
This seems related to the work I'm doing there so I'll try and address it on the same PR if I'm able to reproduce it.

https://github.com/doublesymmetry/react-native-track-player/pull/1501

[2022-04-26 11:03] sjorsroelofs commented on #1510
Alright, perfect, 2.2.0-rc3 seems to be working great. Thank you so much for your excellent support! You made my day :)

[2022-04-26 11:07] austinried commented on #1490
Sure, I've just found those methods in that ExoPlayer thread so far but I can give them a shot and see if I can get one working.

[2022-04-26 11:12] jspizziri commented on #1490
@austinried ![superman](https://i.giphy.com/pqFbHWj0vRqmY.gif)

[2022-04-26 11:27] stijnvanderlaan commented on #1276
Sorry, yes this seems to be fixed.

[2022-04-26 12:51] okevino47 commented on #1484
Thank you for you quick answer 🙂
i tried with the version 2.2.0-rc3 and yeah that work.

Hope it will be release soon, good luck for your job 🙂

[2022-04-26 15:59] Strate opened #1511 "Lockscreen controls shows artwork of previous track, if current track has empty artwork"
**Describe the Bug**
If current track has no artwork, and previous track contained any artwork - lockscreen controls shows artwork of previous track

**Steps To Reproduce**
Add two track in queue, first with artwork, second without artwork

**Environment Info:**
[code]
_Paste the exact `react-native-track-player` version you are using:_ 2.1.3
_Real device? Or simulator?_ Both of them
_What OS are

[2022-04-26 16:10] Strate commented on #1507
@jspizziri could you paste guide somewhere else pls? I can't access that content for unknown reason :(

[2022-04-26 16:31] jspizziri commented on #1507
@Strate perhaps there's some confusion. This is just an issue representing the task of creating a guide. There is no guide at this point, but you can join Discord and see the conversation we had about it (see the link in the description).

[2022-04-26 16:33] Strate commented on #1507
@jspizziri could you please post an invite link?

[2022-04-26 16:34] jspizziri commented on #1507
https://discordapp.com/invite/ya2XDCR

[2022-04-26 20:20] jspizziri opened #1513 "Playback pauses when track added to Queue"
**Describe the Bug**

If you're actively playing a track and you add another item to the queue playback is paused (Android only).

**Steps To Reproduce**

1. Add tracks to the queue.
2. Begin playing a track.
3. Add another track to the queue.
4. Observe that playback has paused.

**Environment Info:**
Building `main`

[2022-04-26 20:21] jspizziri commented on #1513
@dcvz this is the issue I chatted you about.

[2022-04-26 22:21] iboxgithub opened #1514 "An error occurred while playing the current track"
**Describe the Bug**
My code used to work until yesterda, I could play songs on my iOS simulator without any problem. But since this morning, for whatever reason the warning below keeps on appearing and I can't play music anymore:
[code]

**Steps/code To Reproduce**
this is triggered on the event: `Event.PlaybackError`
the code provoking it is when I add my songs to the TrackPlayer object: `await

[2022-04-27 09:38] iboxgithub commented on #1514
I restarted my MacBook and now it works again...any idea what could have caused this behavior?

[2022-04-27 10:02] MaxJadav commented on #1484
For quick fix with old version 1.2.7

**Step 1.** Inside react-native-track-player -> build.gradle
   Remove-    implementation "androidx.media:media:1.1.0"
   Add+    implementation "androidx.media:media:1.4.1"
**Step 2.** /node_modules/react-native-track-player/android/src/main/java/com/guichaguri/trackplayer/service/metadata/MetadataManager.java

**Update**
_builder.setContentIntent(PendingInte

[2022-04-27 10:17] josemiguel-alvarez opened #1515 "TrackPlayer.add return type is incorrect"
**Describe the Bug**
TrackPlayer.add return type is `Promise<void>`.

Link to the TrackPlayer.add function: https://github.com/doublesymmetry/react-native-track-player/blob/3ee71f1d8584a1c33b3fc8a418cb7c1de4423a0e/src/trackPlayer.ts#L82

It should be a number as specified in the documentation.

Link to the documentation: https://react-native-track-player.js.org/docs/api/functions/queue#addtracks-i

[2022-04-27 10:50] jspizziri commented on #1514
Glad it's working again. The short answer is that if you didn't upgrade the package version then the issue has to be with your app code.

[2022-04-27 10:50] #1514 closed

[2022-04-27 11:01] jspizziri commented on #1515
@josemiguel-alvarez would you like to submit an MR for this?

[2022-04-27 11:08] josemiguel-alvarez commented on #1515
Sure! I'll open it today.

[2022-04-27 11:09] jspizziri commented on #1515
Looking at this a little more deeply it looks like the Kotlin service needs to be updated too.

[2022-04-27 11:14] iboxgithub commented on #1514
Hi @jspizziri , I didn't update my code though, so there is something odd here imo

[2022-04-27 11:36] jspizziri commented on #1514
It sounds like a classic case of a corrupted memory state to me. Unless it's happening with a high frequency this is something that comes with the territory of using a computer and much more so with heavy usage (like building apps and running simulators etc).

[2022-04-27 12:48] jspizziri commented on #1515
@josemiguel-alvarez

This will need to be updated in the [`MusicModule.kt`](https://github.com/doublesymmetry/react-native-track-player/blob/main/android/src/main/java/com/doublesymmetry/trackplayer/module/MusicModule.kt#L287) on lines `287` & `293`. Please [reference how iOS is behaving](https://github.com/doublesymmetry/react-native-track-player/blob/main/ios/RNTrackPlayer/RNTrackPlayer.swift#L3

[2022-04-27 12:52] jspizziri commented on #1425
@dcvz is this something we should be concerned about with the Kotlin rewrite?

[2022-04-27 12:55] jspizziri commented on #1444
It sounds like this issue is the result of not [using expo bare](https://github.com/doublesymmetry/react-native-track-player/issues/1444#issuecomment-1107841793). If someone is specifically using expo bare _and_ having this issue let me know and I'll reopen.

[2022-04-27 12:55] jspizziri commented on #1502
https://discord.com/channels/567636850513018880/600714011318681610/968551787936243774

[2022-04-27 18:12] praisedavid787 opened #1521 "useProgress HLS bug on IOS"
**Describe the Bug**
A clear and concise description of what the bug is.
Duration returned from useProgress while playing HLS live stream is not correct. All is well on android as I have observed.

**Steps To Reproduce**
How can someone else reproduce this bug?
* Add an HLS track to Trackplayer and play.
* Monitor the useProgress output via console.

**Code To Reproduce**
Please provide a simple c

[2022-04-27 21:45] fierysolid commented on #1513
Does someone have this or should I take a look?

[2022-04-27 22:10] jspizziri commented on #1513
@fierysolid , I don't think anyone is looking at it yet. Be my guest! LMK if you need any help/guidance.

[2022-04-28 02:03] austinried commented on #1476
@mpivchev looks like no, I just tested the example app in `rc1` and `rc2` and it's the same thing, no `Buffering` state.

[2022-04-28 09:49] jspizziri commented on #1521
Are you able to provide an HLS stream and playlist for us to test with?

[2022-04-28 11:42] SergiOnGit commented on #1356
@jspizziri Yes this issue still exists in v2.2.0-rc3

[2022-04-28 11:56] praisedavid787 commented on #1521
@jspizziri  Thanks for the quick reply, and yes I sure do

[2022-04-28 11:59] jspizziri commented on #1521
@praisedavid787 if its something that we could add to this public repo to test HLS streams that would be super helpful.

[2022-04-28 12:17] jspizziri opened #1522 "Android Promises Resolve Before Completion"
The [`MusicService.kt` is currently wrapping calls to the `player` in `scope.launch`](https://github.com/doublesymmetry/react-native-track-player/blob/main/android/src/main/java/com/doublesymmetry/trackplayer/service/MusicService.kt#L213) making them inherently `async`.

This is an issue for any `ReactMethod`s which return a promise assuming the underlying async calls have completed. Take a look a

[2022-04-28 12:30] jspizziri commented on #1515
@josemiguel-alvarez I ended up taking this one on. I noticed [this issue in the process](https://github.com/doublesymmetry/react-native-track-player/issues/1522) which we'll address soon.

[2022-04-28 13:39] josemiguel-alvarez commented on #1515
Thank you Jacob, I haven't had time yet to work on this.

[2022-04-28 14:01] jspizziri commented on #1522
Not sure why the iOS build is failing, but I didn't touch the iOS side.

[2022-04-28 14:33] Taha-khojasteh commented on #1444
@jspizziri Dear as I mentioned before I've had this problem with bare Expo project from clear Canvas, currently I'm working on project and I'm willing to use your library please work on this issue,
Thanks

[2022-04-28 14:59] davoodghaffarilive opened #1524 "[Feature Request] using .onion domains Tor net"
hi
i want load tracks from an .onion domain but its not load tracks from .onion domains
what should i do for this ?
could you please help me ?

[2022-04-28 16:58] jspizziri commented on #1389
@dcvz part of this is fixed by #1501 , but it looks like the getting the last position of the previous track is going to require changes to KotlinAudio. Attempted to sort that out bug got hung up.

[2022-04-28 17:07] praisedavid787 commented on #1521
@jspizziri I sent you an email about the constraints of adding this to the repo. Stream comes up on demand.
https://u-wayserver.herokuapp.com/streams/live/oLJK2eFvDTiOp0_wcfUBGPAa/index.m3u8

[2022-04-28 17:40] praisedavid787 commented on #1521
@jspizziri
https://pl.streamingvideoprovider.com/mp3-playlist/playlist.m3u8

This is one for a VOD stream that I have also tested with and gives desired behavior as it not a live stream.

[2022-04-28 18:10] jspizziri commented on #1478
Before this is completely "Done" a new version of KotlinAudio needs to be released and then this project will need to be updated to use the new version.

[2022-04-28 22:32] jspizziri commented on #1524
@davoodghaffarilive This is certainly an interesting idea, but I'm not sure how practical it is. I think you'd effectively need to embed an onion router in the app itself (not well informed in that area).

My recommendation would be to use a separate package to download the file and then use this package to play the file locally.

I'm going to close this request as I don't realistically see it as

[2022-04-28 22:32] #1524 closed

[2022-04-28 23:47] jspizziri commented on #1511
@Strate thank you for the report! I found that this wasn't an issue on the Android side with the Kotlin refactor (v2.2.0-rc3). I tested your suggested fix on the iOS side and it didn't seem to work. I'll take a deeper look at it tomorrow.

[2022-04-29 13:11] davoodghaffarilive commented on #1524
Thank you for your response
i installed react-native-tor
and its can connect to tor network, but if i want to download files in local and then play it, its take long time im searching for a solution, did you know any socks proxy connector package ?
 Thanks again

[2022-04-29 13:16] jspizziri commented on #1524
@davoodghaffarilive I'm not sure I follow your last question. Is a download slow because the network connection and the onion routing overhead?

If you need a proxy, my suggestion would be to see if the `react-native-tor` package can provide a proxy URL for you.

[2022-04-29 13:27] jspizziri commented on #1445
@JDMathew i'm actually going to close this ticket in favor of https://github.com/doublesymmetry/react-native-track-player/issues/1522 because it addresses the issue on a broader scale.

[2022-04-29 13:27] #1445 closed

[2022-04-29 13:33] dcvz commented on #1478
Will do this soon! There's some other changes we're trying to also get in the next KotlinAudio release

[2022-04-29 13:44] #1489 closed

[2022-04-29 14:04] mixmaker opened #1526 "app crashes Android 12+ : Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable,"
**Describe the Bug**
The app crashes on Android 12+, works fine on older android versions. Here is the log extracted form my physical device: [click here](https://bin.kv2.dev/~6255602a410e7c32e669bc5a)

as per the log above
`stacktrace: java.lang.RuntimeException: Unable to start service com.guichaguri.trackplayer.service.MusicService@1d3f87a with Intent { cmp=com.mixmaker.wavelet/com.guichaguri.t

[2022-04-29 14:09] jspizziri commented on #1524
@davoodghaffarilive I'd recommend opening an issue in that repository to see if they can provide a proxy, as it's more relevant to their project than to ours. Sorry!

[2022-04-29 14:11] #1509 closed, assigned to nobody

[2022-04-29 14:15] jspizziri commented on #1414
This MR was just merged into `main` and will be available with the next RC! 🎊

Please feel free to take it for a spin in the example project.

[2022-04-29 14:15] #1414 closed

[2022-04-29 14:32] aLLUPS commented on #267
If somebody is facing this issue still, the only solution is to downgrade `react-native-video` until it matches the **exoplayer versions** of both `react-native-track-player` and `react-native-video`.
Find a more compressive answer here:  [https://stackoverflow.com/a/72048537/12215054](https://stackoverflow.com/a/72048537/12215054)

[2022-04-29 18:13] jspizziri commented on #1511
@Strate , I've implemented the appropriate fix for this issue. However, it relies on a change to the `SwiftAudioEx` library so we'll need to wait for the corresponding PR I made to be merged and released before we can actually merge the fixes into this repo.

[2022-04-30 09:12] jspizziri commented on #1311
There has been extensive work done on bot the `PlaybackTrackChanged` & `PlaybackQueueEnded` events [in this PR](https://github.com/doublesymmetry/react-native-track-player/pull/1501)

iOS appears to behaving correctly for both events and there are some small bugs currently in progress for Android.

[2022-04-30 09:16] jspizziri commented on #1293
I discussed this issue with @dcvz . We're both of the opinion that any good solution here would require a breaking change to the library.

This is definitely something that needs to be fixed, however it's probably not something that can be fixed until we start iterating on a 3.0 version (which could be shortly after 2.2 lands)

[2022-04-30 09:24] jspizziri commented on #1319
I just tested this against `main` and I'm unable to reproduce this behavior. [It's possible it was fixed by this upgrade](https://github.com/doublesymmetry/react-native-track-player/commit/0dc7f86b8c18910abd72c6cc4d12951ad366d870#diff-1f29eaa9d372d77158ae80a9864525d1601dd12e80463e27264d399c1513a492L21). I did a lot of testing in different scenarios and in all cases I was seeing the behaviour I wou

[2022-04-30 09:24] #1319 closed

[2022-04-30 10:00] jspizziri commented on #1225
@dcvz I can confirm this behavior. Here's a breakdown of the issue:

### iOS (v1.2.7 & current)

1. `TrackPlayer.stop()` calls[`QueuedAudioPlayer.stop()`](https://github.com/doublesymmetry/react-native-track-player/blob/main/ios/RNTrackPlayer/RNTrackPlayer.swift#L522)
2.  `QueuedAudioPlayer.stop()` calls `AudioPlayer.stop()`
3.  `AudioPlayer.stop()` calls `AudioPlayer.reset()`
4. `QueuedAudioPlaye

[2022-04-30 10:13] praisedavid787 commented on #1377
@afkcodes
Thought I was the only one facing this issue. Thanks to every one working hard here to bring fixes to these bugs. Love you guys.
@mpivchev
@dcvz
@jspizziri
Long live RNTP!!!

[2022-04-30 10:15] jspizziri commented on #1225
@AdamSheaHewett FYI

1. A solution is in progress.
2. In the meantime, just call `pause` instead of `reset`. Based on my investigation they are functionally identical (see comment above).

[2022-04-30 10:23] jspizziri commented on #1332
@nikesh8 , I'm closing this issue for the following reasons:

1. It's not actually clear to me what your issue is.
2. The example app seems to be working as I'd expect. [Please take a look at that progress bar for inspiration.](https://github.com/doublesymmetry/react-native-track-player/blob/main/example/src/components/Progress.tsx)
3. I don't see any issues with the most recent version it's curre

[2022-04-30 10:23] #1332 closed

[2022-04-30 10:30] jspizziri opened #1530 "Document undocumented iOS enums"
- IOSCategory
- IOSCategoryMode
- IOSCategoryOptions

[2022-04-30 10:33] jspizziri commented on #1281
@dimadeveatii

I just tested this against `main` and I was unable to reproduce based on your instructions. I'm wondering if it already got fixed by [the work here](https://github.com/doublesymmetry/react-native-track-player/commit/0dc7f86b8c18910abd72c6cc4d12951ad366d870) and the underlying upgrade to `SwiftAudioEx`. I'm going to close this issue for now, but if you find a way to reproduce it in `

[2022-04-30 10:33] #1281 closed

[2022-04-30 11:12] jspizziri commented on #1443
@JDMathew because this only concerns a specific dev setup I'm going to reclassify it as an enhancement.

I'd encourage you to dive into the native side and see if you can solve it. Happy to provide guidance along the way!

[2022-04-30 13:35] AdamSheaHewett commented on #1225
Fantastic news. Please let us know when the solution is released.

[2022-05-01 01:35] jspizziri commented on #1530
A guide on appropriate usage and prose would be good here as well if it doesn't exist

[2022-05-03 03:39] testfilee15 commented on #1526
When can we have a stable version of the V2.2.0-rc?

[2022-05-03 03:50] testfilee15 commented on #1193
I've tried building version v2.2.0-rc3 for android but it crashes immediately without any runtime errors. I'm not sure if I'm the only one encountering this?

[2022-05-03 05:10] jspizziri commented on #1193
@testfilee15  I've not seen that. Take a look at the example project. That builds and runs just fine and it's using main

[2022-05-03 15:34] jenshandersson commented on #524
This is still occurring in the latest 2.2.0-rc

`RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{392d34e u0 com.uptime/com.doublesymmetry.trackplayer.service.MusicService}`

[2022-05-03 18:27] cristiankmb commented on #1485
@Krish143git Did you manage to run your app or are you still getting the duplicate libraries error or the shutdown error when setting `TrackPlayer.setupPlayer();` ? I have 2 days trying to setup react-native-track-player in my project again but i couldn't.

[code]
Version that i tried:

[code]

Sorry for re-open

[2022-05-03 18:47] jspizziri commented on #1485
The kotlin plug-in issue was fixed in rc3 (as you're seeing). The duplicate package issue is a known issue with exoplayer that hasn't been fixed yet.

[2022-05-03 21:28] jspizziri commented on #1521
@praisedavid787 Thanks for sending these. I'm currently taking some time but will try to look once back!

[2022-05-04 00:55] testfilee15 commented on #1193
It looks like it was a version issue, I upgraded to the v2.2.0-rc3 and now it's all good. Thanks!

[2022-05-04 16:49] DennisdeWitNL commented on #1408
This problem has been solved by Apple on iOS 15.5 beta 4.

[2022-05-04 16:49] #1408 closed

[2022-05-04 17:54] davoodghaffarilive opened #1531 "Build Faild"
**Describe the Bug**
hi
 i want to build my project but i get error after jcenter is not reachable.

[code]

[2022-05-05 06:42] Krish143git commented on #1485
@cristiankmb  Hi, I am using react-native-video with react-native-track-player my issue is with exo player.Bro If you are not using react-native-video please try to use 1.2.7 version of track player it is working for me .I tried later versions also still i did not got any solution.Bro if 1.2.7 is not worked then from 2.1.3 try every version by downgrading may be this will help you. please refer  #

[2022-05-05 08:30] araujobarret commented on #1114
Changing the Manifest file worked for my case, was stuck with the same issue.

Should we update the official docs to add this extra Android step?

[2022-05-05 21:23] praisedavid787 commented on #1521
@jspizziri Anytime man, thank for all the help. Hoping things look up soon. Huge blocker for me this one. It's fine at the start but once I ```seekTo()```, boom! Messed up.

[2022-05-05 22:20] edgargrs commented on #963
Make sure you have the right format settings for m4a files
<img width="647" alt="Screen Shot 2021-09-28 at 12 40 00" src="https://user-images.githubusercontent.com/16730291/167034643-2f227c90-126e-4e0a-9686-96288a9b5d74.png">

[2022-05-05 22:58] praisedavid787 commented on #1521
Trying to be a hero but not familiar though. Something looks fishy when comparing the last ```else if``` statement in ```var duration``` with ```var bufferedPosition```'s return.  **AvPlayerWrapper.swift in SwiftAudioEx**

[code]

[2022-05-05 23:14] jspizziri commented on #1521
@praisedavid787 Thanks for taking the initiative! You can try putting in some print statements or breakpoints and you should be able to debug the lib via Xcode. I can provide pointers there if you like.

@dcvz  any pointers or insight off of the top of your head?

[2022-05-05 23:31] cristiankmb commented on #1485
@Krish143git  Thanks bro, that's why I ask you, Right now I can't make react-native-track-player work in my project 😩. I'm using the same libraries, react-native-video react-native-track-player. I'm using these libraries since V1.0.2, even i have another project with react-native minor version and react-native-track-player@2.1.3.  But I updated my project to most lasted react-native version and no

[2022-05-05 23:33] jspizziri commented on #1531
Please upgrade to the latest RCs

[2022-05-05 23:33] #1531 closed

[2022-05-06 04:06] tyhour opened #1532 "Unable to start service com.guichaguri.trackplayer.service.MusicService@4185a5"
**Describe the Bug**
App force close after use ` await TrackPlayer.setupPlayer();` I think it want problem with TargetSDKVersion 31.

Because it show like:
`Caused by: java.lang.IllegalArgumentException: com.we_read_app: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
    Strongly consider using FLAG_IMMUTABLE, onl

[2022-05-06 09:00] ninacoder-info commented on #1460
Oh sorry, I'm on the latest version of track-player and also react-native, but I have been using track-player for couple years and that problem was there all the time.

Maybe its because my HLS was encrypted, may that cause freeze trouble?

Here is the HLS link if you guy like to test it our, just play it on iOS you will see (android work perfectly)

HLS LINK: https://musicengine.top/stream/hls/49

[2022-05-06 09:36] praisedavid787 commented on #1521
@jspizziri Wow great, I wanna debug. Pls do provide pointers.

[2022-05-06 09:38] praisedavid787 commented on #1521
@jspizziri Wow great, I wanna debug. Pls do provide pointers.

[2022-05-06 10:50] jspizziri commented on #1521
@praisedavid787 another thing I'm wondering is if this is an issue with your HLS playlist metadata (I'm not an expert on HLS). But I did find that you can add the playlist length as a metadata field.

https://stackoverflow.com/questions/38216051/hls-fragment-length-and-playlist-length-with-nginx-rtmp-module

[2022-05-06 10:58] jspizziri commented on #1532
Please search old issues before filing a new bug (this is one that's been reported multiple times).

The short version is that android 12 & SDK 31 are supported in  2.2.0-rc3 and we will not be backporting a fix to lower versions (anything at or before 2.1).

https://github.com/doublesymmetry/react-native-track-player/issues/1193

[2022-05-06 10:58] #1532 closed

[2022-05-06 11:09] jspizziri commented on #1532
You'll either need to wait for [this issue](https://github.com/doublesymmetry/react-native-track-player/issues/1418) to be resolved or contribute the fix.

[2022-05-06 11:11] tyhour commented on #1532
Ok thanks.

[2022-05-06 18:43] puckey commented on #1281
@jspizziri While I was also experiencing muted sound when providing iosCategoryOptions in `2.2.0-rc3`, using the current main branch fixed things.. time for a new rc?

[2022-05-06 19:05] jspizziri commented on #1281
@puckey I'm not sure what the ETA on the next RC is. I'm guessing the goal is that it would contain the big android fix. I'll let @dcvz weigh in on the timeline if he's able.

[2022-05-06 21:03] lostchopstik opened #1533 "[Feature Request] Android Auto"
**What is the need and use case of this feature?**
In order to support the proper media architecture and ultimately support Android Auto, the music service would have to implement MusicBrowserServiceCompat.

**Describe the ideal solution**
The `MusicService.kt` extends MusicBrowserServiceCompat

**Describe alternatives you've considered**
Not sure of any alternative.

**Additional context**
I saw

[2022-05-06 22:54] jspizziri commented on #1533
@lostchopstik

I think android auto support would be excellent. With that said I don't think the approach you suggest will work. The [HeadlessJSTaskService](https://reactnative.dev/docs/headless-js-android) is necessary perform JS executions while an app is in the background. Removing it would interrupt headless events.

I'm not sure what the correct approach is but if you're willing to do some le

[2022-05-06 23:50] praisedavid787 commented on #1521
@jspizziri Eureka!!! After much research, implementation and testing, I have found what works:
[code]

[2022-05-07 00:49] jspizziri commented on #1521
@praisedavid787 Nice work! The next step would be to open up a PR against the swiftaudioex repo with your changes. Then we'll get the feedback from the team there.

Kudos to you. For taking the initiative on looking into this!

[2022-05-07 01:03] praisedavid787 commented on #1521
@jspizziri Thanks for all the help, much appreciated.
For the PR, I'll have to fork the repo, is it?

[2022-05-07 01:10] jspizziri commented on #1521
Correct, you fork the main repo crest a branch off of main implement your change there, then push it up to your fork. Then you creat a PR from your repo to the main repo. Probably some better walkthroughs than that on the internet too haha

[2022-05-07 01:18] praisedavid787 commented on #1521
Makes a whole lot of sense man, thanks. See you at SwiftAudioEx!

[2022-05-07 01:29] jspizziri commented on #1521
@praisedavid787 Let's leave this issue open, as if it gets merged and released in swiftaudio we'll need to inevitably update this project too by upgrading the dependency version.

[2022-05-07 01:39] praisedavid787 commented on #1521
Ok sir, you're the boss man. Pull request up https://github.com/doublesymmetry/SwiftAudioEx/pull/18.

[2022-05-07 07:00] dcvz commented on #1521
Great work tracking this down @praisedavid787! and for the help @jspizziri :)

The PR has been merged and I'll make a SwiftAudioEx release later today!

[2022-05-07 07:16] dcvz commented on #1533
@lostchopstik as @jspizziri mentioned, we need the headless task service for RN functionality to work and we can't implement both.

We haven't given auto support a lot of thought and it's not in our immediate roadmap, but if it's something you're willing to work on we can get @mpivchev to brainstorm with us on ideas for implementation possibilities.

[2022-05-07 10:37] jspizziri commented on #1521
@praisedavid787

![nice work](https://i.giphy.com/SWzVtsCPEPggXQsGoT.gif)

[2022-05-07 10:42] jspizziri commented on #1521
@praisedavid787 warch for the version release on swiftaudioex. Once it's been made you'll need to submit another PR to this repository updating the version number here

https://github.com/doublesymmetry/react-native-track-player/blob/main/react-native-track-player.podspec

[2022-05-07 14:42] praisedavid787 commented on #1521
Thank you @dcvz and @jspizziri for making things easy! Cheers to more collaboration for a better RNTP!

[2022-05-07 16:08] araujobarret commented on #1080
I can confirm the same using the latest version, I checked/asked all Android permissions all look fine, works in the emulator but not in real devices, in real devices I get the same error from above.

This issue should be open ✅

[2022-05-07 19:52] jspizziri commented on #1521
@praisedavid787 Here's the PR that solves the issue for this repo now that a new version is release for swiftaudioex.

https://github.com/doublesymmetry/react-native-track-player/pull/1534

[2022-05-07 20:16] praisedavid787 commented on #1521
@jspizziri Ok great! Anything you'll have me do?

[2022-05-07 20:18] jspizziri commented on #1521
No you're good. Just an fyi

[2022-05-07 23:42] lostchopstik commented on #1533
@dcvz I can certainly work on it, and I've got a good amount of bandwidth to do so right now. I would definitely need the brainstorming to figure out what direction to go.

[2022-05-08 09:33] kolking opened #1535 "State enum does not contain a value for "buffering" state"
**Describe the Bug**
The `State` enum does not contain a corresponding value for the `buffering` state which returned by `usePlaybackState()` hook. There are `State.Buffering` which value is `"loading"` and `State.Connecting` which value is `undefined`.

**Steps To Reproduce**
Compare `State` enum value with the values returned by `usePlaybackState()` hook.

**Environment Info:**
[code]
I'm using

[2022-05-08 10:10] jspizziri commented on #1521
The fix has been merged and will be released in the next RC

[2022-05-08 10:10] #1521 closed

[2022-05-08 10:11] jspizziri commented on #1511
Fix has been merged and will be available in the next RC

[2022-05-08 10:11] #1511 closed

[2022-05-08 10:16] jspizziri commented on #1535
Please take another look. Both of these states are in the enum

https://react-native-track-player.js.org/docs/api/constants/state

[2022-05-08 10:16] #1535 closed

[2022-05-08 10:24] kolking commented on #1535
@jspizziri Yes, the states are present on the RN side, but are not correct in the `RNTrackPlayer.swift`. Also, please note I'm talking about the 2.1.3 stable version: https://github.com/doublesymmetry/react-native-track-player/blob/v2.1.3/ios/RNTrackPlayer/RNTrackPlayer.swift#L46-L51

The fix that works for me:
[code]

[2022-05-08 10:53] jspizziri commented on #1535
@kolking I checked and this has already been addressed in the most recent RC. It will not be backported to 2.1. Please upgrade to 2.2.0-rc3

[2022-05-08 14:09] ninacoder-info commented on #1460
Hi, I'm using "react-native-track-player": "^2.1.3",

[2022-05-08 17:37] jspizziri commented on #1460
@ninacoder-info that doesn't seem to be a valid HLS stream from what I can tell. I simply tried playing it with [HLSPlayer.org](https://www.hlsplayer.org/) with no success. I expected a `.m3u8` extension so I tried a few variants of the URL you provided:

- https://musicengine.top/stream/hls/49/hd
- https://musicengine.top/stream/hls/49/hd.m3u8
- https://musicengine.top/stream/hls/49/hd/index.m3u8

[2022-05-08 21:40] gavrichards commented on #1484
This issue means we can't update our app to React Native 0.68. Is there likely to be a release soon?

[2022-05-08 21:42] jspizziri commented on #1484
@gavrichards Please see my comment

https://github.com/doublesymmetry/react-native-track-player/issues/1484#issuecomment-1105508767

[2022-05-08 21:44] gavrichards commented on #1484
Thanks @jspizziri I've seen all the relevant comments, I just wondered if there's any news of when the next release is likely to be? Thanks

[2022-05-08 21:58] jspizziri commented on #1484
@gavrichards The next RC? Or a final version of  2.2

[2022-05-08 22:00] gavrichards commented on #1484
@jspizziri a release that contains a fix for this issue, whatever that happens to be :)

[2022-05-08 22:16] jspizziri commented on #1484
@gavrichards As I mentioned please install v2.2.0-rc3

[2022-05-09 07:01] gavrichards commented on #1484
@jspizziri ok I was concerned about using that in production in case it wasn't ready.

[2022-05-09 09:43] jspizziri commented on #1484
@gavrichards , there are known issues so I don't consider it production ready. Several fixes in the way. It's it's a minor version release meaning there should not be any BC breaks. If there are they would be considered bugs that would be fixed.

[2022-05-09 20:47] justinhandley commented on #122
I know that this is in progress, but I wanted to chime in with my own request.  I've been playing with the audio player trying to get a seamless loop - i.e. no space between audio file 1 and audio file 2 (or, in my case, trying to reset and play audio file 1 in a seamless loop). Does anyone know if this is possible?  No matter how I configure end of queue actions and loading on a next track I alwa

[2022-05-10 09:33] WAQAZ0178 commented on #1235
this one help me thank u buddy

[2022-05-11 10:08] fukemy commented on #1063
it's really big problem, any solution?

[2022-05-12 18:55] jspizziri commented on #1502
@dcvz Would you be OK with me deleting all the GitHub releases to avoid confusion? From my perspective, that's the quickest short-term fix for this.

[2022-05-12 19:04] dcvz commented on #1502
I think that would be fine @jspizziri ! I guess we'd lose some release notes but it'd be for versions no longe supported.

[2022-05-12 19:07] jspizziri commented on #1502
@dcvz awesome. I'll go ahead and do that. I'll download a copy of all the release notes from the past for historical purposes. I think there are GH API's for that.

[2022-05-12 19:14] jspizziri commented on #1502
Here's a zip file of a JSON dump of all the releases:

[releases.json.zip](https://github.com/doublesymmetry/react-native-track-player/files/8681940/releases.json.zip)

[2022-05-12 22:05] andrewdang17 commented on #1139
Same here on 2.1.3. Lock screen controls don't work for me so basically any `remote-` event

[2022-05-13 02:17] #1401 closed

[2022-05-13 05:01] fukemy commented on #97
i got this error when play local file
***/Users/thehe/Library/Developer/CoreSimulator/Devices/04366B0E-21E7-4F70-8F8B-C92B210331B3/data/Containers/Data/Application/4342AF29-F7F6-442F-A812-AB20AB671F13/Documents/audio.wav***

[2022-05-13 05:56] fukemy commented on #1280
u need to add currentDuration to useEffectDependency

[2022-05-13 06:54] fukemy commented on #1280
i have same problem too, it's seem getDUration only work after play audio:
[code]

not working in useEffect
[code]

always return 0, can u help?

[2022-05-13 08:29] fukemy opened #1537 "[Feature Request] manage for many voice"
Hi, first thanks for useful library

I have flatlist that render multi row as voicePlayerView, I want to pause this row and play other row, but i have only 1 useProgress() to display time, it's make all row display same progress, I dont know how to do next.

Can u give me some advices? Thanks in advance

[2022-05-13 10:48] jspizziri opened #1538 "Errored tracks will fire track change but track does not change"
**Describe the Bug**
From https://discord.com/channels/567636850513018880/600714011318681610/974596964912070666

**Steps To Reproduce**

**Code To Reproduce**

**Environment Info:**

[2022-05-13 13:08] KrisLau commented on #1163
Did you ever figure this out?

[2022-05-13 22:06] KrisLau opened #1540 "[Feature Request]"
**What is the need and use case of this feature?**
Is there a way to combine two tracks into one so that they overlap? I'm trying to create an walkout music app for baseball

**Describe the ideal solution**
Maybe a method like `addMultitrack()` which takes in an array of Track objects that also have additional params like `startTiming` which controls at which point the track should start playing,

[2022-05-14 00:58] jspizziri commented on #1540
@KrisLau This seems nearly identical to this other feature request you made:

https://github.com/doublesymmetry/react-native-track-player/issues/1486

Effectively it sounds like you're looking for a cross fade. I'm going to close this one so that everything is tracked in one place.

[2022-05-14 00:58] #1540 closed

[2022-05-14 01:03] jspizziri commented on #1537
@fukemy I'm closing this as:

- This isn't a feature request but a support request. The library supports what is necessary for you to accomplish your goal.
- I answered your question directly on discord: https://discord.com/channels/567636850513018880/600714011318681610/974593627789615134

[2022-05-14 01:03] #1537 closed

[2022-05-14 04:52] Taha-khojasteh commented on #1444
@jspizziri I'm willing to solve this issue, if there is any information, Let me know.

[2022-05-14 10:42] jspizziri commented on #1444
@Taha-khojasteh that would be great! I don't know anything about the issue other that what has been discussed on this issue so far.

[2022-05-14 12:32] onepointconsulting commented on #1154
Funny enough I am experiencing this too. using "react-native": "0.67.0". You can start playing tracks with around 60 minutes on iOS, but after 2 - 3 minutes the track restarts abruptly. On Android the tracks are played perfectly. This does not happen for tracks with less than 10 minutes.

[2022-05-15 03:03] ninacoder-info commented on #1460
Hi, even if is my HLS link problem, the app should not be freeze right, it's just a stream link, it should return error or something if not able to play. But the stream link play well, just freeze the whole app for few seconds.

[2022-05-15 04:23] kengjungwa commented on #391
Hi there,

Same issue too. Some of the devices and versions that have this issue on May 2022.
Android 12:
 - Galaxy Z Flip3 5G

Android 11:
 - Redmi Note 8 Pro
 - vivo 1920
 - Galaxy Note10 Lite
 - Mi 10T Pro
 - RMX3231
 - Galaxy A50

Android 10:
 - realme 5i

Android 8:
 - HUAWEI nova 2 lite

 Thanks a lot for the contributors' help and support.

[2022-05-16 11:50] aliraza96 commented on #775
I have tried all the options above, but I am still not able to control play/pause from Lock Screen/Notification Bar etc. I am using

"react-native-track-player": "^2.1.3",

[2022-05-16 13:16] KrisLau commented on #1540
Would that be similar? I was thinking this one would be more like a audio merge/combine with some way to control the trim of the audio

[2022-05-16 13:35] #1486 closed

[2022-05-16 13:37] KrisLau commented on #1540
@jspizziri It's because the users would be uploading the audio so I wouldn't necessarily know what segments to trim. I might try and do it with ffmpeg though, thanks!

[2022-05-16 15:46] KrisLau commented on #1540
@jspizziri Ahhh ok that might work, thanks!

[2022-05-16 15:54] jspizziri commented on #1460
Actually update, I just successfully played the URL you sent in the example app. I did have to hit the play button twice however, not sure why that happened.

[2022-05-16 20:41] KrisLau commented on #1540
Just realized it probably work since i need two audio clips to play possibly at the same time. Just posting it here for future refence in case anyone is looking for the same thing. I'll probably just give ffmpeg a shot, thanks again for all the help!

[2022-05-16 21:12] jspizziri commented on #1540
@KrisLau to my knowledge iOS/Android don't have the ability to play multiple tracks simultaneously, so you're going to have to do some fancy audio file editing on the fly.

IMHO, you might consider doing this by creating a live HLS stream serverside with ffmpeg that adjusts itself based on the parameters that are being configured in the app. Effectively, I just recommend pushing the complexity of

[2022-05-16 21:36] KrisLau commented on #1540
@jspizziri I have no idea what a HLS stream is but I'll look into it and see if I'm able to implement it! I'll comment on here again once I figure it out if anyone needs to do something similar

[2022-05-17 04:07] ninacoder-info commented on #1460
Hi, I will record a short email to prove it. But it's only happened on iOS, not android

Thank you

[2022-05-17 09:50] jspizziri commented on #1460
It was working for me on iOS in the example project. Please try it there

[2022-05-17 18:48] jspizziri commented on #1538
@AshrafulAfruz I tested this against [the work that's been done on this PR](https://github.com/doublesymmetry/react-native-track-player/pull/1501) (which addresses a bunch of track changed issues), and I wasn't able to reproduce it. For that reason, I'm going to consider this effectively a "duplicate" issue of the issues that were identified there and close it.

If you can, please pull down my bra

[2022-05-17 20:54] KrisLau commented on #172
@AdamGerthel nope https://github.com/doublesymmetry/react-native-track-player/issues/1540#issuecomment-1128141634

[2022-05-18 01:14] doughsay commented on #1305
Sorry, not at the moment as I'm busy with other things, but I still hold out for maybe trying in the future.

[2022-05-19 02:14] JDMathew commented on #473
I'm running the latest beta and have experienced this crash on a number of users devices. Not sure if it is fixed.

[2022-05-19 11:32] sjorsroelofs opened #1544 "Android media player shows 'Unknown' for title and artist on lock screen, but not when"
**Describe the Bug**
When I add a track to the TrackPlayer and play it, the information provided for the track is shown correctly by the Android media controls. However, when I lock the device, the media controls show 'Unknown' for the title and artist. Is this a known bug or am I missing something?

**Code To Reproduce**
[code]

[2022-05-19 14:21] jspizziri commented on #1544
What version are you using?

[2022-05-19 14:25] jspizziri commented on #1544
@austinried is this a related to the issue that you fixed?

[2022-05-19 17:47] mattleff opened #1545 "[Feature Request] Android: Option to pause playback on audio becoming noisy"
**What is the need and use case of this feature?**
In Android pausing audio when a headset or bluetooth disconnects is a standard playback behavior. This is accomplished by listening to the [`ACTION_AUDIO_BECOMING_NOISY`](https://developer.android.com/guide/topics/media-apps/volume-and-earphones#becoming-noisy) intent and pausing audio.

**Describe the ideal solution**
It would be great if there w

[2022-05-20 11:34] jspizziri commented on #1545
@mattleff this seems like something that we'd want to support. My question would be if this should be standard behavior or if it should be configurable. We'd also want feature parity on iOS, have you looked into that side at all?

@dcvz thoughts? Basically auto pause when disconnecting an audio device like headphones.

[2022-05-20 14:23] mattleff commented on #1545
@jspizziri Good point about iOS. It appears that currently iOS pauses playback automatically whenever an output channel is disconnected. So that would be an argument to have it be standard for Android too.

[2022-05-20 14:51] jspizziri commented on #1545
@mattleff do you need any direction before opening a PR? Probably just for the unconfigurable option.

[2022-05-20 19:20] mattleff commented on #1545
@jspizziri I've opened a simple PR for this: https://github.com/doublesymmetry/KotlinAudio/pull/26 I'm not sure to how to test it, so any guidance there would be appreciated.

[2022-05-20 19:47] jspizziri commented on #1545
Nice, at this point we'll need to wait for feedback from the DoubleSymmetry team. TBH, testing updates to KotlinAudio within the context of this project is something I've not figured out yet. However, I've requested some documentation from those in the know which, once I have, will be added to this repository.

I'm quite the n00b when it comes to Gradle, but at a high level what I've been told is

[2022-05-21 16:17] titarenko-alexander commented on #67
Is this was implemented or not?

[2022-05-21 16:34] jspizziri commented on #67
@titarenko-alexander I'm not sure as this was before my tone and I've never used it. The docs make me think it works though.

[2022-05-21 16:48] titarenko-alexander commented on #67
Ok, thanks for reply.
This seems doesn't work
`Capability.SetRating`
And
`ratingType: RatingType.Heart`
And nothing appears on notification bar
https://github.com/doublesymmetry/react-native-track-player/issues/67#issuecomment-340134450

[2022-05-21 16:55] jspizziri commented on #67
@titarenko-alexander What version are you on?

[2022-05-21 16:57] titarenko-alexander commented on #67
Version: 2.1.3

Code:
`await TrackPlayer.add(track);
 await TrackPlayer.updateOptions({ capabilities: [Capability.Play, Capability.Pause, Capability.SetRating, Capability.SeekTo, Capability.SkipToNext, Capability.SkipToPrevious], stopWithApp: true, ratingType: RatingType.Heart });`

[2022-05-21 17:02] jspizziri commented on #67
@titarenko-alexander Please try it in 2.2.0-rc3. If it doesn't work there as documented then please create an issue documenting your findings. Thanks!

[2022-05-21 18:22] titarenko-alexander opened #1547 "Heart/Favorite/Rating in android notification bar is not implemented"
**Describe the Bug**
Cannot set rating/add to favorite track from notification bar. Not much information in documentation.

**Code To Reproduce**
`await TrackPlayer.updateOptions({ capabilities: [Capability.Pause, Capability.Skip, Capability.SkipToNext, Capability.SkipToPrevious, Capability.PlayFromId, Capability.Stop, Capability.JumpForward], stopWithApp: true, ratingType: RatingType.Heart });`
R

[2022-05-21 18:38] titarenko-alexander commented on #1547
This is what I expect
![image](https://user-images.githubusercontent.com/75521417/169664983-a694fed8-b157-4445-adef-f47c1ba2edf9.png)

[2022-05-21 20:59] davoodghaffarilive opened #1548 "Event.RemoteSeek not work on android"
**Describe the Bug**
hi
i create a service for Track player listeners

[code]

and its my Capabilitys :

[code]

**Environment Info:**
System:
    OS: macOS 12.3.1
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 1.45 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 18.0.0 - /usr/local/bin/node
    Yarn: Not Found
    npm: 8.9.0 - /usr/local/bin/npm
    Watch

[2022-05-22 10:27] jspizziri commented on #1548
What version are you on?

[2022-05-22 17:39] jspizziri commented on #1548
@davoodghaffarilive I've confirmed this behavior in `main`. Question for you: when I tested it I wasn't seeing the `RemoteSeek` event being fired, however I _WAS_ seeing the player successfully scrub to that location. Can you confirm?

[2022-05-22 21:06] haidernayyar opened #1549 "App freezes for sometime when reopen from background to foreground"
**Describe the Bug**
When music is playing in the background and reopens the app from background to foreground, the app freezes for some time. All the touchables are unresponsive. Then after sometimes all the pending action work one after another like play, pause.

**Steps To Reproduce**
- Open the app, play any music.
- Send app to the background
- Reopen app after some time

**Environment Info:*

[2022-05-22 21:20] jspizziri commented on #1549
What does "some time" mean? Can you give a range? I've never seen this before

[2022-05-23 07:25] sjorsroelofs commented on #1544
@jspizziri okay, that seems like the same problem. Any clue on when this will be fixed? :)

[2022-05-23 09:14] jspizziri commented on #1544
The core issue has been fixed it just needs to be released, I'm not sure when that will happen but hopefully soon,

[2022-05-23 09:14] #1544 closed

[2022-05-23 22:45] ProtoJoe commented on #1484
For anyone who is not in a position to update to 2.x, and needs to stay on 1.2.7 for a while, I've forked the repo at the 1.2.7 tag and made the changes suggested above. This works for me in my project, and I'm going to keep it live in my company's repo.  Repo is here:

https://github.com/world50/react-native-track-player

Update your `package.json` like so:

`"react-native-track-player": "^1.2.7"

[2022-05-24 12:19] fatlinesofcode opened #1550 "unable to install main branch via npm"
we're trying to use the latest updates from main

we get this error from **prepareGitDep** when we run
` npm install https://github.com/react-native-kit/react-native-track-player.git#main --save`

[code]

[2022-05-24 14:48] marf opened #1551 "ForegroundServiceStartNotAllowedException on Android 12 when starting ForegroundService"
**Describe the Bug**

Hello, we are seeing several crashes on Android 12 devices of this type:

`Unable to create service com.guichaguri.trackplayer.service.MusicService: android.app.ForegroundServiceStartNotAllowedException: Service.startForeground() not allowed due to mAllowStartForeground false: service com.myapp/com.guichaguri.trackplayer.service.MusicService`

Reading some articles online it

[2022-05-24 14:54] nriccar commented on #721
Solved adding duration on the add method, but Im facing the same thing as @sriteja777, what to do if the content is a network file? the useProgress method updates after the track is added

[2022-05-24 16:35] guiadissy opened #1554 "Build breaking on latest version"
**Describe the Bug**
I'm getting to following error when trying to build my app on circleCi for iOS:
[code]

I was not sure whether to post this here or on `SwiftAudioEx` github. But since I started receiving this error after updating `react-native-track-player` I've decided to post here. If it's not the correct place, pls let me know.

The app builds fine for android.

**Steps To Reproduce**
I'm

[2022-05-24 18:52] jspizziri commented on #1554
@guiadissy this doesn't sound like an issue with this repository, but rather your CI container/environment/workflow. As you say yourself, everything builds fine. I'd love to help, but I'm not experienced with CircleCI and want to prioritize issues with the repository itself.

If you find some concrete evidence that the issue is actually a problem with this project we'll certainly look into it. But

[2022-05-24 18:54] jspizziri commented on #1551
Please search old issues before filing a new bug (this is one that's been reported multiple times).

The short version is that android 12 & SDK 31 are supported in 2.2.0-rc3 and we will not be backporting a fix to lower versions (anything at or before 2.1).

https://github.com/doublesymmetry/react-native-track-player/issues/1193

[2022-05-24 18:54] #1551 closed

[2022-05-24 18:56] jspizziri commented on #1550
So, I know we mention being able to install `#dev` (or `#main`) in the docs but we should probably remove it.

The git repo doesn't contain the built version of the library and that's only shipped to NPM currently. The best you can do for now is install `2.2.0-rc3`. It's behind `main`, but more updated than `2.1.3`.

[2022-05-24 18:56] #1550 closed

[2022-05-24 22:55] fatlinesofcode commented on #1550
@jspizziri are we able to get an rc4 build that a bit more updated published to npm?

[2022-05-24 23:32] jspizziri commented on #1550
@fatlinesofcode I'm working with the DoubleSymmetry team to try and make that happen. Is there something specific you need?

[2022-05-24 23:37] fatlinesofcode commented on #1550
@jspizziri thanks for that, we are seeing a few issues with scrubbing and buffering on android, we're trying to diagnose if its new if a new issue or something that has already been fixed in `main` or if we need to adjust our app.

our qa team used builds from our ci which is why we need an npm source.

[2022-05-24 23:39] jspizziri commented on #1550
@fatlinesofcode Gotcha. You could always try to validate in the example app which installs main. I hope to get a new release out soon.

[2022-05-25 07:22] marf commented on #1551
@jspizziri I have already seen that issue but the crash reported was different from the one I reported here.
If they are related to the same issue I didn't know.

[2022-05-25 08:13] s123121 commented on #1549
I don't think this is an issue of the library. Rather, it is a mechanism of react-native. When the app go to background, all the ui rerender (or javascript execution) is delay and then flushed all at once when the app go back to foreground. I don't know what it called, but you should check if there are any heavy javascript task when your app go to background

[2022-05-25 09:01] haidernayyar commented on #1549
It takes less delay ( few sec ) if I reopen quickly and takes long like 3-4 mins otherwise

[2022-05-25 15:07] jspizziri commented on #1548
@davoodghaffarilive I've implemented the fixes here now we'll need to wait for merge and release of KotlinAudio.

[2022-05-25 16:49] #1547 closed

[2022-05-25 16:51] titarenko-alexander commented on #1547
@jspizziri sorrty, wrong example.
Code:
` await TrackPlayer.updateOptions({ capabilities: [Capability.Pause, Capability.Skip, Capability.SkipToNext, Capability.SkipToPrevious, Capability.SetRating, Capability.Stop], stopWithApp: true, ratingType: RatingType.Heart, icon: require("../../../assets/images/tray.png") });`
Result:
![image](https://user-images.githubusercontent.com/75521417/170318014-06d

[2022-05-25 16:54] titarenko-alexander commented on #1547
If this possibility really working, then can you give example screenshot?

[2022-05-25 16:59] ZiizouChrist commented on #1435
@jspizziri Thank you very much for your help and sorry for the replying delay.
Same issue with v2.2.0-rc3, I can't set a custom elapsedTime.

Maybe is just impossible ? Wanted to manually set the notification progress bar because I use audio live stream.

Thanks again.

[2022-05-25 17:01] jspizziri commented on #1513
I just tested this against [`KotlinAudio#main`](https://github.com/doublesymmetry/KotlinAudio/commit/37671364f67c39e95b95b0c8e9c23f4e38100693) and it's still an issue there.

[2022-05-25 17:29] jspizziri commented on #1435
@ZiizouChrist I looked into the code and it doesn't really look like this was ever working on android. Does it work on iOS the way you'd expect? I've also noticed that there's no formal documentation about it (although it is referenced in code).

[2022-05-25 20:03] jspizziri commented on #1513
I've submitted a PR which addresses this issue: https://github.com/doublesymmetry/KotlinAudio/pull/29

[2022-05-25 20:46] jspizziri commented on #1438
@sarike I've just attempted to reproduce this in the example project against `main` and I'm unable to reproduce it. Steps I took:

1. Added `JumpForward`  & `JumpBackward` capabilities to both `capabilities` & `compactCapabilities`.
2. Called `TrackPlayer.add(...)` of a track.

Result: everything worked as expected. If you're able to provide a more specific repro or ideally create an example based

[2022-05-25 21:23] jspizziri commented on #1476
I've done some investigation here and this is what I've found:

1. The `Buffering` event is in fact being fired in `KotlinAudio` as expected.
2. The issue seems to be a combination of 2 things:
    1. Events being emitted in rapid succession overriding one another.
    2. A potential issue with [how the `PAUSED` event is emitted.](https://github.com/doublesymmetry/KotlinAudio/blob/main/kotlin-audi

[2022-05-26 08:31] AshrafulAfruz commented on #1538
https://user-images.githubusercontent.com/38793029/170449168-cac43c92-3a8e-4ad1-83f3-757bd49c7bc8.mp4

 @jspizziri  I don't know how could I test by your change. What   did was cloning your repository and run example project from there. But I think it's using version 2.2.0-rc3. Here i'm providing a screencast ( on example project showing it's behavior) so that it might help. Please can you check i

[2022-05-26 12:06] jspizziri commented on #1538
@AshrafulAfruz When you cloned my fork did you make sure to checkout my branch?

[2022-05-26 13:49] jspizziri commented on #1547
@titarenko-alexander I'm not sure what you're asking. You said that the player should wasn't showing the "heart" icon. I identified the reason as being a misconfiguration in the app. You just sent me a screenshot of the player displaying the appropriate controls after you fixed your config. What is your current issue?

[2022-05-26 13:59] jspizziri commented on #1547
@titarenko-alexander I don't mean to be short, but my time is limited. If you want good help you need to be more helpful. It seems like you're just dumping an issue in the repo and expecting that all your problems will vanish, which is a bit frustrating for me.

So, let's try it this way:

1. What version of RNTP are you using?
2. What _specific_ actions are you taking, and what is the result?
3.

[2022-05-26 14:10] titarenko-alexander commented on #1547
@jspizziri
I using last version: 2.2.0-rc3
My question is simple, should Capability.SetRating (with ratingType: RatingType.Heart) add a button to notifications to add a track to favorites? Because that's what I expect by specifying this Capability

[2022-05-26 19:45] TrumpHe opened #1557 "hope to add automatic duration retrieval function[Feature Request]"
wish to add a feature that automatically gets the duration through the link.
Just like the audio element of h5 can get the duration after being assigned.thx

[2022-05-27 04:22] s123121 opened #1558 "m3u8 stream can not buffer properly"
**Describe the Bug**
Some `m3u8` playlist can not be buffer while playing. This lead to undesired behavior: player stop playing after a while (because no buffering) -> buffering -> play -> buffering -> paused. OTOH, the "good" `m3u8` playlist buffer while playing so it never stop mid-playing

**Steps To Reproduce**

https://github.com/s123121/react-native-track-player/tree/test/playlist-paused

I

[2022-05-27 06:30] daanvanberkel opened #1559 "Event.PlaybackState state inconsistent between platforms"
**Describe the Bug**
When using the `Event.PlaybackState` event, the state in this event is inconsistent between iOS and Android. On iOS the state contains a string (example: `playing`) on Android the state contains an integer corresponding with the `State` enum.

**Steps To Reproduce**
Attach an event listener to the `Event.PlaybackState` event. And queue/play a track using the track player.

**C

[2022-05-27 12:15] jspizziri commented on #1559
@daanvanberkel This is why you should be using the `State` enum exported by the library when checking things rather than using strings. That enum is mapped to the corresponding native values.

[2022-05-27 12:15] #1559 closed

[2022-05-28 19:01] JavoxirNazarov commented on #1544
same issue. @sjorsroelofs any solutions?

[2022-05-28 19:04] sjorsroelofs commented on #1544
Nope, i’m waiting for the update. Let me know if you find a quick fix in the meantime :)

[2022-05-30 07:24] neoassyrian opened #1560 "RNP with react-native-tvos error"
**Describe the Bug**
Can't install RNTP with react-native-tvos

getting the following error when installing RNTP

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: comqeenathatv@0.0.1
npm ERR! Found: react-native@0.68.2-0
npm ERR! node_modules/react-native
npm ERR!   react-native@"npm:react-native-tvos@0.68.2-0" from the root project
npm

[2022-05-30 08:07] AshrafulAfruz commented on #1538
@jspizziri  I have tested in your branch. The problem still exists. But your new refactored example code bypasses that scenario as it remain in connecting state. If there is errored track it remain in connecting state but invoking trackplayer.play() at that time causes the last correct track to start playing (though playback progress show current track index).

[2022-05-30 09:13] pabloromeu opened #1561 "[Docs] Separate event listeners from components"
**What is the need and use case of this feature?**
In version 2.0 it is recommended to use React Native Hooks which are tied to a UI Component to listen to events -e.g.: `usePlaybackState`, `useTrackPlayerEvents`, `useProgress` -. See docs here: https://react-native-track-player.js.org/docs/v2-migration

This is not ideal, as it forces the event listener code to be tied to a component. This compon

[2022-05-30 11:56] JavoxirNazarov commented on #1478
@austinried how you solved problem? can i make patch or something else

[2022-05-30 11:58] jspizziri commented on #1478
@JavoxirNazarov You need to wait for the upstream patch to be released and then updated here.

[2022-05-30 12:04] JavoxirNazarov commented on #1478
@jspizziri sorry, When will there be a new release?

[2022-05-30 12:06] jspizziri commented on #1478
@JavoxirNazarov I don't know unfortunately.

[2022-05-30 12:14] JavoxirNazarov commented on #1478
got it @jspizziri. but anyway the library is super! thank you guys for all your work!

[2022-05-30 14:26] jspizziri commented on #1538
@AshrafulAfruz Can you share a reproducible example based off of my branch? Please also include steps to reproduce. I can't reproduce it so we must be missing each other on some point.

[2022-05-30 14:39] jspizziri commented on #1561
I haven't looked at the docs in this capacity but I can speak to how thing should be implemented.

Inside any react UI components, hooks should be used. Apart from that the playback service should employ listeners (this is where all headless events and logic should live).

If this doesn't track in the docs I'd happily review a PR rectifying it.

[2022-05-30 14:46] jspizziri commented on #1560
Looks like there's a mutual dependency conflict or something. We don't guarantee compatibility with the tvOS lib so I don't consider this a bug but a feature request.

If there's something we need to change in our lib that would resolve this I'd be happy to review a PR from you once you identify it.

[2022-05-31 06:58] AshrafulAfruz commented on #1538
For reproducing the problem I have made following changes,

In  file example/src/components/PlayPauseButton.tsx  changed

[code]
to
[code]
so that play button can show at state connecting time.

And modified  example/src/assets/data/playlist.json as follow

[code]
Adding invalid track in 3rd and 4th position.

### Reproducible steps:
1) run the app after modifying above 2 files.
2) play first/seco

[2022-05-31 07:48] ZiizouChrist commented on #1435
@jspizziri It doesn't work on iOS and Android. If no solution exists I have to disable this progress bar. Can you tell me how can I disable it on iOS ? On android it works but on iOS the progress bar is weird, the start of progress bar is 0:00 and the end is -0:00.
Thanks.

[2022-05-31 09:56] mustafakameldev opened #1562 "How to use MusicService by android native code , Android Widget"
I'm trying to add android widget for my app, this widget should connect with track player service
to play, pause, skip to next, skip to previous song.

here is the onReceive method of the widget
[code]
please help on this issue or till me if there is any way to use a music player widget with my app

[2022-06-01 14:09] nicopaez commented on #1462
Hi, I am having this issue with Android and beyond the repeat mode.

Actual behavior:
1. I initialize the TrackPlayer (setupPlayer)
2. Then I subscribe to the "playback-track-changed" event
3. I add a track to the Player, then the event is fired twice
4. When the track changes, the event is fired but in some occasions (random) the is fired twice

Expected behavior:
1. When the trackPlayer is creat

[2022-06-01 19:02] afkcodes commented on #1377
@rpadilla6 yes this issue causes a ripple effect to create some other issues in the app that is actually not related to track player, so we can't do anything except to wait for a fix @mpivchev is trying his level best and im sure he will be back with some great fix. the thing is the library was written earlier in that fashion. i have been facing this for last 2 years so i have pulled my app back f

[2022-06-01 19:58] jspizziri commented on #1435
@ZiizouChrist quick question: have you tried the `isLiveStream` property?

[2022-06-01 20:14] jspizziri opened #1563 "A request timeout for a track results in an App crash"
**Describe the Bug**

If an track is unreachable or invalid (ex `http://184.154.202.243:8028/stream`) RNTP will retry until a request timeout happens. At that point, rather than the error being bubbled up through `Event.PlaybackError` an Exception is thrown, crashing the app.

**Steps To Reproduce**

1. add `http://184.154.202.243:8028/stream` to your playlist.
2. attempt to play it and wait for a

[2022-06-01 20:15] jspizziri commented on #1538
@AshrafulAfruz alright. I've followed your steps and I can reproduce your behavior.

In this scenario it is correct that the `track-changed` is fired, as the app has transitioned to the next track, but because it's broken it sits there in a loading state and eventually fails with the following exception:

[code]
The only issues I see here are the following:

1. It is strange that if you hit the "p

[2022-06-01 20:19] newfylox commented on #1480
Having the same issue on Android from commit 9b7d663

Any fix?

[2022-06-01 20:39] jspizziri commented on #1561
@pabloromeu I'm going to close this as it seems that this is more of a misunderstanding. I do think it could be clarified in the docs  a bit and if you want to submit a PR I'll happily review it.

[2022-06-01 20:39] #1561 closed

[2022-06-01 21:34] jspizziri commented on #1305
Given there's no one to champion this at the moment, I'm going to add it to the feature backlog and close the issue. We can revisit it again in the future.

[2022-06-01 21:34] #1305 closed, assigned to nobody

[2022-06-01 21:36] jspizziri commented on #1421
Given there's no one to champion this at the moment, I'm going to add it to the feature backlog and close the issue. We can revisit it again in the future.

[2022-06-01 21:38] jspizziri commented on #1439
@mitchdowney I'm happy to help guide you along the implementation path if you're available. I'm going to add it to the feature backlog and close the issue, but if you're open to doing the work I'll reopen it!

[2022-06-01 21:41] jspizziri commented on #1562
I don't know much about Android, but I do know that the library ships with a standard Android player widget/notification. I'm not sure if that's what you're after. You should take a look at the `2.2.0-rc3` release.

[2022-06-01 21:41] #1562 closed

[2022-06-01 21:44] jspizziri commented on #1315
These are [the algorithms available](https://react-native-track-player.js.org/docs/next/api/constants/pitch-algorithm) and according to the docs you set them via [the `pitchAlgorithm` property on the `Track` object](https://react-native-track-player.js.org/docs/next/api/objects/track).

That is all that's available currently, but if those are not working please submit a reproducible example and we

[2022-06-01 21:44] #1315 closed

[2022-06-01 21:52] jspizziri commented on #1095
Related to this issue https://github.com/doublesymmetry/react-native-track-player/issues/1095

[2022-06-02 10:28] mustafakameldev commented on #1562
Yes, thanks that exactly what i want, but could you please till how to implement this widgets or share any documentation for it

[2022-06-02 10:46] jspizziri commented on #1562
@mustafakameldev This works out of the box without you needing to do anything. All you need to do is implement a playback service as instructed by our docs.

[2022-06-02 10:48] mustafakameldev commented on #1562
Thanks.

[2022-06-03 19:49] kenmingwang commented on #1358
I was facing the simular issue on andriod emulator, tried out  `v2.2.0-rc3` and issue was resolved! Unreconizable latency between by 'play' and 'pause' button now.

[2022-06-05 03:25] vishangj123 opened #1565 "Events from previous page are still running"
What i am trying to do ?
I have setup two track players, in one page I want the duration of audio to be 10 seconds so I wrote this piece of code

when this page loads by default value of stopMusic.current is set to true
const stopMusic = useRef(true)

useEffect(() => {
        if (stopMusic.current == true) {
            progress.duration = 10;
            logOnConsole('dur', progress.duration)

[2022-06-05 05:51] AshrafulAfruz commented on #1538
@jspizziri Running previous track is a problem when programmatically control the playing of track. It limits the functionality. For example, one of my requirements is that when hitting next button, track should start playing irrespective of currently it was playing or not. So what i do is after skipping to the next track manually start the playback. I have another usecase where need to manually st

[2022-06-05 09:30] mustafakameldev commented on #1562
Hi @jspizziri , I reviewed code but nothing about widgets (Home screen widgets) something like that : https://9to5google.com/wp-content/uploads/sites/4/2021/06/Screenshot_20210625-101649.png
I that have any implementation ?

[2022-06-06 14:55] red-made commented on #1403
I have the same problem, happened after upgrading expo to sdk 45, someone know how to solve it?

[2022-06-06 19:18] jspizziri commented on #1565
@vishangj123 this isn't a bug but a question about how to use the library. Please ask the community on Discord.

Thanks!

[2022-06-06 19:18] #1565 closed

[2022-06-07 04:55] MaxJadav commented on #1394
@sina3p2p  Do you have any solution?

[2022-06-07 13:06] piotrekzawada commented on #524
still occurring in 2.1.3

`RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{607e5e9 u0 com.app.name/com.guichaguri.trackplayer.service.MusicService}`

[2022-06-07 13:56] KrisLau opened #1566 "Crashing on iOS"
**Describe the Bug**
When I hit play on iOS, it is crashing with no error in the console or in Sentry after second play button press (code pasted below).

**Steps To Reproduce**
Currently trying to repro in a snack but unsure if I'll be able to. It works perfectly in Android though. Would it be possibly because of conflicts with expo-av?

**Code To Reproduce**
In the `onPress` for a play button:
[

[2022-06-07 14:06] #1515 closed

[2022-06-07 14:29] KrisLau commented on #1566
figured it out, my useEffect is causing it in the else:
[code]

[2022-06-07 14:29] #1566 closed

[2022-06-08 08:17] AshrafulAfruz commented on #1538
@jspizziri I've just found that android also have problem regarding errored tracks. Now in android playback error is not fired and playback state become 0 (State.none) and further operation can not be performed. like changing to a good track then trackplayer.play() does not change the state anymore.

[2022-06-08 14:55] jspizziri opened #1567 "Docs: add a guide for protecting your streams"
There have been a number of requests relating to this topic and DRM more generally. [See an example here](https://discord.com/channels/567636850513018880/600714011318681610/984107755939966996). We should add a guide on what's currently possible/not possible.

[2022-06-08 15:22] brantleyenglish commented on #1193
I was testing `v2.2.0-rc3` on an Android 12 emulator, and it lost the app icon and used the generic Android app icon.
I then switched back to `^2.1.3` and the icon was back to normal. I have no idea how this could be related, but it may be something to look for. The only tracked file changes were package.json, yarn.lock, and Podfile.lock.

[2022-06-09 04:19] MaxJadav commented on #671
@VicoErv  @Guichaguri  @idjitjohn
Do you have any updated solution for this?

[2022-06-09 11:47] dylancom commented on #1511
Having the same problem. Looking forward to a new tag!

[2022-06-10 12:24] gpawlik commented on #883
Hi @bradleyflood , could you please give us some insights on the priority for this feature? Thanks!

[2022-06-12 08:53] 13627491210 commented on #1444
i have the same problem, How to solve this problem?

[2022-06-13 12:30] mschouhan123 commented on #803
Here in The root folder you can add the File called service.js and

and Under Service.js you can write the below code.

"" Start ""
import TrackPlayer from 'react-native-track-player';

module.exports = async function () {

  try {
    TrackPlayer.addEventListener('remote-play', () => {
      TrackPlayer.play()
    })

    TrackPlayer.addEventListener('remote-pause', () => {
      TrackPlayer.paus

[2022-06-13 14:49] vanhungoz commented on #1549
i was facing the same issue.
react-native version: 0.68.2 / 0.69-rc6
react-native-track-player: 2.2.0-rc3

produce the issue:
 - create a queue
 - play track
 - app to background for a while
 - reopen app, all the touchables are unresponsive, can only scroll (track is still play correctly)

[2022-06-13 14:52] vanhungoz commented on #1549
i tested in simulator ios 15.5

[2022-06-13 19:08] mfik opened #1568 "Impossible to Build : NonZero Exit Code"
**Describe the Bug**
Working in a ejected expo project, i'm trying to run the RNTP library. So i tried multiple versions of expo: 43, 44 & 45. I keep getting errors on SwiftAudioEx:

    cd /Users/gebruiker/ReactNativeApps/PROJECT_NAME/ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulat

[2022-06-13 19:14] mfik commented on #1568
Extra info from building trough xcode :
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/8059774/173427627-89039667-6fb0-4be8-8a21-01dc31f542bd.png">

[2022-06-13 20:11] mfik commented on #1568
App.tsx

`import 'react-native-gesture-handler';
import React, {useEffect, useState} from 'react';
import {NavigationContainer} from "@react-navigation/native";
import {Entypo} from "@expo/vector-icons";

import {facebookUrl, instagramUrl, streamUrl} from "./constants/Constants";
import {Audio} from "expo-av";
import AppLoading from 'expo-app-loading';
import {Poppins_100Thin, Poppins_100Thin_Ital

[2022-06-13 20:37] mfik commented on #1568
Fixed with a pod update on SwiftAudioEx (not pod update, i did this constantly, then the error keeps existing), but going to the next error on which i'm stuck too: YGValue, which was the first error i started with

[2022-06-13 20:46] mfik commented on #1568
Sorry, the error didn't resolve, reopening

[2022-06-14 00:38] vanhungoz commented on #1549
@jspizziri  could you reopen it?

[2022-06-14 21:06] jspizziri opened #1570 "Docs: add a guide on tracking progress for multiple tracks"
This is a very common use-case and a question that surfaces a lot on the Discord channel.

See:

- https://discord.com/channels/567636850513018880/600714011318681610/974593627789615134
- https://discord.com/channels/567636850513018880/600714011318681610/986375748183023667

[2022-06-15 12:03] mfik commented on #1568
Got it to build with an adjustment, i think the system volume could have been an case sensitive one in the past. It's  a Yoga issue

rm -rf node_modules ios/Pods
yarn
sed -i -e "s/spec.module_name = 'yoga'/spec.module_name = 'Yoga'/g" node_modules/react-native/ReactCommon/yoga/Yoga.podspec
npx pod-install
expo run:ios

[2022-06-15 12:03] #1568 closed

[2022-06-16 14:01] iboxgithub commented on #1402
Hi @jspizziri ,
as you can see below I still have the issue.
Could I grant you access to my repo (private) for you to try to find the issue?
<img width="889" alt="image" src="https://user-images.githubusercontent.com/5391993/174086997-69d02c9e-915b-44f2-8ebe-100ad86038dd.png">

[2022-06-16 15:04] jspizziri commented on #1402
@iboxgithub , can you please try to reproduce it with the example app?

[2022-06-16 15:25] iboxgithub commented on #1402
unfortunately I can't :(
it must be something related to the OS (MacOS in my case) but can't see what despite looking for it...tbh I saw several people having this issue so there is definitely something to dig in... I know it's annoying without being able to reproduce it on your environment... if you want I am totally down to do a video call with remote access to try to resolve this once and for a

[2022-06-16 15:29] vanhungoz commented on #1549
i tesed in iPhone XS max, ios 15.5 and it also get same error

[2022-06-16 15:32] iboxgithub commented on #1402
@jspizziri I just found a way to make the app work again, the issue is gone (no clue) how: I reinstalled the app on my simulator (so I deleted it then ran expo run:ios again)
so, good for my dev environment but still a bit scary for when I will want to deploy live as app updates over the air won't solve the issue and I would definitely have to ask customers to delete then re-install the app :(
Wit

[2022-06-16 15:55] jspizziri commented on #1402
@iboxgithub I'm open to live debugging it if it happens again (assuming that it happens at a time that I'm available).

[2022-06-16 18:37] haidernayyar commented on #1549
Can you check if you are using setInterval in your code? I fixed my issue by removing the setInterval.

[2022-06-17 03:30] vanhungoz commented on #1549
unfortunately, i don't use setInterval in my code :(

[2022-06-17 09:39] iboxgithub commented on #1402
I don't unfortunately (otherwise I would have posted it here I know it's WAY easier). The only thing I can do now is to use 2 of my commits to reproduce it (I can still give you the instructions on how I reproduce it locally, will have to grant you access to a private repo)

[2022-06-17 20:10] davidsalib commented on #1533
I wonder if there's a way to be able to create a CarPlay app that can trigger play/pause/skip using the SoundPlayerService?

[2022-06-21 14:30] TobiDevloft commented on #1438
Hi @jspizziri, I'm experience the same issue when calling `TackPlayer.add(tracks)` if I have the compactCapability `Capability.SkipToPrevious` added. We are on `v2.2.0-rc3`

Unfortunately I'm not able to get the example app up and running to try it out there (not sure what I'm doing wrong here, followed the Readme but getting a 500 in the metro bundler because it can't resolve react-native-track-p

[2022-06-21 20:33] h110m opened #1572 "Implementation of expo task manager for expo managed projects"
**What is the need and use case of this feature?**
Im always frustrated when my expo project doesn't work with this library 😅

**Describe the ideal solution**
As far as i know you can actually use this package in an expo managed project so you don't need to use a bare one. I successfully installed and build this package into my eas dev app for my expo managed project. It seems like the only thing

[2022-06-21 20:41] h110m opened #1573 "Expo eas build crashes after updating to 2.2.0-rc3"
**Describe the Bug**
Looks like expo or more specifically gradle doesn't like something about the changes.

**Steps To Reproduce**
1. `expo init` - select typescript + expo managed project
2. `yarn add react-native-track-player@2.2.0-rc3`
3. Implement it like in the example
4. Follow the steps on the guid to setup a eas dev app
5. Build the app on the expo server
6. The build will crash at the gra

[2022-06-22 08:46] TobiDevloft commented on #1438
@jspizziri  [Here is a repo containing only the example app](https://github.com/TobiDevloft/react-native-track-player) where the bug is reproducable. The crash happens if both `Capability.Stop` and `Capability.SkipToPrevious` are added to the `compactCapabilities` in `StartupService.ts`. If either of those is removed, the app does not crash.

[2022-06-22 10:25] nateshmbhat opened #1575 "Upgrade exo player to 2.16.1"
we are using react-native-jw-media-player which uses exo player version of 2.16.1 which conflicts with this library's version.
since jw player is closed source, it can't be edited.

[2022-06-22 10:44] nateshmbhat opened #1576 "please upload 2.2.0-rc4 to npm also ?"
npm currently only has 2.2.0-rc3

[2022-06-22 11:35] matetami96 opened #1577 "Remote duck event bug (it is fired only once on a physical device)"
**Describe the Bug**
When playing the contents of a .pls file which is used as a track, the remote-duck event is not fired correctly. Whenever something interrupts the player's music (incoming notification, a call etc.) the event is fired only once with the following values { permanent: true, paused: true }.
I have an older version of the track player package (v1), the firing of the event works co

[2022-06-23 05:07] titarenko-alexander opened #1578 "getRepeatMode causes crash in RC4"
**Steps To Reproduce**
Call await TrackPlayer.getRepeatMode()

Error in this method
[code]
temporary fix:
[code]

[2022-06-23 10:38] meypod opened #1579 "add a way to play an audio in Alarm category , for volume control"
**What is the need and use case of this feature?**
Currently I'm using this library to play my alarms. but It's volume is controlled by system's volume. so I needed to move this into the alarm volume category at least to let user decide the volume of the alarm using system settings.

**Describe the ideal solution**
an option to add some [AudioAttributes](https://developer.android.com/reference/and

[2022-06-23 17:28] jspizziri commented on #1572
@h110m we don't currently have any code contributors that work in expo. It would be great if you wanted to take a crack at identifying some of the underlying expo issues you're seeing. I'm happy to provide as much guidance as I'm able. Take a look at the docs here to see how to get started working on the native side of things:

https://github.com/doublesymmetry/react-native-track-player/tree/main/

[2022-06-23 17:29] jspizziri commented on #1575
closing as a duplicate https://github.com/doublesymmetry/react-native-track-player/issues/1418

[2022-06-23 17:29] #1575 closed

[2022-06-23 17:32] jspizziri commented on #1438
@TobiDevloft sorry, I don't want you to remove anything from the repo. I just want to see the _modifications_ you made to the example app as it exists in the repository in order to reproduce the issue. The way you've done it generates a massive diff which is largely unusable.

The example app can build built and run in place right inside the repository.

[2022-06-23 17:38] jspizziri commented on #1576
@nateshmbhat yes, we're working on this. Please stay tuned.

[2022-06-23 17:38] #1576 closed

[2022-06-23 17:42] jspizziri commented on #1578
@titarenko-alexander what version are you using? It seems like the code you're referencing hasn't been released in a formal version yet. Are you building yourself?

[2022-06-23 17:47] jspizziri commented on #1578
I submitted a PR with the fix.

[2022-06-23 17:49] jspizziri commented on #1579
@meypod thanks for your request. I'm moving it to our feature request backlog. We'll review it and consider it for implementation once we have the bandwidth.

Thanks!

[2022-06-23 17:49] #1579 closed

[2022-06-23 17:53] jspizziri commented on #1577
@matetami96 `v1` is no longer supported. If you have an issue with version 2 please create a new issue including reproduction steps (ideally ones based on the `example` project).

Thanks!

[2022-06-23 17:53] #1577 closed

[2022-06-24 09:21] TobiDevloft commented on #1438
@jspizziri  Sorry, I updated the repository to only contain the changes I made to reproduce the issue.

[2022-06-24 10:18] TobiDevloft opened #1581 "Android launcher icon disappears in 2.2.0-rcX"
**Describe the Bug**

After switching to the 2.2.0-rc3 version we noticed the launcher icon being gone on android when installing the app (both for debug and release builds). With 2.1.3 the icon is there, and the library upgrade is definitely the only difference in the two app installs. This seems to happen with all 2.2.0-rc (tried 1 & 2) versions.

This doesn't make much sense to us, because a li

[2022-06-24 10:43] petkovv commented on #1558
Any solution on this one ?

[2022-06-24 13:54] jspizziri commented on #1581
This is quite strange. @mpivchev is there any basis for an issue like this originating in our lib? I feel like I recall people complaining about it before but I don't feel like it would be on our end.

[2022-06-25 00:29] doughsay opened #1582 "2.2.0-rc.3 and 2.2.0-rc.4 don't receive RemotePause and RemotePlay from connected bluetooth device on Android"
**Describe the Bug**

The background service events `RemotePlay` and `RemotePause` do not trigger on Android when using a connected bluetooth speaker or headphones.

**Steps To Reproduce**

1. Get the example app running on an Android device and have a bluetooth audio device connected.
2. Add `console.log` statements to the `RemotePlay` and `RemotePause` event handlers in the background service.
3

[2022-06-25 07:47] h110m commented on #1572
@jspizziri Thanks a lot i will definetly take a look at it and at least give it a try and btw thanks a lot for making this lib ^-^

[2022-06-25 10:52] jspizziri commented on #1572
@h110m I appreciate the thanks, but I didn't create the lib. I just work on it.

[2022-06-25 12:30] jspizziri commented on #1582
@doughsay thanks for the report. Do you have an interest in taking a shot at this? I can provide guidance! As I've said to many folks I had no experience either but I just dove in and it wasn't that big of a deal. I can give you some suggestions of where to look too. We could effectively pair it with you doing the actual coding. It's a great way to learn and make the lib more stable while doing it

[2022-06-25 13:20] jspizziri commented on #1582
@doughsay I have a theory as to the problem here.

In 2.1 The package overrode a class called `MesiaSessionCompat.Callback` in exoplayer that allows you to hook into core exoplayer events. [From that callback we fired our events](https://github.com/doublesymmetry/react-native-track-player/blob/v2.1/android/src/main/java/com/guichaguri/trackplayer/service/metadata/ButtonEvents.java#L29) .

However

[2022-06-25 17:16] kyimoemin opened #1583 "RepeatMode.Queue doesn't repeat the queue if there is only one track in queue"
**Describe the Bug**
`RepeatMode.Queue` doesn't repeat the queue if there is only one track in the queue and the progress is stopped at the end of the duration and didn't reset to 0.

**Steps To Reproduce**
Play the queue with only one track with the `RepeatMode.Queue`

**Code To Reproduce**
[code]

**Environment Info:**
System:
    OS: macOS 12.4
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @

[2022-06-25 19:44] jspizziri commented on #1583
@kyimoemin Thanks for the report. This is a known and already reported issue which has been worked on in this PR. Please read there for all the details.

https://github.com/doublesymmetry/react-native-track-player/pull/1501

[2022-06-25 19:44] #1583 closed

[2022-06-25 19:45] jspizziri commented on #1583
I'll also add that I closed it as a duplicate of the issues already linked to the ticket.

[2022-06-25 20:52] ZiizouChrist commented on #1435
@jspizziri Yes, I've just tried IsLiveStream. No success

[2022-06-27 08:26] mpivchev commented on #1576
@nateshmbhat rc4 has been published to npm :)

[2022-06-28 03:30] CuongNguyenV commented on #473
I'm facing this issue but in my case, it does not appear on Samsung devices
`"react-native": "0.67.2"`
`"react-native-track-player": "2.1.3"`

![Screen Shot 2022-06-28 at 10 23 28](https://user-images.githubusercontent.com/89368579/176085475-a1340070-613c-4a85-af81-bc7f21531569.png)

[2022-06-29 09:09] red-made opened #1584 "Incompatibility exoplayer versions between expo-av in sdk 45 and react-native-track-player"
Hi, I use track-player with expo, all works fine in sdk 44, now I need to upgrade and I've receive the following error:
[code]

I've tried also to upgrade track-player to rc-4, but when I build my app I receive the error: duplicate class, related always to exoplayer.
Someone may help me to fix that?

[2022-06-29 11:12] jspizziri commented on #1584
Closing as a duplicate

https://github.com/doublesymmetry/react-native-track-player/issues/1418

[2022-06-29 11:12] #1584 closed

[2022-06-30 04:02] mmmoussa opened #1585 "v2.2.0-rc4 introduces fatal crash on iOS when calling TrackPlayer.reset()"
**Describe the Bug**
Calling `TrackPlayer.reset()` while playing a track on iOS causes a fatal crash in v2.2.0-rc4. Crash was not present on v2.2.0-rc3 or below.

**Steps To Reproduce**
1. Add a track to the queue
2. Start playing the track
3. Call `TrackPlayer.reset()`

**Code To Reproduce**
[code]

**Environment Info:**
Tested on iOS simulator with RNTP version v2.2.0-rc4 and RN version v0.68.2

[2022-06-30 04:17] mmmoussa commented on #1585
I think this change (providing a default of 0) might be the cause of the issue: https://github.com/doublesymmetry/SwiftAudioEx/commit/af803339dcc231725cf4b6c96487df3e1571bdd4#r77334509. My Swift knowledge is very weak and I'm not sure what the necessary fix is.

[2022-06-30 05:57] marcfrankel commented on #1585
We have also noticed this issue in RC4, might try rolling back to RC3 in the meantime

[2022-06-30 07:30] komelabbbas opened #1586 "It is possible to show an interactive auto-scrolling lyrics player like Apple Music has?"
How can we show lyrics track..
Is this you work in future, Thanks.

[2022-06-30 07:31] komelabbbas commented on #1586
Example like this
![3lkoc4zaanw71](https://user-images.githubusercontent.com/51354419/176619150-3a771534-6cb5-42c6-8b9d-357225f495ae.jpeg)

[2022-06-30 15:32] marcfrankel opened #1587 "Calling TrackPlayer.Destroy() in useEffect cleanup function crashes ios and "fries" android on 2.2.0-rc4"
**Describe the Bug**
A clear and concise description of what the bug is.

On the page where we use the track player we have a useEffect cleanup function that when the page is unloaded the TrackPlayer is destroyed. On RC4, calling this function on iOS causes an immediate hard crash. The type that triggers a popup from MacOs saying the app quit unexpectedly. On Android it technically doesn't crash,

[2022-06-30 16:38] marcfrankel commented on #1587
Update: Rolling back to RC3 only fixes iOS, Android remains "fried"

[2022-07-01 00:55] anti-duhring opened #1588 "eas build crash in some android devices"
**Describe the Bug**
My app crash in some devices when I install and run the apk using `eas build`, but when I install the same apk in the android device that I used to develop the prebuild version it works fine... My guess is that the problem is in the build.gradle, because my prebuild version only works when I put `jcenter()` inside the build.gradle file.

I saw #1573 issue, but I don't know if

[2022-07-01 06:22] s123121 commented on #1581
I have the exact same issue on Android and could not figure out the reason. Fixed that by regenerated our app icon

[2022-07-01 11:28] jspizziri commented on #1572
I'm going to close this until an interested party opens a PR.

[2022-07-01 11:29] #1572 closed

[2022-07-02 03:40] anti-duhring commented on #1588
Fixed by updating to version `2.2.0-rc4`

[2022-07-02 03:40] #1588 closed

[2022-07-02 07:08] red-made commented on #1321
Tnx @[sadikyalcin](https://github.com/sadikyalcin) your code help me to avoid app crash, but when I do that:
[code]

nothing happen...

[2022-07-02 08:47] jspizziri commented on #1582
Were you able to take a look at this?

[2022-07-04 23:55] doughsay commented on #1582
@jspizziri yep, I have a fix here: https://github.com/doublesymmetry/KotlinAudio/pull/32

It works for me! 😅  No idea if this is a good fix or not...

Thanks a lot for your pointers on where to look.  In the end I had to use code from your linked PR that was actually removed due to code-review comments.  Good thing GitHub preserved enough of it in the discussion for me to figure things out. 🎉

[2022-07-05 09:47] AjayParambath commented on #558
I'm still facing this issue.
Not only does seekTo(position) does not work(it starts from 0 like others have already mentioned), but getDuration method also gives 0.
I tried using the useProgress hook and I can get position finely with getPosition/ useProgress.position.
but useProgress duration returns 0.

please do something about duration and seekTo

[2022-07-05 16:58] jspizziri commented on #1587
@marcfrankel I'm not able to reproduce your issue. When I call `destroy` I do not get any fatal exception. I tested on both Android & iOS.

Please create a reproducible example by forking the project and updating the code in `example` to demonstrate your issue.

[2022-07-05 21:18] jspizziri commented on #1581
@TobiDevloft I've looked into this and I actually think it has to do with the version of either android or the android SDK that is being used.

I attempted to reproduce the issue in the `example` project, and at first, I was seeing it. But then [I regenerated all of the icon assets](https://github.com/doublesymmetry/react-native-track-player/pull/1591/files) using [this wonderful little package](h

[2022-07-05 21:18] #1581 closed

[2022-07-05 21:36] jspizziri commented on #1549
@haidernayyar @vanhungoz ,

I've attempted to reproduce this. I followed @vanhungoz 's steps to reproduce. I played the audio in the background for 5min, then reopened my app. Everything was just as responsive as it normally was and I saw no issues. This must be an issue with your implementation.

I'm going to close this again. However, if you can create a reproducible example by forking this repo

[2022-07-05 21:36] #1549 closed

[2022-07-05 21:39] jspizziri commented on #1549
Oh... just realized you mentioned testing in the simulator. Background playback mode doesn't work in an iOS simulator. https://react-native-track-player.js.org/docs/next/basics/background-mode#ios-simulator

[2022-07-05 21:51] jspizziri commented on #1376
All, I'm closing this. Lets revisit in the future.

[2022-07-05 21:51] #1376 closed

[2022-07-06 11:04] #1578 closed

[2022-07-06 22:06] DennisdeWitNL commented on #1587
The .reset(); crash on iOS is occurrd by an ‘index out of range’ error in handleAudioPlayerQueueIndexChange. It happens when there is only one track in the queue (namely the current track)

This is the code that seems to cause the error

`if let nextIndex = nextIndex, nextIndex < player.items.count {
            let track = player.items[nextIndex]
            isTrackLiveStream = (track as? Track)?

[2022-07-06 22:10] jspizziri commented on #1587
@DennisdeWitNL

This is a separate issue. The reset issue has already been solved on iOS via another ticket (please see the PR I linked above).

[2022-07-06 22:13] DennisdeWitNL commented on #1587
@jspizziri Look at the code above. It seems the code is the same as your PR, but it still didn’t fix the issue. Or am I really so tired that I am misreading your PR?

[2022-07-06 22:20] jspizziri commented on #1587
@DennisdeWitNL this is the wrong ticket to discuss reset, as it's about destroy.

Please hop onto this one https://github.com/doublesymmetry/react-native-track-player/issues/1585

[2022-07-06 22:22] jspizziri commented on #1585
@DennisdeWitNL

This is the reset issue, which is caused by an out of range exception. The PR attached to this ticket addresses that issue and has been merged into main. You can confirm by building the example project off of the current main branch

[2022-07-06 22:26] jspizziri commented on #1585
@DennisdeWitNL  issue was not solved in RC4 it was found in RC4. The resolution only exists in _main_. If you're going to test you need to test there.

[2022-07-06 22:28] DennisdeWitNL commented on #1585
I am not sure what you mean by ‘main’? What exactly do you want me to do? I assume it’s a github thing. So which commands should I run? I am not the biggest expert of Github. Programming is a hobby for me.

[2022-07-07 13:59] jspizziri commented on #1585
@DennisdeWitNL no worries.

When I say `main` I'm referring to the `main` branch in the git repository. This branch is effectively the "master record" of all the work that has been accepted into the codebase/lib. Once it's in `main` that means that it has been officially accepted and will ultimately be released, however, just because you're seeing something in `main` does not mean it has been rele

[2022-07-08 11:22] cashtotalszero commented on #1587
+1 on this. Both the `reset() `and the `destroy()` are causing iOS crashes while on the following setup:

[code]

Code snippet from my component:

[code]

From the discussions above it looks like you have found the problem though. Is there a patch release incoming?

[2022-07-08 11:34] jspizziri commented on #1587
The reset issue has been fixed on another ticket. The destroy issue I have not been able to reproduce. Please try to create a repro based on the example project.

I don't have the ability to release. But I hope for one in the next week or two. I suggest using RC3 if this is a showstopper for you.

[2022-07-09 07:04] cashtotalszero commented on #1587
I have managed to repro using the example code (which I have embedded into a screen within my existing app). All example code was copied and pasted directly and plays the tracks as expected.

To see the crash - the only change is adding a cleanup function to the effect in `App.tsx`:

[code]
This is causing iOS to crash every time I navigate away from the screen showing the audio player.

[2022-07-09 08:43] jspizziri commented on #1587
@cashtotalszero

I need you to send me a link to a forked of this repo with the reproduction added as a commit. Thanks!

[2022-07-11 13:20] maxckelly commented on #1585
Thanks for fixing @jspizziri greatly appreciated. Do we have a planned release for this or do we just go off main?

[2022-07-11 13:34] jspizziri commented on #1585
@maxckelly yes, this will get released in the next RC, but I don't know when that will be landing. If you absolutely need it right now you can either downgrade to RC3 or fork the repo, remove the `build/` folder from the `.gitignore` then build, push and install your fork.

[2022-07-11 15:37] jspizziri opened #1596 "[Feature Request] Add automated daily deploy"
We need to deliver updates to users on the bleeding edge more quickly. Here's the proposal the team agreed upon:

1. We're going to identify a special tag (e.g. `next`, `beta`, `nightly`, etc)
    - We're going to try and find an industry-standard tag for this.
2. We'll write an automation that runs every 24hrs that builds `main` and publishes it to NPM under this tag.

[2022-07-12 09:33] iamalismith commented on #932
If anyone runs into this, and was stuck for a while like I was, hopefully this might help!

I found that I was getting that error when trying to export the service using
`export default ... ` as opposed to `module.exports = `, which is how it is shown in the react-native-track-player example. Not entirely sure as to why this was the case, some sort of babel transformation detail I guess.

I was ab

[2022-07-12 13:57] topovik commented on #1504
Are there any solutions to this problem?

[2022-07-12 16:42] jspizziri commented on #1418
Track this PR which should ultimately resolve this issue:  https://github.com/doublesymmetry/KotlinAudio/pull/33

[2022-07-13 18:06] ildfreelancer commented on #1587
@jspizziri sorry to ping you if it's night.

Take a look at @cashtotalszero's code above, this issue comes from with SetupService
in the example,
https://github.com/doublesymmetry/react-native-track-player/blob/d961abe733a77ba9d5b0cffb193cb864eaf0c784/example/src/services/SetupService.ts

after TrackPlayer.destroy is called, TrackPlayer.getCurrentTrack() will cause the crash due to  player is dest

[2022-07-14 05:39] rpadilla6 opened #1598 "Queue End Reached firing too early on iOS"
**Describe the Bug**
Hi there, I'm writing some functionality to track when a queue has ended in order to reset to the beginning of the first track. I ran into an issue where if the queue is longer than one track, the `PlaybackQueueEnded` is fired too early, which breaks the experience for me on iOS. This is not the case on Android.

**Steps To Reproduce**

1. Add tracks to a queue, (minimum of tw

[2022-07-14 07:31] jsallstrom commented on #1598
Im having exactly the same problem

[2022-07-14 07:55] jsallstrom opened #1599 "TrackPlayer.reset() causes a crash in the latest"
**Describe the Bug**

If you use TrackPlayer.reset() when for instance Event.PlaybackQueueEnded is called to clear the playlist then the app crashes on iOS. Possibly on

**Steps To Reproduce**
How can someone else reproduce this bug?

**Code To Reproduce**
Please provide a simple code example that allows others to replicate the bug.

  useTrackPlayerEvents(events, async event => {
        ...

[2022-07-14 19:57] jspizziri commented on #1599
Duplicate https://github.com/doublesymmetry/react-native-track-player/issues/1585

Please search issues before you file a new one.

[2022-07-15 06:49] Rimma-A commented on #1585
When testing the latest commit from the `main` branch, I still have the issue. The crash happens only on the second call of the TrackPlayer.reset().

[2022-07-15 09:39] jspizziri commented on #1585
First I don't think you should be calling reset twice. Second, I'll need a link to a fork with a repro in the example of you want me to look into it

[2022-07-15 10:35] jsallstrom opened #1600 "TrackPlayer.reset() causes a crash"
Describe the Bug

If you use TrackPlayer.reset() when for instance Event.PlaybackQueueEnded is called to clear the playlist then the app crashes on iOS. Possibly on

Steps To Reproduce
How can someone else reproduce this bug?

1) Use TrackPlayer.reset() anywhere in the code.
2) Get crash with no console errors

Code To Reproduce
Please provide a simple code example that allows others to replicate

[2022-07-15 13:58] kapscudi commented on #1600
same issue with destroy() and reset()

[2022-07-15 19:24] kapscudi commented on #1585
hi I still got the issue with TrackPlayer.destroy() and TrackPlayer.reset() without using them I've got no app crash.
I'm using react native 0.69.1 & 2.2.0-rc4

thanx in advance for the help.

[2022-07-16 00:57] Rimma-A commented on #1585
I'm resetting the playlist several times in the app; I thought I could do it. There is an example:
`......
  await TrackPlayer.reset(); // no crash
  await TrackPlayer.add(track);
  .....
  await TrackPlayer.reset(); // the crash happens
  `
Btw: I found that I could also reset the playlist using TrackPlayer.remove(tracksInTheState), so there is no need to look at this issue if reset() should only

[2022-07-16 01:02] jspizziri commented on #1585
Actually I was wrong, I was thinking of destroy. I can try and take a look at this

[2022-07-16 08:06] ovbm commented on #1509
Getting the same error on my side, the proposed solutions didn't help. I'm going through build.gradle config but I'm not versed enough in android development to figure out what's wrong.

gradle.properties already contains:
[code]

clearing build caches also didn't change the issue.

[code]

[2022-07-16 09:30] jspizziri commented on #1509
If you can repro in the example project and send me a link I'll reopen this issue

[2022-07-19 07:47] abdouAoufi commented on #1356
Guys make sure on IOS that you set the artist otherwise the track won't start.

[2022-07-19 09:01] ovbm commented on #1509
I updated Android Studio from version 2021.1 to 2021.2.1 Patch 1 and the error is gone.

[2022-07-19 11:00] ovbm commented on #1509
I solved the issue by specifying the `appcompat` version as a dependency in `/android/app/build.gradle`

[code]

[2022-07-19 15:22] jspizziri commented on #1585
@Rimma-A , I'm not able to reproduce the issue you mentioned. Please create a reproduction based on a fork of  in the `example` project.

I'll reopen if we can get a reproduction.

[2022-07-19 15:22] #1585 closed

[2022-07-19 17:21] jspizziri commented on #1587
As I've mentioned a few times now. I cannot reproduce this despite my best efforts. I'm going to close this, if someone is having the issue still I'll happily reopen it if they provide a fork of the repository with a reproduction in the example project.

[2022-07-19 17:21] #1587 closed

[2022-07-19 20:01] taylorakin17 opened #1603 "Track index given to Event.PlaybackTrackChanged from Android is always undefined"
**Describe the Bug**
When listening for the `Event.PlaybackTrackChanged` event, the `track` index coming from Android is inconsistent (and seemingly incorrect) when compared to the `track` index coming from iOS. When a track completes and moves on to the next one in the queue on iOS, it provides some integer for the track index (such as 0, 1, 2, etc.). However, when a track completes and moves on

[2022-07-19 20:46] jspizziri commented on #1603
@taylorakin17 what version of the library are you using?

[2022-07-19 20:48] taylorakin17 commented on #1603
We are targeting a specific commit (`44b56147c53e833de7b8fe9b6b26b8413d9ae7d9`) because we needed the a fix that wasn't yet released @jspizziri.

[2022-07-19 20:53] jspizziri commented on #1603
@taylorakin17 ahh, looking at this this is a known issue with a PR in place to fix it (it just hasn't been merged yet).

https://github.com/doublesymmetry/react-native-track-player/pull/1501

[2022-07-19 20:56] taylorakin17 commented on #1603
Ah, I see. My apologies for the duplicate issue. I can close it, or leave it for reference. Which do you prefer? (And do you happen to know if the fix for this will be merged soon?)

[2022-07-19 20:59] jspizziri commented on #1603
No worries, I'm going to close it as a duplicate of https://github.com/doublesymmetry/react-native-track-player/issues/1389

We haven't merged the existing PR because there were some other issues we wanted to address on it too. But I just started a conversation with the rest of the team to see if we should just merge it now and address the other issues later.

I should have some more info tomorrow

[2022-07-19 20:59] #1603 closed

[2022-07-19 21:00] taylorakin17 commented on #1603
Great, thanks! I appreciate it. Looking forward to your response, and do let me know if you need anything from me!

[2022-07-20 12:25] vinaydrevankar opened #1605 "Pod install for v2.2.0-rc4 gives SwiftAudioEx dependency error"
**Description**
Pod install for v2.2.0-rc4 gives SwiftAudioEx dependency error
[code]

**Steps To Reproduce**
Install v2.2.0-rc4 library to the react native project and perform pod install

[code]

`react-native-track-player` - v2.2.0-rc4
Real device - Yes
OS - Mac OS Monterey 12.3

[2022-07-20 14:27] jspizziri commented on #1605
This isn't an issue with RNTP, it's an issue with your Podfile.lock, you either need to run `pod repo update` like it says in the error message or you need to delete your `Podfile.lock` and re-run the install.

[2022-07-20 14:27] #1605 closed

[2022-07-20 14:28] RamProg opened #1606 "2.1.3 crashes on SDK 31 update"
**Describe the Bug**
2.1.3 fails on update to SDK 31 (Android 12).

**Steps To Reproduce**
Update app to SDK 31 and get an error.

**Code To Reproduce**

/android/build.gradle

[code]

**Environment Info:**

react-native-track-player 2.1.2
Real Device Android Galaxy S20+
Android 12

**How I can Help**
I want to create patch/PR for v2.1.2 and 2.1.3 to work on SDK 31 until 2.2.0 is a final release t

[2022-07-20 14:59] taylorakin17 commented on #1603
@jspizziri Great, thank you!

[2022-07-20 15:36] jspizziri opened #1612 "Issue with `PlaybackTrackChanged` event on Android with single track queue in `RepeatMode.Queue`"
This issue represents the uncompleted work from https://github.com/doublesymmetry/react-native-track-player/pull/1501#issuecomment-1110096083. A decision was made to merge what we had as it solved a large number of issues and deal with the rest on a dedicated issue.

[2022-07-20 15:44] jspizziri opened #1613 "Android events always return a position of 0"
As originally documented on https://github.com/doublesymmetry/react-native-track-player/issues/1389

Android currently always returns `position = 0` on all track-changed and queue-ended events.

[2022-07-20 15:45] #1311 closed

[2022-07-20 15:45] jspizziri commented on #1462
fixed via https://github.com/doublesymmetry/react-native-track-player/pull/1501

[2022-07-20 15:45] #1462 closed

[2022-07-20 15:46] jspizziri commented on #1349
fixed via https://github.com/doublesymmetry/react-native-track-player/pull/1501

[2022-07-20 15:46] #1349 closed

[2022-07-20 15:46] jspizziri commented on #1389
fixed via https://github.com/doublesymmetry/react-native-track-player/pull/1501 and split out into https://github.com/doublesymmetry/react-native-track-player/issues/1613

[2022-07-20 15:46] #1389 closed

[2022-07-20 15:50] jspizziri commented on #1603
@taylorakin17 it's been merged.

[2022-07-20 15:52] jspizziri commented on #1606
https://github.com/doublesymmetry/react-native-track-player/issues/1193#issuecomment-1098140118

[2022-07-20 15:52] #1606 closed

[2022-07-20 15:56] jspizziri commented on #1598
We just merged a PR (https://github.com/doublesymmetry/react-native-track-player/pull/1501) that addressed multiple issues with the PlaybackQueueEnded event on both Android and iOS. I tested that PR just now and this issue did not occur, so the PR must've solved it.

You can verify by cloning down the repo and installing and running the example project.

[2022-07-20 16:10] taylorakin17 commented on #1603
@jspizziri Awesome, thank you!

[2022-07-21 02:24] jspizziri commented on #1483
This has been fixed

[2022-07-21 02:24] #1483 closed

[2022-07-21 10:40] udaifmc commented on #1581
This issue related with icon name, may be any icon overrides the current android icon

I resolved this issue by rename the "ic_launcher" and "ic_launcher_round" to a new filename "ic_launcher_new" and  "ic_launcher_round_new"  in     _android/src/main/res/mipmap_      and updated in AndroidManifest.xml also
@TobiDevloft @jspizziri

`<application
    android:name=".MainApplication"
    android:labe

[2022-07-21 21:03] #1596 closed

[2022-07-23 02:17] #1371 closed

[2022-07-23 11:58] fanyui commented on #867
I had a similar error as @marcpope  However, this is resolved by changing the platform version in your Podfile to as from 11 and above.
eg.
`platform :ios, '11.0'`

[2022-07-25 10:15] MaxJadav commented on #1484
@ProtoJoe
After fixing this FLAG_IMMUTABLE issue.  Crashing in release mode, do you have any solution?
https://github.com/doublesymmetry/react-native-track-player/issues/1551#issue-1246676844

[2022-07-25 10:16] MaxJadav commented on #1551
@marf  Do you have any solution?

[2022-07-25 13:02] vinaydrevankar commented on #1585
Facing the same issue. Please let us know there is any tentative fix date

[2022-07-25 14:58] jspizziri commented on #1585
@vinaydrevankar you can install the bleeding edge by using the tag `nightly` as seen in the docs here https://react-native-track-player.js.org/docs/next/basics/installation#unstable--nightly

[2022-07-25 16:52] luis-antonio-dev commented on #97
Using

"react-native-track-player": "^2.1.2"

`id` isn't required

![image](https://user-images.githubusercontent.com/35160032/180831954-3fd91297-1bdd-4f8b-8028-b5eb02304dc3.png)

[2022-07-26 08:16] marf commented on #1551
Unfortunately not :(

[2022-07-26 12:49] mpivchev commented on #1347
This seems like an issue with Android UI itself and nothing related to this library.

[2022-07-26 12:49] #1347 closed

[2022-07-26 19:21] taylorakin17 opened #1624 "PlaybackTrackChanged does not fire immediately on Android (unlike iOS)"
**Describe the Bug**
When a track ends on Android, the `playbackTrackChanged` event does not fire immediately every time (which is inconsistent with how iOS functions, `playbackTrackChanged` fires immediately every time in my testing). The context within which we discovered this (and when it becomes the most evident) is having a `Trackplayer.pause()` in the listener for `Event.PlaybackTrackChanged

[2022-07-27 00:22] lordkyle0 commented on #1444
Any solution ? I'm working with expo dev-cient and I can't use react-native track player

[2022-07-27 10:18] mayank-paryani opened #1626 "Calling TrackPlayer.Destroy() disables Android Hardware Back Button"
**Describe the Bug**
When I call TrackPlayer.Destroy() in ComponentWillUnmount() it disables the Backbutton of Android app.

**Steps To Reproduce**

Once you have the example app set up, put Trackplayer.Destroy() in ComponentWillUnmount() or cleanup function.
Press back to exit the screen (having track player component) and now observe back button functionality is disabled for other screens.

[Env

[2022-07-27 13:50] jspizziri commented on #1624
Repro fork https://github.com/taylorakin17/react-native-track-player-example/commit/adfdca60d644c9b720d29c795116393fa0316228

[2022-07-27 13:50] jspizziri commented on #1624
See discord thread for more background https://discord.com/channels/567636850513018880/600714011318681610/1001622976770351246

[2022-07-27 16:11] KrisLau commented on #1418
@jspizziri Thanks for all the awesome work!

[2022-07-27 16:52] stereodenis commented on #1418
I downgraded to 2.1.3, and it works with react-native-video v5.2.0

[2022-07-27 17:20] zackperdue commented on #932
I can confirm switching to a constant fixed this issue for me (which was driving me crazy)

[2022-07-27 17:59] KrisLau commented on #1418
@stereodenis So 2.1.3 was the original version I was using but that version gives me a different problem (Could not find com.google.android.exoplayer:exoplayer-core:2.11.4) which was fixed in [v2.2.0-rc3](https://github.com/doublesymmetry/react-native-track-player/releases/tag/v2.2.0-rc3)

[2022-07-28 16:43] zackperdue commented on #1398
@bradleyflood I'm looking for this feature. Where can we see the feature request list?

[2022-07-28 18:21] jspizziri commented on #1398
@zackperdue [it's here](https://github.com/doublesymmetry/react-native-track-player/projects/1) in the list "Feature Requests"

Please feel free to contribute!

[2022-07-28 18:50] luancurti commented on #524
Still ocurring in `2.1.3`

Tested devices with this problem

Device: `Samsung Galaxy S20 FE` OS Version: `Android 11`
Device: `Samsung Galaxy S20+` OS Version: `Android 12`

@doublesymmetry help us to fix this problem in this version before the breaking changes of the version `2.2.0`

[2022-07-29 02:17] #1422 closed

[2022-07-29 13:07] pankaj9singh commented on #1587
Still same issue with iOS, crashing on destroy and reset

[2022-07-29 13:16] pankaj9singh commented on #1585
It worked thank you

https://github.com/doublesymmetry/react-native-track-player/issues/1585#issuecomment-1194163796

[2022-07-29 13:16] pankaj9singh commented on #1587
It worked thank you

https://github.com/doublesymmetry/react-native-track-player/issues/1585#issuecomment-1194163796

[2022-08-01 10:45] Robiullah2244 commented on #1509
I am facing the same issue on the `Apple M1` chip.

[2022-08-01 14:03] Robiullah2244 commented on #715
I also facing the same issue with the `react-native-triton-player`

[2022-08-02 01:23] Harukisatoh commented on #1587
To summarize for future readers, this bug happens on versions 2.2.0-rc3 and 2.2.0-rc4, and it seems related to the issue #1585. This other bug was already solved and by consequence this one is too.

The solution isn't released yet, so if you want to solve this on your end you have two options:
1. Downgrade to versions below 2.2.0-rc3 (I don't know in which one the bug was introduced, so I'm not su

[2022-08-02 07:15] mpivchev opened #1630 "Proper collection of flows in UI"
Currently we are not using `repeatOnLifecycle` when collecting flows, which can lead to crashes. Should be fixed.

![image](https://user-images.githubusercontent.com/6960329/182314815-b87e40b5-f8b2-4926-b56b-95ceacb5d787.png)

[2022-08-02 09:47] ktaeyang commented on #1626
same issue.

[2022-08-02 11:38] #1377 closed

[2022-08-02 15:07] mpivchev opened #1631 "Replace current playing track in queue"
### Discussed in https://github.com/doublesymmetry/react-native-track-player/discussions/1628

<div type='discussions-op-text'>

<sup>Originally posted by **russriser** July 31, 2022</sup>
Hiya, I'm working on a problem and would like to know the best way to go about it, as I can think of several ways to do what I want.

I have loaded a playlist of tracks into the queue that should play one-after-

[2022-08-02 15:19] russriser commented on #1631
Hi, thanks for making the issue. I didn't open one because the root of my problem seems to be intended functionality, as stated here: #1442

I am wondering how other people might be getting around the limitation.

If there is something that is issue-worthy, it's this:

You can't replace the "currently playing track" even after using the TrackPlayer.stop function. Since the current track index rema

[2022-08-02 16:21] martinmidtsund commented on #1631
Hi,

Just a thought; Could you `add(track, currentTrackIndex + 1)`, `skipToNext` so the user will hear the new track added, and then run `remove(indexToBeRemoved)` while the other track already started to play?

That said, `remove` should perhaps work on the current index as well, or it should be documented that `remove` indeed does not work for the current index if that's the case?

[2022-08-03 02:17] #1425 closed

[2022-08-03 06:40] shikhauser commented on #473
@CuongNguyenV, what are you using for showing these crashes?

[2022-08-03 09:17] thejogsa commented on #1585
Another way to fix this issue, This issue occurred in **RNTrackPlayer.swift line number - 824.**

I just replaced this condition with the correct code and it's working fine for me.  I can't upgrade the library because in android occurring different issues.

In the **Podfile** of your project, just write down this code and  **pod install** again

[code]

if you don't have find_and_replace method pl

[2022-08-03 09:26] jspizziri commented on #1585
@thejogsa why wouldn't you just install the nightly? Seems way easier to me

[2022-08-03 14:22] laugri opened #1632 "Confused about the size of custom rewind and forward icons"
Hello,

Sorry for asking this, but I can't figure out how to make my custom icons look good on the player.
I have tried the following:
[code]

The two icons are the following: [forward15](https://user-images.githubusercontent.com/7806174/182629560-cc45379a-c12f-48b0-8060-a31cd530b32d.png) and [backward15](https://user-images.githubusercontent.com/7806174/182630009-024c5ee2-1b70-413a-a4c3-8f3291ab6

[2022-08-03 15:10] CuongNguyenV commented on #473
Firebase Crashlytics

[2022-08-04 04:43] minhchienwikipedia opened #1633 "[Android] lateinit property player has not been initialized"
My users got issue `lateinit property player has not been initialized`, and Android only

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/20647079/182764611-2abc1e99-cbf4-4617-85ee-798ad7f4ec85.png">

This is my `setupPlayer` function
[code]
And I put this function in useEffect of App.js file

Can you guys help me to fix this issue?!

[2022-08-04 08:10] matteodanelli commented on #1319
I've the issue on rc4, so that's not solved yet.

[2022-08-04 08:46] jspizziri commented on #1319
@matteodanelli , as I said I am not able to reproduce it. If you want us to reopen this issue you'll need to create a reproduction based on the example app and send us detailed reproduction steps.

[2022-08-04 09:32] jspizziri commented on #1633
What version are you using? Please try to reproduce in the example app.

[2022-08-04 09:43] jspizziri commented on #1631
I agree with @martinmidtsund . It's not clear to me what the library should handle natively, when I think about it handling this natively effectively would just advance the queue position which is the same thing as calling skip, so I'm not sure how valuable it is. So I'm thinking documentation is best.

@dcvz, how do you want to handle an attempt to remove the currently playing track from the queu

[2022-08-04 09:46] jspizziri commented on #1626
I believe this has been fixed, can you please install the latest nightly build and see if it's still happening?

[2022-08-04 09:49] jspizziri commented on #1573
There's a duplicate issue that is referenced here that seems to indicate that this is fixed in RC4. In any case, we really need someone in the community who works with Expo to look into issues like this. I'm closing for now.

[2022-08-04 09:49] #1573 closed

[2022-08-04 11:14] mpivchev opened #1634 "Remove reset() function"
Version 3.0 would move away from ever manually stopping the music service on Android, to make it more akin to how popular music/podcast apps work. `destroy()` has already been removed, and the same should be done for `reset()`. Currently, at least for Android, the `reset` function doesn't actually reset anything:

[code]

iOS side should also be handled.

[2022-08-04 23:31] stereodenis commented on #965
Still not compatible. No audio on react-native-video videos in android

[2022-08-05 16:24] devpolo commented on #1587
Looks like it's fixed on the latest `2.2.0-rc4-e36a016d1640e75649d6da4056f8977da33864e1` version.

You can upgrade it with :
`yarn upgrade react-native-track-player@2.2.0-rc4-e36a016d1640e75649d6da4056f8977da33864e1`

[2022-08-06 20:58] stereodenis commented on #1418
@KrisLau I have no sound in videos on android with the workaround from the comment

[2022-08-07 02:17] #1443 closed

[2022-08-07 10:36] jspizziri commented on #1633
Closing due to unresponsiveness.

[2022-08-07 10:37] jspizziri commented on #1626
Closing as this should be fixed and I've gotten no response.

[2022-08-07 10:37] #1626 closed

[2022-08-07 12:27] minhchienwikipedia commented on #1633
@jspizziri Sorry for replying late, I'm using version `2.2.0-rc3`

[2022-08-07 13:54] jspizziri commented on #1633
@minhchienwikipedia Please upgrade to RC4 and retest

[2022-08-07 19:37] mattperls-code commented on #1063
Having this issue too. Even when the Track Object is added with the correct duration, the lock screen player always has the wrong duration.

[2022-08-08 11:15] devpolo opened #1636 "Not initialized player after unmounted UI on Android"
**Describe the Bug**
*Android only.* Got error message :`The player is not initialized. Call setupPlayer first.` after leaving the app in background for more than 5 minutes.

**Steps To Reproduce**
1. open the app.
2. call `.setupPlayer()`
3. call `.reset()`
4. call `.add(track)`
5. call `.play()`
6. let the track start
7. call `.reset()`
8. leave app in background for 5 minutes
9. call `.reset()`

[2022-08-08 11:20] devpolo commented on #1636
Quick fix:

[code]

[code]

You may catch `The player has already been initialized via setupPlayer.` error to avoid useless `Sentry` issues.

[2022-08-09 06:47] stereodenis commented on #1235
This is not stale. It still conflicts with react-native-track-player's exoplayer (from KotlinAudio)

[2022-08-09 16:16] mpivchev opened #1637 "[RFC] Planned (mostly breaking) changes for major version 4.0"
This includes proposals for both this library and the Android audio library we use under the hood: [KotlinAudio](https://github.com/doublesymmetry/KotlinAudio).

This list will be updated over time so nothing is concrete.

**Top priority:**
- Remove the ExoPlayer fork and adjust the events API accordingly.
**Note:** Having a fork of such a big library is a recipe for disaster moving forward. We ar

[2022-08-09 16:58] #1548 closed

[2022-08-10 06:37] CodeOne91 opened #1638 "[Feature Request] Pause track at specific position"
In my project is required to pause audio at specific time position.
So, I tried to force pause through _useTrackPlayerEvents_. Something like this:
[code]
However, it becomes difficult to check the timing and set pause because the event arrive a few seconds late (i.e event.position 3.5, but pauseValue = 2.5, so TrackPlayer.pause() is called when event position is at 3.5, not at 2.5).

In this way

[2022-08-10 08:50] Vietvantue opened #1639 "Fatal Exception: kotlin.UninitializedPropertyAccessException"
**Describe the Bug**
App crash while using react-native-track-player

**Steps To Reproduce**

**Code To Reproduce**
[code]

**Environment Info:**
react-native: 0.68.2
react-native-track-player: ^2.2.0-rc4
Device: Samsung A8 Tablet
OS: Android

**Crashlytics log**
[code]

[2022-08-10 17:07] suupham2506 opened #1641 "Android app crash when calling TrackPlayer.setupPlayer(....);"
**Describe the Bug**
java.lang.NoSuchMethodError: No virtual method setAudioAttributes(Lcom/google/android/exoplayer2/audio/AudioAttributes;)V in class Lcom/google/android/exoplayer2/SimpleExoPlayer; or its super classes (declaration of 'com.google.android.exoplayer2.SimpleExoPlayer' appears in /data/app/~~U1v4qv49pqOzDmAm96RPZg==/com.meetyourgenie-bvivpm4N4Nvti6dmL7pIWw==/base.apk!classes22.dex)

[2022-08-11 07:14] fatlinesofcode commented on #1585
works with the latest rc4 from nightly builds
[code]

[2022-08-11 09:30] jspizziri commented on #1637
I think this one should be considered too

https://github.com/doublesymmetry/react-native-track-player/issues/1293

[2022-08-11 09:38] jspizziri commented on #1637
Remove the ExoPlayer fork and adjust the events api accordingly.

[2022-08-11 09:41] jspizziri commented on #1641
This looks like an issue with a conflicting version install of exoplayer with another package. If you're on a sub 2.2 version I believe you can configure this.

Apart from that you'll need to specify the version of RNTP and reproduce in the example to help us evaluate the problem.

[2022-08-11 09:41] #1641 closed

[2022-08-11 09:44] jspizziri commented on #1638
Another option is to simply set a timer to do the pause, or use the progress updated event. Both of them will have downsides though.

Regarding your feature, my instinct is that it's too niche to formally support in the API so you might need to maintain your own fork if you need it.

@dcvz lmk if you disagree.

[2022-08-11 09:44] #1638 closed

[2022-08-11 09:45] jspizziri commented on #1639
Can you reproduce this in the example app? I would be very surprised if this wasn't working there.

[2022-08-11 11:34] jspizziri commented on #1613
@mpivchev before this can be closed kotlinaudio needs to be released and updated here and we need to update the hard coded 0 to pull from the event

[2022-08-11 11:40] mpivchev commented on #1613
@jspizziri doing this atm

[2022-08-11 11:43] Knufle opened #1642 "Docs need update?"
So, I'm facing hls issues on android which I'll be addressing in another issue if I can't solve them, but while reading the docs and some issues I found this:

https://react-native-track-player.js.org/docs/basics/build-preferences#hls-android

![image](https://user-images.githubusercontent.com/25941471/184125747-2235918d-ec6e-4ffa-849a-af26119a7656.png)

I believe the description for hls has been

[2022-08-11 12:05] Knufle opened #1644 "Example project for android needs update? (HLS related)"
System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
    Memory: 899.71 MB / 15.94 GB
  Binaries:
    Node: 14.19.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.17 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK: Not Found
  IDEs:

[2022-08-11 17:23] lordkyle0 commented on #1513
Is this  reviewed in the next version ?

[2022-08-11 17:26] jspizziri commented on #1513
@lordkyle0 I think will land in the next patch version. I spoke with @mpivchev about it this morning, and he needs to do some additional investigation. The fix I put in place is relatively crude (although it does work).

[2022-08-11 23:01] PaulCombal commented on #1504
I'm fairly sure this is still an issue using expo. It doesn't matter how well I follow the instructions, the error comes from this line in lib/interfaces.js:

[code]

NativeModules is:
[code]

[code]

In the code above TrackPlayer is `null`. The variable is not reassigned anywhere else in the file.

[The documentation](https://react-native-track-player.js.org/docs/basics/installation#expo) states

[2022-08-12 06:21] Hannes1 commented on #1418
I saw a @dcvz  mentioning that you can handle resolution conflicts with [gradle](https://docs.gradle.org/current/userguide/resolution_rules.html#sec:dependency_resolve_rules), so I came up with the following fix, don't know if there's a better way than replacing one by one but anyways this works till they move away from their work

[code]

## Disclaimer
I only use expo-av (that also uses exo-playe

[2022-08-12 06:38] DennisdeWitNL commented on #1418
@Hannes1 I added you code to android/app/build.gradle. But it is still not working. Could you please post me an example?

[2022-08-12 06:42] Hannes1 commented on #1418
@DennisdeWitNL  What error do you get? I don't have an example app at the momement I'll see If I have time this weekend

[2022-08-12 06:44] DennisdeWitNL commented on #1418
There are the errors:

[code]

[2022-08-12 06:50] Hannes1 commented on #1418
@DennisdeWitNL Okay so you need to replace more modules because your package uses more of exoplayers modules

For example
[code]
You'll have to replace the following `com.google.android.exoplayer:exoplayer-database:2.17.1` as well with the following:
[code]

Just go through your error logs and see what yo need to replace further

[2022-08-12 15:49] DennisdeWitNL commented on #1418
@Hannes1 I have successfully replaced database, but still I have this problem.

``
com.google.android.exoplayer2.upstream
``

So I thought I would have to do this:

``
            module("com.google.android.exoplayer:exoplayer-upstream") {
            replacedBy("com.github.doublesymmetry.Exoplayer:exoplayer-upstream", "replace exoplayer with doublesymmetry.Exoplayer")
        }
``

But that didn'

[2022-08-12 16:00] Hannes1 commented on #1418
@DennisdeWitNL You are probably looking at the wrong thing

Example
[code]

The problem isn't with `class com.google.android.exoplayer2.upstream` the conflict is with what is in the brackets (): `(com.google.android.exoplayer:exoplayer-datasource:2.17.1)`

So the conflicting module is: `exoplayer-datasource`

[2022-08-12 16:15] DennisdeWitNL opened #1647 "reset() causes IllegalStateException"
**Describe the Bug**
Since the latest 3.0 release, we cannot use TrackPlayer.reset() correctly anymore. It causes an IllegalStateException, which I caught with Logcat in the Android Studio. When firing the .reset() function, it doesn't reset the queue, as opposed to previous versions. TrackPlayer.stop(); doesn't remove the current track from the queue either. So now my tracks are stuck in the queu

[2022-08-12 16:17] PaulCombal commented on #296
Same issue on 3.0.0 after hot reloading

[2022-08-12 16:26] TheTarasik commented on #1437
Same issue on 3.0.0 but on android too

[2022-08-13 00:14] luco commented on #1480
Same here on iOS Simulator.

[2022-08-13 10:39] jspizziri commented on #1647
@DennisdeWitNL Did you use the RCs and it wasn't happening there?

[2022-08-13 10:40] jspizziri commented on #1647
Cc @mpivchev

[2022-08-13 10:43] DennisdeWitNL commented on #1647
@jspizziri You are exactly right. Without changing anything to my code, 2.2.0-rc4 worked just fine. If I upgrade to 3.0.0, the reset button crashes the whole module. I need to hard stop the app and restart it. Otherwise there will be no sound.

I downgraded to 2.2.0-rc4 again, and it works just fine.

[2022-08-13 10:47] jspizziri commented on #1647
Fascinating. sorry we broke that. We merged in that massive android fix and must've missed this in testing. The good news is it should be a simple fix we can get in early next week.

[2022-08-13 10:52] jspizziri commented on #1639
Closing due to lack of feedback.

[2022-08-15 13:17] stereodenis commented on #1418
still facing issue with react-native-video@5.2.0 + react-native-track-player@3.0.0
https://gist.github.com/stereodenis/8ffe0a7e22a403f94746161253ec9dbb

[2022-08-15 13:21] Hannes1 commented on #1418
See the [workaround](https://github.com/doublesymmetry/react-native-track-player/issues/1418#issuecomment-1212769004) for now @stereodenis

[2022-08-15 14:05] Hannes1 commented on #1418
@stereodenis mmm this might be a react native video issue, it mentions turbomodules does the package support turbomodules?

Or does react native video work without react native track player changes?

[2022-08-15 15:59] PaulCombal opened #1650 "[Feature Request] Loading audio over HTTP Partial Content"
**What is the need and use case of this feature?**
I want to serve my content over HTTP 206 partial content. Because the audio content I want to stream can be fairly long (audio books, hour long music sets..), it is impractical to serve the content over HTTP 200 since it means the client needs to download a whole file before playing.

**Describe the ideal solution**
Having support for partial cont

[2022-08-15 16:13] stereodenis commented on #1418
@Hannes1 it works for me on 6.0.0-alpha1, but not on 5.2.0

[2022-08-16 03:58] CDBridger commented on #1647
this is your culprit [here](https://github.com/doublesymmetry/react-native-track-player/blob/v3.0/android/src/main/java/com/doublesymmetry/trackplayer/service/MusicService.kt#L235)

[2022-08-16 08:41] jspizziri commented on #1647
If that's the case then this pr will fix it:

https://github.com/doublesymmetry/react-native-track-player/pull/1646/files

[2022-08-16 15:20] DennisdeWitNL commented on #1647
@jspizziri @mpivchev It seems that the PR fails on iOS. The latest Xcode-beta for iOS 16 shows the following error:

[code]

I have literally copied all the files in the PR, so I wouldn't miss anything.

Thank you,
Dennis

[2022-08-16 17:24] russriser opened #1652 "[Feature Request] RNTP with expo-av support"
**What is the need and use case of this feature?**

My company's app needs RNTP and expo-av to be compatible with one another. We use expo-av for playing small audio clips on button-presses. We need this to happen separate from any long-form audio content that's already playing. So...we need multiple audio instances running at the same time.

The RNTP Queue format would be burdensome for playing t

[2022-08-17 07:06] jamsch commented on #1652
Same use case here. We have a lot of short audio clips (1-10 secs) and longer podcast-style audio (10-30 minutes). We currently use expo-av for both, but would like to use this library for our longer form audio (so that we can utilise the lock screen controls).

Unfortunately both libraries use different versions of ExoPlayer, and this library seems to use a custom build of ExoPlayer -- https://gi

[2022-08-17 12:17] mpivchev commented on #1647
@DennisdeWitNL this is fixed and merged.

[2022-08-17 13:22] DennisdeWitNL opened #1653 "clearNowPlayingMetadata clears metadata, but never comes back"
**Describe the Bug**
After clearing the now playing metadata by clearNowPlayingMetadata, every new track added, will not show the metadata anymore, unless you fully restart the app after forcing the app to stop. This is an Android issue.

**Steps To Reproduce**
1) Download my example here: https://github.com/DennisdeWitNL/example-clearmetadata
2) Play the song. Check the metadata in the notificati

[2022-08-17 13:22] #1647 closed

[2022-08-18 08:29] russriser commented on #1418
If anyone needs to do this in a Managed Expo project, here's a config plugin that will replace the dependencies:

`const { withAppBuildGradle } = require('@expo/config-plugins');

const replaceDependencies = (fileContent) => {
  const insertString = `
    dependencies {
        modules {
            module("com.google.android.exoplayer:exoplayer") {
                replacedBy("com.github.doublesym

[2022-08-18 09:52] OlehRiepkin commented on #1639
Have similar issue. Looks like it happens in background when proximity mode is on (according to Firebase Crashlytics).

"react-native": "0.69.1"
"react-native-track-player": "^3.0.0"

Device: Galaxy A12 (Android 11)

**Firebase logs**

[code]

[code]

[2022-08-18 13:12] KrisLau commented on #1418
@russriser the changes that fix this are merged in https://github.com/doublesymmetry/KotlinAudio/pull/38.  Just need to wait for it to be included in a new version

[2022-08-18 14:44] Vietvantue commented on #1639
@OlehRiepkin Although we have the same symptom, I doubt they are in the same location. However, according to the Crashlytics log, this is due to kotlin's late init variable.
[code]

[2022-08-19 11:03] stereodenis opened #1655 "[Feature Request] Volume change listener"
**What is the need and use case of this feature?**
I have `getVolume` and `setVolume` methods, but no listener for remote volume change: from hardware buttons and notification widgets.

**Describe the ideal solution**
Add such listener to the package.
// listen the volume changing if you need
[code]

**Describe alternatives you've considered**
[You can reffer to react-native-system-setting@alpha](

[2022-08-19 14:03] VinceBT commented on #296
Look if you are not calling any function on the TrackPlayer class before it is initialized, for me I was doing `updateNowPlayingMetadata` before it had a chance to be initialized

[2022-08-19 19:34] luco opened #1656 "Duration when buffering AAC is inconsistent"
**Describe the Bug**
When using the `aac` codec (which is supported by iOS and Android) and buffering an url, the duration time is inconsistent.

**Steps To Reproduce**
Just use an url with an AAC file.

**Code To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/246373/185693344-87b9fb66-0162-49a3-853d-ae1dcfd6691f.png)
![image](https://user-images.githubusercontent.com/2463

[2022-08-19 22:37] doughsay opened #1657 "3.1.0 does not fire events in background service on Android when tapping play/pause buttons in notification"
**Describe the Bug**

The player background service does not receive remote events when buttons are tapped in the Android notification. Events tested include: RemotePlay, RemotePause, RemoteJumpBackward, and RemoteJumpForward.

To be clear: tapping the play/pause or jump buttons *does* do the correct actions (i.e. it actually pauses or plays, etc). It just doesn't dispatch an event to the backgrou

[2022-08-20 12:31] Hannes1 commented on #1657
It's working on both my devices, running android 12 and android 9

[2022-08-20 17:23] doughsay commented on #1657
@Hannes1 your example would not reproduce the bug as described.  Your event handlers don't perform any side-effects.  The play, pause, and jump events will appear to be working for you because all you're doing is the default action.  If you add a `console.log` or some other side-effect into your handlers you will see that the handlers never actually execute.

[2022-08-20 19:31] zzorba opened #1659 "Types of events on version 3.1.0 are incorrect"
**Describe the Bug**
It looks like version 3.1.0 added typescript types for the callback passed to the `useTrackPlayerEvents` hook.  Unfortunately, the types do not seem to match the actual code (at least on iOS).

The differentiator field claims to be 'event', however when logging it it turns out it should actually be 'type'
https://github.com/doublesymmetry/react-native-track-player/commit/958a3

[2022-08-20 19:46] zzorba commented on #1659
opened this preemptively: https://github.com/doublesymmetry/react-native-track-player/compare/main...zzorba:react-native-track-player:patch-1

[2022-08-21 14:21] MrNapcae opened #1660 "[Feature Request] Progress Updates Lag During Buffering"
Hi there, I'm trying to implement an interface like Apple Podcasts (when you move the slider, the time changes in real time). When I change the position on the slider, TrackPlayer.seekTo(val)
 does not work instantly, because of this the slider twitches. I am using the @react-native-community/slider library. I tried adjusting the onSlidingStart and onSlidingComplete, and setting setTimeout, it imp

[2022-08-22 07:29] stereodenis commented on #1655
@doublesymmetry-dev @fabiandoublesymmetry what do you think?

[2022-08-22 09:09] #1490 closed

[2022-08-22 09:12] mpivchev commented on #1418
This should be fixed in 3.1.0. If you still have issues, please reopen this.

[2022-08-22 09:12] #1418 closed

[2022-08-22 12:57] zzorba commented on #1659
It is the same on both platforms. I think a mistake was just made when documenting the types in the index.d.at file.

[2022-08-22 13:51] zzorba commented on #1659
Yes, I confirmed that both platforms see the differentiator as 'type' not 'event'.  Same code is working great on both players with v3.1.0, no need for platform specialization

[2022-08-22 14:19] RamProg commented on #1551
I'm having the exact same problem.

[2022-08-22 19:50] jspizziri commented on #1659
I created a PR from @zzorba 's branch.

[2022-08-22 20:37] jspizziri commented on #1659
Looks like I'm confused about this one. My bad! I believe this can be closed now via https://github.com/doublesymmetry/react-native-track-player/pull/1662

[2022-08-22 20:37] #1659 closed

[2022-08-22 20:52] jspizziri commented on #1652
@jamsch @russriser as of v3.1.0 we no longer use a custom fork of Exoplayer.

[2022-08-23 01:41] russriser commented on #1652
Great, thank you. That should resolve the Duplicates problem so I don't need my ConfigPlugin anymore.

I don't think it resolves this issue though. It is still not possible to use expo-av and RNTP while having both background audio and lockscreen controls enabled.

[2022-08-23 06:28] jamsch commented on #1652
@russriser Try using expo-av's `setAudioModeAsync` to set the audio mode prior to audio playback

[code]

[2022-08-23 09:11] RamProg opened #1666 "Service.startForeground() not allowed due to mAllowStartForeground false"
**Describe the Bug**
Production crashes. 99% on Android 12. 100% with the app in the background.

[code]
[code]

**Steps To Reproduce**
I haven't been able to reproduce it, but It has happened in production many times.

**Code To Reproduce**

[code]

**Environment Info:**
[code]

`"react-native-track-player": "2.1.2"`

I have patched the package to support SDK 31. The reason was that version 2.2.0

[2022-08-23 12:14] sejeeth11 commented on #698
Its not working !

[2022-08-23 12:29] jspizziri commented on #1652
@jamsch is the issue resolved for you now?

[2022-08-23 14:25] mvrty commented on #1639
Not sure if this is related but getting crashes (randomly - works most time) when initing track player (using `await TrackPlayer.setupPlayer()`)
RN 0.69.4
Track Player 3.1.0

Happening on both device and emulator (Pixel 6 (api 31), emulator (api 31), emulator (api 30))

Generates two crash reports in Flipper:
(first)
[code]

(second)
[code]

[2022-08-23 15:19] dmytrokruhlyi opened #1669 "RepeatMode is not working on Android"
**Describe the Bug**
I tried to use RepeatMode but it is not working on Android (IOS works ok).

**Code To Reproduce**
`TrackPlayer.setRepeatMode(RepeatMode.Track);`

**Environment Info:**

`react-native-track-player` version is v3.0.

The issue reproduces on apk build.

[2022-08-23 17:00] jspizziri commented on #1660
@MrNapcae , I've not seen this issue before, and it doesn't seem to exist in the example project. When I run the example project on an iPhone SE Gen 2 with iOS 15.5 , the progress slider is very smooth.

[2022-08-23 17:04] jspizziri commented on #1655
@stereodenis

We'll see if @dcvz thinks this should make it into the API. One thing I can say however, is that unless you plan on being a champion and doing some implementation, it's probably not going to get implemented by the core team. There are a lot of other feature requests and library needs and I don't see this falling near the top of the core team's priorities.

[2022-08-23 17:04] #1655 closed

[2022-08-23 17:07] jspizziri commented on #1660
https://user-images.githubusercontent.com/1452066/186220652-990b2cbb-80dc-45d7-943c-e0573913bdf0.MOV

Here's a recording of me scrubbing quickly. I see no issues.

[2022-08-23 17:07] jspizziri commented on #1660
If you're able to send me a consistent reproduction of this based off of the example app, I'll take another look at it.

[2022-08-23 17:09] jspizziri commented on #1631
Looks like there's a good workaround for this, so I'm closing it.

[2022-08-23 17:09] #1631 closed

[2022-08-23 17:24] MrNapcae commented on #1660
the only change I made was to put in a longer video from the internet, duration: 1066 sec
https://user-images.githubusercontent.com/42024544/186224425-de08d857-0568-44ef-ac48-9b4f979f441a.MP4

[2022-08-23 17:31] jspizziri commented on #1660
@MrNapcae what you're seeing looks like its the result of your audio file buffering. I don't think it has anything to do with the `.seekTo` being slow like you initially thought. When you scrub to the desired position it takes a few MS to actually buffer the file at that position before playback begins. My recommendation would be to observe the playback state, and if it's loading/buffering pausing

[2022-08-23 17:33] MrNapcae commented on #1660
@jspizziri Is it possible to download the full audio before playing it in order to avoid this?

[2022-08-23 17:36] jspizziri commented on #1660
@MrNapcae yes, you can [download and play offline](https://react-native-track-player.js.org/docs/guides/offline-playback). I'm not 100% sure that will solve your problem, buffering the file from disk should be faster than buffering it from network, it just depends on the speed.

[2022-08-23 17:37] MrNapcae commented on #1660
@jspizziri then maybe you can find out the status that buffering is in progress?

[2022-08-23 17:39] jspizziri commented on #1660
@MrNapcae I'm not sure what you mean by that.

[2022-08-23 17:42] MrNapcae commented on #1660
@jspizziri Is there a way to receive a status that audio file is being loaded and it’s not available for playing yet?

[2022-08-23 17:44] jspizziri commented on #1660
@MrNapcae yes, [this is what I was mentioning here](https://github.com/doublesymmetry/react-native-track-player/issues/1660#issuecomment-1224414458). Please read the documentation for `PlaybackState` and `usePlaybackState`.

[2022-08-23 17:49] jspizziri commented on #1582
Closing as in favor of https://github.com/doublesymmetry/react-native-track-player/issues/1657

[2022-08-23 17:49] #1582 closed

[2022-08-23 17:49] MrNapcae commented on #1660
@jspizziri

`export const PlayPauseButton: React.FC = () => {
  const state = usePlaybackState();
  const isPlaying = state === State.Playing;
  const isLoading = state === State.Connecting || state === State.Buffering;
  console.log({state})`

  `
 LOG  Running "example" with {"rootTag":1,"initialProps":{}}
 LOG  {"state": "none"}
 LOG  Event.PlaybackTrackChanged {"nextTrack": 0, "position": 0}

[2022-08-23 17:50] jspizziri commented on #1660
@MrNapcae I don't want to be rude. But there's no way I'm going to read through that massive text dump and try and interpret what you're asking me.

[2022-08-23 17:52] MrNapcae commented on #1660
sorry, updated

[2022-08-23 21:55] russriser commented on #1652
It appears the solution was to add the interuptionModeIOS. Working for me now.

So maybe this could be added to the documentation somewhere? I don't know where since its not really expo-av nor RNTP specific.

[2022-08-24 07:43] mekaVR commented on #1660
Hi @jspizziri I have the same problem when I go from pause to play the status of the player changes from loading/buffering playing/ready/paused

only on iOS on Android no problems

Thanks

[2022-08-24 16:39] quizzyDev opened #1673 "EventsPayloadByEvent incorrect causing type errors"
**Describe the Bug**
Using v3.1.0 and typescript.

The `EventsPayloadByEvent` interface in the `./lib/interfaces.d.ts` lists the type with an `event` key as opposed to a `type` key. i.e. With a freshly the freshly installed package I can see:
[code]

As opposed to:

[code]

However when I `console.log` out the actual event, I can see that the event actually has the `type` as the key:
[code]

I dow

[2022-08-24 16:41] greenimpala commented on #1673
Fixed in https://github.com/doublesymmetry/react-native-track-player/pull/1662

[2022-08-24 17:16] jspizziri commented on #1673
Closing as a duplicate of https://github.com/doublesymmetry/react-native-track-player/issues/1659, you can install the nightly build if need to get this into your app right away.

[2022-08-24 19:07] SOG-web opened #1675 "Invariant Violation: "main" has not been registered on expo"
**Describe the Bug**
I get `Invariant Violation: "main" has not been registered` even after following due process

[code]

I have done the expo-dev-client step and it successfully builds

**Steps To Reproduce**
`index.js`
[code]
`App.tsx`
[code]

`service.js`
[code]

**Environment Info:**
Paste the results of `npx react-native info`
[code]
Paste the exact `react-native-track-player` version you ar

[2022-08-25 00:13] russriser commented on #1652
There does seem to still be a remaining problem on Android. The app crashes when trying to play audio clips with expo-av when RNTP is installed. Seems to maybe be a conflict with exoplayer version or something.

@jamsch do you have the same problem?

here's the log:
[code]

[2022-08-25 01:11] CDBridger opened #1676 "Android Crash: ForegroundServiceDidNotStartInTimeException"
**Describe the Bug**
android.app.ForegroundServiceDidNotStartInTimeException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{334a779 u0 nz.co.nbr/com.doublesymmetry.trackplayer.service.MusicService}

using RNTP 3.0.0

I haven't been able to reproduce this crash in my dev environment, I can just see it happening to users via crashalytics

Looks like its

[2022-08-25 04:31] jamsch commented on #1652
@russriser Yep, I had the same issue. It looks like expo-av uses an older version of ExoPlayer (v2.13.3) while this lib uses ExoPlayer 2.18.1. ExoPlayer doesn't follow semver and seems to have a lot of breaking changes across minor versions.

So I've whipped up a patch for expo-av to use the latest ExoPlayer. I have very little Java knowledge, but just briefly tested some short audio and video cli

[2022-08-25 06:00] anthonyeden commented on #1633
I encountered a similar bug on the nightly release.

When it crashes, I'm trying to empty the queue and add one new item.

From logcat:

`
08-25 15:58:48.950  3513  3513 E AndroidRuntime: java.lang.RuntimeException: Unable to stop service com.doublesymmetry.trackplayer.service.MusicService@345f195: kotlin.UninitializedPropertyAccessException: lateinit property player has not been initialized
08-25

[2022-08-25 06:08] anthonyeden commented on #1633
I think in my case, it's crashing when I do `await TrackPlayer.getCurrentTrack();` if there's nothing playing.

[2022-08-25 09:07] minhchienwikipedia commented on #1633
Confirmed the version `2.2.0-rc4` fixed my issue. Maybe you can try it @anthonyeden

[2022-08-25 14:46] nicomontanari commented on #1636
@devpolo we also encountered the same error even after less than 5 minutes. Unfortunately we noticed this problem after deploying the app in production and the audio does not start due to this problem.

[2022-08-25 20:55] craigmclean39 commented on #1624
Looked into this issue a bit, as it's also a problem on a project i'm working on. It looks like `onTrackUpdate` is being called from `onPositionDiscontinuity`, and `onPositionDiscontinuity` is being called with the reason `DISCONTINUITY_REASON_AUTO_TRANSITION`. This is called before `onPlayerStateChange`, and regardless, even if you pause the player in `onPositionDiscontinuity` it's too late. A sp